[2020-01-30 22:18] #799 closed

[2020-01-31 10:53] AzizNgoueya commented on #787
@woodsp-ibm the execution time is better with the `0.6.2` version aqua by setting `shots=1`. @yaelbh made me realize that with this option it's  aer that supports the calculation of the expectation value. Thanks

[2020-01-31 10:53] #787 closed

[2020-01-31 13:44] woodsp-ibm commented on #787
@AzizNgoueya Great, that's good to hear. How much did things improve for you in the end out of curiosity?

[2020-01-31 13:48] woodsp-ibm commented on #793
#794 closes this issue.

[2020-01-31 13:55] #793 closed

[2020-01-31 14:35] AzizNgoueya commented on #787
@woodsp-ibm the energy evaluation takes approximately 100 seconds with 25 qubits(against more than 1000 seconds with 1024 shots). It's an incredible improvement.

[2020-02-05 09:49] EliasCombarro opened #809 "Error executing Deutsch-Jozsa with different QuantumInstances"
### Informations

- **Qiskit Aqua version**:

{'qiskit-terra': '0.11.1',
 'qiskit-aer': '0.3.4',
 'qiskit-ignis': '0.2.0',
 'qiskit-ibmq-provider': '0.4.5',
 'qiskit-aqua': '0.6.2',
 'qiskit': '0.14.1'}

- **Python version**:

Executing on IBM Q Experience Jupyter Notebook Server

- **Operating system**:

Executing on IBM Q Experience Jupyter Notebook Server

### What is the current behavior?

If

[2020-02-05 13:20] woodsp-ibm commented on #809
To have this work you should re-create the algorithm (DJ) and components (oracles in this case) for each experiment. Consider that after construction and when run the algorithm/components are "consumed" by the experiment to produce the end result. I.e. internal variables may be updated as part of the run in producing the result (only in construction of the new instance are such variables set to de

[2020-02-05 13:20] EliasCombarro opened #810 "Error when using LogicalExpressionOracle with Deutsch-Jozsa or Grover"
### Informations

- **Qiskit Aqua version**:

{'qiskit-terra': '0.11.1',
'qiskit-aer': '0.3.4',
'qiskit-ignis': '0.2.0',
'qiskit-ibmq-provider': '0.4.5',
'qiskit-aqua': '0.6.2',
'qiskit': '0.14.1'}

- **Python version**:

Executing on IBM Q Experience Jupyter Notebook Server

- **Operating system**:

Executing on IBM Q Experience Jupyter Notebook Server

### What is the current behavior?

When usi

[2020-02-05 13:23] EliasCombarro commented on #809
Thank you. I had found a similar workaround, but thought you might be interested in knowing about the problem. Glad that you are onto it and thanks again for the response!

[2020-02-05 13:37] woodsp-ibm commented on #809
Sure, you're welcome. Evidently instance re-use can require much more careful implementation and testing to ensure things all work, but as I mentioned we are re-evaluating this aspect for other reasons. So in the future what you had tried to do may become possible but for now each experiment should have new instances. If you do this you should not have this problem.

[2020-02-05 13:37] #809 closed

[2020-02-05 19:37] woodsp-ibm commented on #810
The circuit generated from the above requires 35 qubits. If you tried running the above under BasicAer instead of Aer you would have seen an error to the effect that the number of qubits is 35  but BasicAer only supports up to 24. Under Aer it tries, since it can potentially support more, though still results in a failure, but as you indicate it seems to be down to the sheer size. We might be able

[2020-02-06 07:47] EliasCombarro commented on #810
OK, I understand. Thanks!

[2020-02-06 07:47] EliasCombarro commented on #809
Understood, thank you!

[2020-02-06 07:55] EliasCombarro opened #811 "LogicalExpressionOracle creates wrong circuit sometimes"
### Informations

- **Qiskit Aqua version**:

{'qiskit-terra': '0.11.1',
'qiskit-aer': '0.3.4',
'qiskit-ignis': '0.2.0',
'qiskit-ibmq-provider': '0.4.5',
'qiskit-aqua': '0.6.2',
'qiskit': '0.14.1'}

- **Python version**:

Executing on IBM Q Experience Jupyter Notebook Server

- **Operating system**:

Executing on IBM Q Experience Jupyter Notebook Server

### What is the current behavior?

When usi

[2020-02-07 13:45] #789 closed

[2020-02-07 13:45] #790 closed

[2020-02-07 13:45] #796 closed

[2020-02-07 15:39] Zoufalc opened #815 "Expectation value w.r.t. qreg list"
### What is the expected enhancement?

Allow expectation value evaluation circuit generation w.r.t. to a list of qregs instead of a single qreg only

In the WeightedPauliOperator line 643, 644 the following check is conducted
            if not wave_function.has_register(qr):
                raise AquaError("The provided QuantumRegister (qr) is not in the circuit.")
This prevents to construct the

[2020-02-12 20:35] wadejong opened #818 "pip install for Python 3.7 and 3.8 give different results"
### Informations

- **Qiskit Aqua version**: 0.6.4
- **Python version**: 3.7 and 3.8
- **Operating system**: Linux

### What is the current behavior?

Behavior of qiskit for Python 3.7 and 3.8, specifically the chemistry package, are different. It fails under 3.7 and works under 3.8.

Installing qiskit with Python 3.7 leads to:

    from qiskit.chemistry.fermionic_operator import FermionicOperator

[2020-02-12 22:35] manoelmarques commented on #818
You may have the old qiskit-chemistry package installed in your python 3.7 environment. Could you please check if it is there and uninstall it ? That package is not used anymore since it is part of qiskit-aqua.

[2020-02-12 22:43] wadejong commented on #818
Weird. Did another new conda environment with python 3.7 and this time it
did work. Hmmm. OK, issue can be closed I guess.

On Wed, Feb 12, 2020 at 2:35 PM Manoel Marques <notifications@github.com>
wrote:

[2020-02-12 22:46] manoelmarques commented on #818
Yes, that is probably because the old environment had the old qiskit-chemistry package installed.

[2020-02-12 22:58] wadejong commented on #818
Actually, I think pip install pytket might have reverted it back now that I
think about it.

On Wed, Feb 12, 2020 at 2:46 PM Manoel Marques <notifications@github.com>
wrote:

[2020-02-13 01:32] #811 closed

[2020-02-13 16:28] #818 closed

[2020-02-14 13:55] pbark opened #823 "Provide a universal FCIDump parser for chemistry"
### What is the expected behavior?
Parser for FCIDump files ( https://www.sciencedirect.com/science/article/pii/0010465589900337 ) for the generation of one- and two-body integrals for molecular systems.

[2020-02-14 14:49] woodsp-ibm commented on #823
This will be in the form of a parser and an FCIDump driver, similar to HDF5Driver, that instead of reading HDF5 files as an input reads FCIDump files?

[2020-02-14 15:11] mrossinek commented on #823
I was thinking of implementing `FCIDumpParser` which can be used by `FCIDumpDriver` to generate a basic `QMolecule` object. Since the FCIDump format only provides the bare basics (i.e. `h1`, `h2`, mo-energies (`optional`) and `enuc`) it will never provide a full-fledged instance like the `QMolecule.load` does at the moment using HDF5.
In this fashion the parser could also be reused by other driver

[2020-02-14 16:42] zhendongli2008 opened #824 "ordering of two-body integrals"
In qmolecule.py, there is a line:
        **ints_aa = numpy.einsum('ijkl->ljik', mohijkl)**

I think this is misleading, because in the fermionic operator construction, it is mentioned two_body_integrals should be in chemist notation [ij|kl].
In fact, this permutation only gives correct results for real molecular orbitals.

[2020-02-14 16:55] woodsp-ibm commented on #823
An FCIDumpDriver will feature only what you can extract from FCIDump of course. The HDF5 format, ie. QMolecule is a superset if you will of what is supported. Not all fields will be created by all drivers. For instance not all the drivers have dipole integrals. As long as the basics are created in the QMolecule from the FCIDumpDriver when its run with an FCIDump file then it should be ok. It is no

[2020-02-14 17:08] woodsp-ibm commented on #824
The h1 and h2 inputs to FermionicOperator are expected to be in a block spin format i.e. spin up and then spin down. You can see there in the QMolecule how the various integrals coming from the chemistry libraries/programs are converted to this format. So where it talks about h1 being a 2D NxN here N is 2 time the number of molecular orbitals since spin up and spin down are separate. Also the two

[2020-02-15 01:53] zhendongli2008 commented on #824
I understand the spin block structure. What I'm confusing about is that
line where the permutation is applied to the two-body integrals.
I looked at the change history, and it was introduced recently. Let us
ignore the spin for the moment.
Given a chemist notation [ij|kl], the following two definition of h2 are
both correct,

# [ij|kl]
#
# H2 = 1/2<ik|jm>*a[i]^+a[k]^+a[m]a[j]
#    = h2(i,j,k,m)*a[

[2020-02-15 14:45] woodsp-ibm commented on #824
The index rearranging has been there all the time. Here is the earliest version of QMolecule from the first public release in May 2018. https://github.com/Qiskit/qiskit-chemistry/blob/f3dd12a0db9e077b79b373deeb0567d41a42c48f/qiskit_aqua_chemistry/qmolecule.py where you can see this on line 77 (it was rather simpler code back then as we only had closed shell support) Chemistry was in then (now arch

[2020-02-15 15:04] zhendongli2008 commented on #824
Thanks for your clarification! Then, it is the comment in the
FermionicOperator that makes things confusing. Because when it is referred
as 'chemist' notation,
then people would normally assumed h2(i,j,k,l) = [ij|kl]. But this does not
seem to be the case due to the re-arrangement.

"""
| This class requires the integrals stored in the '*chemist*' notation
| h2(i,j,k,l) --> adag_i adag_k a_l a_j
|

[2020-02-15 17:59] woodsp-ibm commented on #810
I made a change so as to raise an exception with the underlying failure instead of having a message about a circuit not being found. Hopefully this improves things but it does not fix the overall problem as such just the exception/message raised.

Please note that in the meanwhile some work was done to improve the logical expression oracle in PR #821 which allows the above example to now in fact w

[2020-02-15 19:19] #810 closed

[2020-02-17 01:20] ismaila-at-za-ibm opened #828 "Quantum Post-selection Support for Statevector"
### What is the expected behavior?
Exactly as was done for Issue #793 in PR #794 should be done for:

def get_subsystem_density_matrix(statevector, trace_systems)

[2020-02-17 08:11] EliasCombarro commented on #811
Thanks!

[2020-02-17 08:12] EliasCombarro commented on #810
Thank you!

[2020-02-19 12:53] Cryoris commented on #755
Once Qiskit/qiskit-terra#3714 is merged, we can remove the gates from Aqua (except the boolean logic one).

[2020-02-21 20:38] kareem1925 commented on #768
hi @woodsp-ibm, i'm now having the same issue because of the while loop :cry:
in this [line](https://github.com/Qiskit/qiskit-aqua/blob/4b9ef07c3ed1dcbf985d2b545134509ec9a96f9d/qiskit/aqua/components/optimizers/aqgd.py#L159). #770 I thought that this pull request should have solved the problem
and it actually solved the problem locally on my device

[2020-02-23 15:15] woodsp-ibm commented on #768
Hi @kareem1925 the PR was for the master branch. This has not yet been released but will be part of the upcoming 0.7.0 currently planned for March. In the master the line has changed https://github.com/Qiskit/qiskit-aqua/blob/769ca8f7fbb91fcfb4dd47c956b6358bb53212ef/qiskit/aqua/components/optimizers/aqgd.py#L141 so installing qiskit from source (clones) of the repo should work. So if you installed

[2020-02-25 15:49] Zoufalc opened #832 "Enable error mitigation for circuits with different qubit mappings in a single QuantumInstance Execute"
### What is the expected behavior?
**Current status:**
In qiskit/aqua/utils/measurement_error_mitigation.py
             get_measured_qubits(transpiled_circuits)
             get_measured_qubits_from_qobj(qobj)

The function checks whether all circuits in transpiled_circuits resp. qobj have the same mapping from qubits to cbits. If the mapping is different the error mitigation fails for _HW-backen

[2020-03-03 08:09] yaelbh opened #838 "Quantum instance timeout parameter is not working with Aer simulator"
### Informations

- **Qiskit Aqua version**: master
- **Python version**: 3.6.5
- **Operating system**: Linux

### What is the current behavior?

The timeout parameter seems to be ignored by the Aer simulator.

### Steps to reproduce the problem

Take any long enough VQE instance and initiate the quantum instance like this:
[code]
You will see that it keeps of running much longer than 10 seconds,

[2020-03-03 08:48] yaelbh commented on #838
Closing because I do get a timeout exception when I set the timeout threshold to 1 second

[2020-03-03 08:48] #838 closed

[2020-03-05 15:50] AzizNgoueya opened #840 "Measurement not at the end for IQAE algorithm"
### Informations

- **Qiskit Aqua version**: 0.6.4
- **Python version**: 3.8.1
- **Operating system**: Windows

### What is the current behavior?
Using the IQAE algorithm on the real backend fails due to the operations or gates placed after the measure of target qubit.

### Steps to reproduce the problem
[code]

### What is the expected behavior?
No additionnal gates after the measurement.

### Su

[2020-03-05 17:26] Cryoris commented on #840
Although the transpiler shouldn't push any gates behind the measurements, I could reproduce a case where this happens. Thanks for finding this bug, I'll add a barrier before the measurement.

Concerning the pre-computation of the `Q^k`: the algorithm iteratively chooses the next `k_next` based on the output of the circuit with `Q^k_old`, so it is not possible to know the sequence of powers `k` bef

[2020-03-05 17:47] AzizNgoueya commented on #840
Sorry, i meant if we know already the value of k, how to implement the circuit Q^k? In the qiskit code it's implemented recursively(k times), but the client is asking if it's better to compute first the operator Q^k (product of k matrix) and then create the circuit associated.

[2020-03-05 18:00] stefan-woerner commented on #840
This only works in very special cases (e.g. for 1 or 2 qubits). In general, we do not know how to compute Q^k other than repeating Q.

[2020-03-05 23:09] #840 closed

[2020-03-06 07:50] Cryoris commented on #840
@AzizNgoueya could you check if the problem is fixed with the latest version of the Aqua master branch? If not, then we can re-open this issue.

[2020-03-06 09:12] Cryoris opened #843 "Fix the copyright years"
### Summary

The Aqua build currently fails due to the copyright year checker, which asserts that the copyright year is (2018 for the year of the creation of Aqua)
[code]
However after confirming with @nonhermitian, the correct header would be
[code]
We should change the behaviour of the CI accordingly.

### Details

I think we have three possible options to change the current configuration
1. rem

[2020-03-06 13:20] woodsp-ibm commented on #843
The files should have first year of creation, and last year of modification if this is different than first year of creation. We do not check the year of creation only that the last year of modification is the same as the last commit date since as you point history can be lost. The last year is checked since often when PRs were generated and code was created/changed the copyright was not changed w

[2020-03-06 14:02] AzizNgoueya commented on #840
@Cryoris i just tested on the master branch and i can confirm that the measurement is always at the end. Thanks

[2020-03-06 17:11] #843 closed

[2020-03-09 18:26] AustinGilliam opened #847 "Add Grover Optimization to the Optimization Stack"
### What is the expected enhancement?

I'd like to add a Grover Optimization method to the optimization stack, specifically the code used to implement https://arxiv.org/abs/1912.04088, which was written in collaboration with Stefan Woerner. I've already discussed adding the code with him, just creating this enhancement request to track alongside the PR, as requested in the contributing guidelines.

[2020-03-10 09:58] nonhermitian opened #850 "QuantumInstance does not work with TensorMeasFitter"
### Informations

- **Qiskit Aqua version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
`QuantumInstance` docstrings says it works with `TensorMeasFitter` but upon execution it raises the fact that it does not work yet.

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-03-11 12:34] AustinGilliam commented on #847
Working with @stefan-woerner to consolidate optimization changes on another fork. Closing this issue and moving the code there.

[2020-03-11 12:34] #847 closed

[2020-03-13 07:23] JiahaoYao opened #853 "visualization of the var_form"
I run the variance form and get the circuit like this:

![image](https://user-images.githubusercontent.com/20907377/76598712-ab614b00-64c0-11ea-803c-ce3ccfc88b2d.png)

I find the evolution parts are not expanded. I looked into the src code and find the following code building the circuit. I wonder how to visualize the this part of the circuit.
[https://github.com/Qiskit/qiskit-aqua/blob/ffbd107ea7

[2020-03-13 13:47] woodsp-ibm commented on #853
When you get circuit from the var form, you can use decompose() on the return circuit, i.e. print(qc.decompose()) to see have these blocks broken down (decomposed)

[2020-03-13 15:56] samadio opened #854 "question: IQFT on subsytem of reversed order qubits state"
- **Qiskit Aqua version**: 0.6.4
- **Python version**: 3.7
- **Operating system**: Linux, Ubuntu 18.04

I'm trying to apply partial IQFT on a state. I have (for example) a 3 qubits state `psi` as ndarray s.t. ` psi[0] = amplitude of 000` and `psi[1] = amplitude of 001`.  So I have qubit ordering reverted w.r.t. qiskit

In order to avoid a lot of memory usage in future computation, I'd prefer not t

[2020-03-13 17:50] JiahaoYao commented on #853
@woodsp-ibm Thanks, exactly what I need!

[2020-03-13 17:50] #853 closed

[2020-03-13 19:57] #850 closed

[2020-03-15 17:28] ZainabASA opened #856 "Question: I implement gradient descent optimizer>and this error display... 'GD' object has no attribute '_configuration'"
### What is the expected enhancement?

[2020-03-15 17:29] ZainabASA opened #857 "Question: I implement gradient descent optimizer...and this error display... 'GD' object has no attribute '_configuration' what is the reason?"
*BUG TEMPLATE*

### Informations

- **Qiskit Aqua version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

---

*FEATURE REQUEST TEMPLATE*

### What is the expected behavior?

---

*ENHANCEMENT REQUEST TEMPLATE*

### What is the expected enhancement?

[2020-03-15 20:49] woodsp-ibm commented on #856
Closing as duplicate of #857

[2020-03-15 20:49] #856 closed

[2020-03-15 21:03] woodsp-ibm commented on #857
I suspect you are implementing an optimizer using the stable code as a base rather than code from master branch of the repository here (you did not complete any information such as version in the issue template which is designed to help us help you).  Components in Aqua used to have a CONFIGURATION dictionary, from which the _configuration was set. You can look at other optimizer code in Aqua (sta

[2020-03-15 21:39] ZainabASA commented on #857
many thanks, @woodsp-ibm  for your reply.
To implement my own optimizer to use with VQE algorithms, I must use Optimizer from qiskit.aqua.components.optimizers  or not.

[2020-03-15 23:16] woodsp-ibm commented on #857
Hi, yes you would sub-class Optimizer. Each component type has its own base class, so for optimizers this is Optimizer. By implementing the class it means that any algorithm that uses an Optimizer in Aqua can use any one of the specific sub-class optimizer implementations. There are quite a few optimizers there that you can look at as examples, some which wrap scipy optimizers and others which are

[2020-03-17 13:30] #857 closed

[2020-03-17 14:45] #854 closed

[2020-03-19 14:44] #823 closed

[2020-03-19 14:50] Cryoris opened #860 "QFT as a circuit method"
### What is the expected behavior?

If we want to do a quantum fourier transform on a circuit we have to construct a `QFT` object and append it to the circuit. It would be much more natural and easier if we could just call a `.qft` method on the circuit with the appropriate arguments.

E.g. instead of
[code]
have
[code]

This is not an immediate feature request, since the QFTs are also subject to

[2020-03-19 15:03] woodsp-ibm commented on #860
I would like to understand more how the circuit will work/look for Ansatz before commenting further. I would have expected QFT to extend QuantumCircuit from what I understood was under discussion for Ansatz  - then the above would be circuit = QFT(mode='standard').

Otherwise if not, would qft be a standard method on QuantumCircuit - if its monkey patched on then I would want to avoid that at all

[2020-03-19 15:12] Cryoris commented on #860
I'm suggesting that we allow using the QFT as gate *additionally* to offering the QFT object.
I'm thinking of this the same way as the Y-rotation exists as `RYGate` and `QuantumCircuit.ry`. It seems more user-friendly to support both. And eventually the QFT is just a more elaborate gate :slightly_smiling_face:

The reason I'm opening this issue is to see how everybody feels about offering this syn

[2020-03-19 16:00] woodsp-ibm commented on #860
For me it depends how .qft comes about. Monkey patched gates are a pain as you have to know they exist since they do not show up in IDEs for discovery. Directly added as methods for circuits that comprise some library of .qft, .phase_estimation etc then they are discoverable along with docstring help etc. I guess this ends up more of a question to Terra team framed like this though.
I am not sure

[2020-03-19 16:13] Cryoris commented on #860
I agree that monkey patched gates are annoying since they don't show up for IDE discovery.
But that's a bit a different topic since this is the case for all gates at the moment.

One could raise the same points when talking about the standard gates. How is the QFT case different to the RY case in your opinion? Are you worrying that the missed IDE discovery is worse here because a `.qft` method wou

[2020-03-19 17:07] woodsp-ibm commented on #860
Standard gates are be one thing (not keen on these either) but a circuit library that grows, where more function is added, seems less than desirable keep monkey patching things in.

Under what we had envisioned being done in #626 your above example was expected to be simpler more like

[code]
which maintains discoverability etc. (assuming all library objects we add are easily discoverable too)

[2020-03-19 21:43] Cryoris commented on #860
The example you've posted is going to be possible soon, it's an upcoming feature of Terra that the registers can be overwritten. Along with QFT as `QuantumCircuit` we're there :+1:

But say we find a possibility to not do monkey-patching would that resolve your concerns? I'm also not saying everything in the circuit library should be appendable in this manner, but for the particular case of the QF

[2020-03-20 00:54] nonhermitian opened #862 "SPSA has no convergence criteria and need not return best answer"
### What is the expected enhancement?
In using any optimization algorithm it is important to have some notion of convergence.  The SPSA algorithm currently does not have any convergence criteria and need not return the best solution.

For example, consider the following plot of iterations from an actual device run:

<img width="367" alt="Screen Shot 2020-03-19 at 8 39 59 PM" src="https://user-imag

[2020-03-20 14:49] Cryoris commented on #750
@a-matsuo @t-imamichi Is this still open or has it been fixed?

[2020-03-20 15:04] #525 closed

[2020-03-20 19:12] #832 closed

[2020-03-21 16:16] #717 closed

[2020-03-23 12:04] mattarnoatibm opened #869 "Allow qubits and circuit parameters to be optional in QFT construct_circuit methods"
### What is the expected enhancement?

Currently, the `construct_circuit` method of the `qiskit.aqua.components.qfts.Standard` class requires both the `qubits` and `circuit` parameters to be specified. The enhancement is to make the `construct_circuit` method work when either or neither of these parameters are specified.

The following code

[code]

leads to `construct_circuit` throwing the except

[2020-03-23 13:37] woodsp-ibm commented on #869
Hi Matthew, at present we have been refactoring variational forms and feature maps (Anzatzes) to improve usability, flexibility as well as having improved synergy with Terra via any needed changes to both Aqua and Terra. This will be extended out to other components once the set of changes have been implemented, aspects of which are still under discussion.
You can see there has already been some d

[2020-03-23 19:21] kuehnste opened #879 "Measuring an operator using construct_evaluation_circuit yields incorrect results"
### Informations

- **Qiskit version**: qiskit.__version__ yields '0.12.0'
- **Operating system**: Windows, Linux
- **Python version**: 3.7.6 on Windows, 3.7.4 on Linux

### What is the current behavior?
Using the output of the function construct_evaluation_circuit of the class WeightedPauliOperator to measure an operator yields an incorrect result in a certain case. The value obtained is twice th

[2020-03-24 01:58] t-imamichi commented on #750
Thank you. @a-matsuo is working on it. It will be fixed soon.

[2020-03-25 19:59] woodsp-ibm commented on #755
Gates left in Aqua are mcmt and boolean logic. These were never duplicated and the duplicate gates, the subject of this issue have been removed. Should this be closed and if needed another issue to manage mcmt and/or boolean logic gates if change there is still expected?

[2020-03-25 20:37] #755 closed

[2020-03-25 20:44] Cryoris opened #872 "Port boolean logic gates and MCMT to Terra"
### What is the expected enhancement?

The multi controlled gates have been moved to Aqua, left are the boolean logic gates and the MCMT gate. The multi-control multi-target gate can be moved to Terra already. To implement the boolean logic gates as `Gate` types we need the multi-controlled X gate to be implemented.

### Progress

- [x] Implement MCU1 as gate (blocks MCX), status: Qiskit/qiskit-te

[2020-03-31 07:31] a-matsuo commented on #750
In the current implementation, all variables have to go to the left side of an equation and all constants have to go to the right side of the equation. It's the root cause. To support constraints such as `(x=y)`, I'm working on it.

[2020-03-31 17:47] pbark opened #880 "More efficient method for computing commutators of operators"
### What is the expected enhancement?
Need for a new efficient commutator routine which can be used to compute commutators of product of operators. Should also be integrated with q_eom.

[2020-03-31 22:16] woodsp-ibm commented on #879
The measurement is an evaluation of the operator against the state as prepared by the circuit. To have the eigenvalue as you expect that state supplied by the circuit needs to be the corresponding eigenstate.

Try running VQE on H2 which uses the variational principle to find the minimum eigenvalue. The circuit as described by the variational form (ansatz) at that point will describe eigenstate. F

[2020-04-02 07:05] kuehnste commented on #879
The circuit given in my example prepares the ground state of the Hamiltonian, which is also unique as the exact diagonalization results show. My point is not that I want to get the ground state, but rather that H and H2 are the **same** operator, the only difference is that H2 is constructed as H2 = 0.5*XX - 0.5*YY -0.5*ZZ + 0.5*XX - 0.5*YY -0.5*ZZ, whereas H is constructed as H = XX - YY - ZZ. He

[2020-04-03 23:38] rp87701n opened #884 "IBMQBackendApiError: "Error submitting job: '400 Client Error"
### Information
![Screen Shot 2020-04-03 at 7 35 21 PM](https://user-images.githubusercontent.com/63130528/78412742-81dca080-75e2-11ea-9986-e036c439e86e.png)
![Screen Shot 2020-04-03 at 7 36 13 PM](https://user-images.githubusercontent.com/63130528/78412743-82753700-75e2-11ea-93ec-a1c69df582f4.png)
Qiskit Software | Version
-- | --
Qiskit | 0.16.2
Terra | 0.12.0
Aer | 0.4.1
Ignis | 0.2.0
Aqua | 0.

[2020-04-04 06:56] JiahaoYao opened #885 "Question about the var_form"
## Information

- **Qiskit Aqua version**: 0.6.4
- **Python version**: 3.7
- **Operating system**: Ubuntu 18.04

For [objective function](https://github.com/Qiskit/qiskit-aqua/blob/8db89337f28d8b729d1a6eec3cfff0de5119e405/qiskit/aqua/algorithms/minimum_eigen_solvers/vqe.py#L329-L401) in the var_form,

1. Here, the [splitting](https://github.com/Qiskit/qiskit-aqua/blob/8db89337f28d8b729d1a6eec3cfff

[2020-04-04 14:29] fbm2718 commented on #884
I actually have the same problem with melbourne backend since yesterday's evening (CEST). I cannot send ANY job because I get the error about too many concurring job requests, even though I do not have any jobs pending (according to my profile's dashboard). 5-qubit backends work normally and I can send jobs to them.

[2020-04-04 16:54] woodsp-ibm commented on #885
In VQE the core of objective function takes a point (parameter list of floats one value for each dimension in the problem) so that the energy can be evaluated at that point/state (parameters are set into var form) of the operator. Now some optimizers compute a gradient at the point they are currently at which is often done with a finite difference method such that many close points in the neighbor

[2020-04-04 17:32] JiahaoYao commented on #885
Thank @woodsp-ibm for the response.

In order to be more precise, here is the minimal example:

[code]

Then, generate some points:
[code]

I evulate the circuit sequentially
[code]
The results are
[code]

If i use the built-in sequential evaluation function
[code]
The results are different
[code]

But, the first is always the same. Are the two supposed to be the same?

[2020-04-06 14:43] jyu00 commented on #884
On the public devices, including `ibmq_qasm_simulator`,  you can only have 5 unfinished jobs at a time.

@fbm2718 Are you saying that you verified you had no pending jobs _before_ trying to run a job, yet the job submit still failed with the "maximum number reached" error?

[2020-04-06 18:54] #750 closed

[2020-04-07 12:37] jyu00 commented on #884
@rp87701n The issue should be fixed now, so can you try running jobs again? If it somehow still doesn't work, can you post the failing job ID and the backend you used? Thanks!

[2020-04-07 13:48] dongreenberg opened #890 "Enhance Callback to Expose Grouped Energy Evaluations."
I would like to change the VQE callback to the below, to allow one to access an accurate picture of the evaluation steps, and to distinguish between single energy and gradient evaluations. Right now we call the callback once for each energy calculated, so a 16-energy gradient calculation is not distinguishable to the callback from a single-energy evaluation. The code below calls the callback with

[2020-04-07 14:20] woodsp-ibm commented on #890
I am not sure how that solves the problem - the issue is the optimizer using the same callback to compute the next point on the curve via gradient or whatever. Normally only one parameter set is passed in at once, and even when grouped (which is not default) they are done so in order to potentially allow more parallellization on a simulator and the groupings are most likely just part of a gradient

[2020-04-07 17:21] woodsp-ibm commented on #879
Thanks it turned out to be a bug in the processing/simplification of the pauli list that is passed.

[2020-04-07 18:47] #879 closed

[2020-04-07 22:56] JiahaoYao commented on #885
Any updates?

[2020-04-08 03:43] rp87701n commented on #884
I just tried with ibmq_london instance and got the same error.
please find job id
5e8d45f8db35e20012d27877
5e8d45f5628fb5001299d32a
5e8d45f18de4b40012aa08dc
5e8d45eb628fb5001299d328
5e8d45e78de4b40012aa08da
![Screen Shot 2020-04-07 at 11 39 58 PM](https://user-images.githubusercontent.com/63130528/78742227-76161480-7929-11ea-9e26-47abf6c16acd.png)

[2020-04-08 03:53] rp87701n commented on #884
2. tried with Backend: 'ibmqx2 (<AccountProvider for IBMQ(hub='ibm-q', group='open', project='main')>)', with following setting:
{'basis_gates': ['u1', 'u2', 'u3', 'cx', 'id'], 'coupling_map': [[0, 1], [0, 2], [1, 0], [1, 2], [2, 0], [2, 1], [2, 3], [2, 4], [3, 2], [3, 4], [4, 2], [4, 3]]}
{'pass_manager': None, 'initial_layout': None, 'seed_transpiler': 10598, 'optimization_level': None}
RunConfi

[2020-04-08 03:56] rp87701n commented on #884
here is a snippet of the code that I am running and error that I got during this test.

![Screen Shot 2020-04-07 at 11 54 57 PM](https://user-images.githubusercontent.com/63130528/78742979-61d31700-792b-11ea-9cde-47c6edf000eb.png)
![Screen Shot 2020-04-07 at 11 54 15 PM](https://user-images.githubusercontent.com/63130528/78742981-639cda80-792b-11ea-950b-9f9e12b05a6f.png)

[2020-04-08 12:47] jyu00 commented on #884
@rp87701n In both cases you described above, it seems that you submitted 5 jobs to each device, all 5 jobs were accepted (hence statuses were QUEUED/RUNNING). But the 6th job to each device was rejected? If so, that's the expected behavior as you can only have 5 unfinished jobs at a time. A job is "unfinished" if it's in one of INITIALIZING, QUEUED, VALIDATING, and RUNNING states.

[2020-04-08 14:13] rp87701n commented on #884
@jyu00
No, it is not rejected all jobs were completed.
as I explained earlier.
1. first, I submitted jobs to  ibmq_london and waited for the result, I got an error within 5 sec but when I checked the results page. I saw 3 jobs were running and 2 were queued.
2. since I got the error, I canceled running and queued jobs with ibmq_london. Now no jobs were running on any devices.
3. started to submit

[2020-04-08 22:47] jyu00 commented on #884
@rp87701n
Due to backend limitation on how many circuits are allowed in a job, qiskit-aqua may split an experiment into multiple jobs. When I ran your test case, I could see it tried to submit at least 6 jobs. The first 5 were submitted successfully (in either QUEUED or RUNNING state on my dashboard), but the 6th one failed with the same "job limit reached" error.

[2020-04-08 22:49] jyu00 commented on #884
Having said that, I can create a patch so that if the job limit is reached, it'll wait for the earlier jobs to finish before submitting a new one, rather than failing the experiment.

[2020-04-08 22:59] rp87701n commented on #884
thanks and understood. Not sure why it is submitting 6 jobs. can I run one job at a time? or
is there a way that we can control no. of jobs [any parameter can control a number of jobs that users can run].
Say concurrent_job=1 then it should submit only one job. so that user can control job scheduling

[2020-04-09 13:44] jyu00 commented on #884
Currently there is no option to specify the number of concurrent jobs, but I can add that in when I do the patch.

[2020-04-09 16:20] woodsp-ibm commented on #885
Hi, yes. If I use BasicAer, instead of Aer, then the numbers come out as expected and are identical. You should be able to see this yourself i.e.
`backend = BasicAer.get_backend('qasm_simulator')`

I need to double check things with the Aer team, as to what is happening there, and hope to do that soon.

[2020-04-09 17:28] JiahaoYao commented on #885
Yes, thank you @woodsp-ibm  for your responses!
Using `BasicAer` gives identical results and it will be great if you could check with `Aer` team. That would be very helpful!

[2020-04-09 18:18] AustinGilliam opened #893 "Iterative Grover Allows Custom Lambda"
Would it be possible for Grover to allow a custom "lam" variable, referenced below? It could be a float, or a rotation count sequence, as described in the paper by Baritompa et. al. ([link](https://www.researchgate.net/profile/Graham_Wood/publication/220133694_Grover's_Quantum_Algorithm_Applied_to_Global_Optimization/links/00b7d5278c48a2e0a9000000/Grovers-Quantum-Algorithm-Applied-to-Global-Optimi

[2020-04-09 18:53] woodsp-ibm commented on #893
Is this something you would like to contribute and do a PR with unit tests covering the new function? If so please go ahead. I imagine you would pass lambda in as a parameter and default it to the present value but allow list of values as well as a single float and handle accordingly. Is this what you had in mind?

[2020-04-09 20:29] chriseclectic commented on #885
I think the difference in outputs of when you batch vs don't batch is due to RNG for sampling measurement outcomes in the simulation (this boils down to be basically this issue from Aer: https://github.com/Qiskit/qiskit-aer/issues/585)

If you fix a seed and execute several circuits in a single Qobj Aer only guarantees that the entire output of all circuits is fixed by the seed. Internally only th

[2020-04-09 23:33] rp87701n commented on #884
thanks that would help us. Do you know when this patch get released for testing.

[2020-04-10 13:01] jyu00 commented on #884
@rp87701n I'm hoping to have it available sometime next week.

[2020-04-10 13:07] jyu00 commented on #884
@fbm2718 Are you still having issues with `ibmq_16_melbourne` ? If so, can you post a test case?

[2020-04-10 13:48] fbm2718 commented on #884
@jyu00 Hey, sorry for not reaching out earlier. I was kind of in a hurry and found an inelegant workaround - I simply used different account and using it I can send job requests to melbourne without any problems. (I also tried resetting token, this did not help)

I just  ran the test case on the faulty account:
![ibm_test_case_fbm_0](https://user-images.githubusercontent.com/39441324/78994745-1eea

[2020-04-10 14:28] woodsp-ibm commented on #885
Does this make sense for you?
If you use statevector_simulator, which gives the ideal outcome, then you will see that the numbers match. If you use Aer qasm simulator and increase the number of shots then you will see the numbers start to get closer (try 100,000 shots for instance).
Since this should resolve the issue as to why this occurs if you have no further question on this then please feel f

[2020-04-10 14:31] Cryoris commented on #869
The QFT is being refactored in Qiskit/qiskit-terra#4072. This implements the QFT as `QuantumCircuit` and partially addresses your suggestions already. Once it is merged you can do
[code]
or if you want to insert it into an existing circuit
[code]
We're still working on a nicer way to append the QFT on the circuit, though.

[2020-04-10 16:08] JiahaoYao commented on #885
This is very helpful. Thanks @woodsp-ibm @chriseclectic!

[2020-04-10 16:08] #885 closed

[2020-04-10 19:22] AustinGilliam commented on #893
That is what I had in mind. I don't have the time to contribute the change myself, just saw the opportunity for an enhancement in my work on the GroverOptimizer.

[2020-04-13 14:55] jyu00 commented on #884
@fbm2718 Your old account should be fixed now if you want to use it. Let me know if you encounter this issue again.

[2020-04-13 20:15] yulunwang opened #899 "HHL doesn't give the right answer"
### Information

- **Qiskit Aqua version**: 0.6.4
- **Python version**: 3.7.1
- **Operating system**: Windows

### What is the current behavior?
Hi I am using HHL function in Aqua. Here are two examples I tested:

![image](https://user-images.githubusercontent.com/37082255/79156891-476cc380-7d99-11ea-9860-cf3832cc2c66.png)

For the second example, HHL failed giving me correct answer.

It gives me

[2020-04-14 16:20] fbm2718 commented on #884
@jyu00 Okay, I've just tried it and it works on the old account. Thanks a lot! (out of curiosity - was that very complicated bug?)

[2020-04-15 07:05] Cryoris commented on #869
@mattarnoatibm Could you check if this resolves all your issues? Or are there still some features you are missing?

[2020-04-15 22:01] rp87701n commented on #884
I am trying to run the qsvm on simulator and it is taking lot of time and want to reduce training time.
what are hyperparameter that i can use it .
do you know where 1000 came from? can I control it?

here is the log

2020-04-15 21:55:43,636:qiskit.aqua.components.feature_maps.pauli_expansion:WARNING: Due to the limited entangler_map, ZIIZ is skipped.
2020-04-15 21:55:43,637:qiskit.aqua.components

[2020-04-16 14:03] jyu00 commented on #884
@fbm2718 I don't actually what the bug was. I contacted Quantum Experience support and they fixed it lol.

[2020-04-16 15:25] woodsp-ibm commented on #899
This is being investigated - just so you know the issue is being looked at.

[2020-04-17 09:42] anedumla opened #902 "eigs_qpe.py does not output correctly the eigenvalues"
### Information

- **Qiskit Aqua version**: 0.7.0.dev0+d0bdae9
- **Python version**: 3.8.1
- **Operating system**: Windows 10 Pro

### What is the current behavior?
Eigenvalues are not correctly detected even when these can be exactly represented in binary with the given amount of qubits. The problem was found while investigating issue [`#899`](https://github.com/Qiskit/qiskit-aqua/issues/899) fro

[2020-04-17 09:51] anedumla commented on #899
Hi, thanks for pointing out to this! It seems that the problem is in the QPE part of the algorithm, so I've raised another [issue](https://github.com/Qiskit/qiskit-aqua/issues/902) .

As for your second question, the two matrices have different eigenvalues, and the accuracy of the solution depends on how well you can represent these in binary with 'n' digits - where 'n' is the size of the register

[2020-04-17 22:44] #824 closed

[2020-04-20 12:37] mattarnoatibm commented on #869
Hi @Cryoris , I think that change in qiskit terra adds the features I was looking for with defining QFT circuits. This makes interface for creating a QFT quantum circuit more usable.

[2020-04-20 12:37] #869 closed

[2020-04-20 13:03] jyu00 commented on #884
@rp87701n I don't know the answer to that. You'll likely get an answer faster if you ask on Slack or Stack Exchange.

[2020-04-20 22:58] rp87701n commented on #884
ok, thanks, I will check in slack . can we get a patch released this week.

[2020-04-21 18:04] #884 closed

[2020-04-22 10:05] AzizNgoueya opened #910 "Ability to stop job if it fails with 9999 error code"
### What is the expected enhancement?

At this moment, large circuits generated by Aqua(IQAE for example) exceeding the limit of a real backend is resubmitted. Unless you kill the process locally, the backend is flooded . It would be really beneficial to have a way to avoid this.

[2020-04-22 18:26] georgesbarron opened #911 "Building Custom initial states fails"
### Information

- **Qiskit Aqua version**: 0.13.0
- **Python version**: 3.7.5
- **Operating system**: Debian

[code]

### What is the current behavior?

When using a `Custom` initial state that is constructed using a state vector, calling `.construct_circuit(mode='circuit')` fails.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

To my knowledge, it should use `Sta

[2020-04-22 18:32] georgesbarron commented on #911
Thanks to @jsvandyke86 for letting me know about this @bgard1 for testing it on a different version.

[2020-04-23 01:47] rp87701n commented on #884
I tested code again today and getting the same error.

here is the error 👍
2020-04-23 01:44:22,235:qiskit.aqua.parser.json_schema:DEBUG: Input: {
    "depth": 2,
    "entanglement": "linear",
    "entangler_map": null
}
2020-04-23 01:44:22,237:qiskit.aqua.parser.json_schema:DEBUG: Input Schema: {
    "$schema": "http://json-schema.org/draft-07/schema#",
    "additionalProperties": false,
    "id":

[2020-04-23 01:47] rp87701n commented on #884
Qiskit Software | Version
-- | --
Qiskit | 0.18.1
Terra | 0.13.0
Aer | 0.5.0
Ignis | 0.3.0
Aqua | 0.6.6
IBM Q Provider | 0.6.0

Python | 3.7.6 \| packaged by conda-forge \| (default, Mar 23 2020, 23:03:20) [GCC 7.3.0]
OS | Linux
CPUs | 8
Memory (Gb) | 31.420135498046875
Thu Apr 23 01:41:34 2020 UTC

[2020-04-23 01:48] rp87701n commented on #884
i upgraded both qiskit and Terra version

[2020-04-23 11:48] woodsp-ibm commented on #884
Hi, the fix has taken place in the master branch of the repository here and is not yet included in an official release. The plan is for a release very shortly - until then, to try it, you would have to clone the repositories here - aqua, terra etc and install from the source files. Here is a link that describes this if you are interested https://qiskit.org/documentation/contributing_to_qiskit.html

[2020-04-23 19:44] georgesbarron opened #913 "Multiplying two instances of `TPBGroupedWeightedPauliOperator` fails"
### Information

- **Qiskit Aqua version**: 0.6.5
- **Python version**: 3.7.5
- **Operating system**: Debian

[code]

### What is the current behavior?

Multiplying two instances of `TPBGroupedWeightedPauliOperator` fails.

### Steps to reproduce the problem

[code]

[code]

### What is the expected behavior?

The multiplication should go through and produce an instance of `TPBGroupedWeightedPauli

[2020-04-23 20:23] woodsp-ibm commented on #911
Try upgrading to 0.18.1 (which has Aqua 0.6.6). This should fix the issue you are seeing if its related to the pass manager. The version before 0.17.0 was fine as the API change was done in Terra 0.13.0 but as you see between 0.17.0 and 0.18.0 Aqua remained at the same version and the incompatibility was not noticed when the newer qiskit was released. This has since been fixed.

[2020-04-23 21:29] woodsp-ibm commented on #913
Yes, you are right! I'll change it to take the grouping from self and note that in the docstring. (The prior method seems to have the same problem too). BTW thanks for providing these samples that show the failure - they are super helpful.

[2020-04-23 23:26] #913 closed

[2020-04-24 01:30] rp87701n commented on #884
thanks for the update. I upgraded the new packages. it seems my old code is not working. i guess something changed with this version as well.

Trying to run the same code that was worked earlier but not it is not working.

aqua_globals.random_seed = 1024
feature_map = SecondOrderExpansion(feature_dimension=get_feature_dimension(training_input),
                                   depth=2, entanglem

[2020-04-24 09:10] Cryoris opened #916 "Certain tests are prone to failures"
### Information

- **Qiskit Aqua version**: 0.7.0
- **Python version**: 3.7.5
- **Operating system**: macOS Catalina

### What is the current behavior?

Some tests seem to fail arbitrarily, not very often, but it happens.
This is not pressing, re-running Travis mostly works, but we should address that sometime.

Tests:
- [ ] `aqua/test_readme_sample`
- [ ] `chemistry/test_app_msge`
- [ ] `aqua/tes

[2020-04-24 14:36] woodsp-ibm commented on #884
Hi, you can take a look at this test case https://github.com/Qiskit/qiskit-aqua/blob/master/test/aqua/test_qsvm.py which shows what I think you need

[2020-04-27 05:44] rp87701n commented on #884
thanks . I can see the applied change working now. but after 30 to 45 mins later getting a qiskit.providers.ibmq.job.exceptions.IBMQJobTimeoutError: 'Timeout while waiting for job 5ea667291070d7001959644a.' error.

1. here is fix for the earlier issues which is worked.
2020-04-27 05:34:02,449:qiskit.aqua.components.multiclass_extensions.all_pairs:INFO: Require 45.0 estimators.
2020-04-27 05:34:14,

[2020-04-27 06:42] rp87701n commented on #884
here is the stack trace for this issue.

2020-04-27 06:10:11,548:qiskit.aqua.utils.run_circuits:WARNING: Job limit reached, waiting for job 5ea6773b473d6b0018016e0b to finish before submitting the next one.
2020-04-27 06:14:06,499:qiskit.aqua.utils.run_circuits:WARNING: FAILURE: Can not get job id, Resubmit the qobj to get job id. Terra job error: "Error submitting job: '400 Client Error: Bad Requ

[2020-04-27 13:21] skanderkaz opened #918 "Problem while executing HHL on qasm simulator"
- **Qiskit Aqua version**: 0.6.5
- **Python version**: 3.7.6
- **Operating system**: win 10 / IBMQ

Hi,

I have a problem when executing the HHL algorithm on the backends and on the qasm simulator (it works fine with the statevector simulator). I receive the following error :

SolverError: The solver CVXOPT is not installed.

### Steps to reproduce the problem :

provider = IBMQ.get_provider(group

[2020-04-28 07:58] skanderkaz commented on #918
I'm using qiskit version 0.12.0

Here is the full output for the exception

`SolverError                               Traceback (most recent call last)
<ipython-input-40-7a51cf906997> in <module>
      6     mat = np.diag([i for i in range(1, i+1)]).tolist()
      7     b = [i for i in range(1, i+1)]
----> 8     _, _, fid, width, depth = find_solution(mat, b, backend, ancillae=3)
      9     d['S

[2020-04-28 15:08] woodsp-ibm commented on #918
I am not sure what version you have. You say qiskit 0.12.0 which was released in Aug 2019. Yet in the issue you say qiskit-aqua 0.6.5 and the former has 0.6.0 for Aqua. I tried 0.12.0 and your code will not run because HHL does not have a matrix_resize property. On newer versions the find_solution you provide would not unpack and failed. I just printed the result from BasicAer qasm_simulator as a

[2020-04-28 15:18] woodsp-ibm commented on #911
Hi @georgesbarron having not heard back to the contrary I will assume the above noting that it been fixed is fine, so I will close this issue. If not feel free to re-open.

[2020-04-28 15:18] #911 closed

[2020-04-28 15:44] skanderkaz commented on #918
I updated qiskit and my algorithm works now, thanks a lot. 👍

I now get this Deprecation warning btw:

[code]

[2020-04-28 15:56] dongreenberg commented on #815
Hi Christa - https://github.com/Qiskit/qiskit-aqua/pull/852 gets rid of using specific qregs for the expectation, and instead allows you to just append your expectation measurement to the circuit directly. Does this solve your issue?

[2020-04-28 18:45] woodsp-ibm commented on #918
Great!, Yes, Terra deprecated a method in the latest release and an updated Aqua to correct that has not yet been released. A new version, which will correct that, will be released shortly. Since it works for you now I will close this off.

[2020-04-28 18:45] #918 closed

[2020-04-28 19:29] Zoufalc commented on #815
Hey Donny,
If I can specify the qubits to append the expectation measurement to - which I assume - yes.

[2020-04-29 16:03] nonhermitian opened #926 "Master branch fails to install on OSX because of cplex"
### Information

- **Qiskit Aqua version**: master
- **Python version**: Py37
- **Operating system**: OSX

### What is the current behavior?
trying `python setup.py install` gives:
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-04-29 16:10] nonhermitian commented on #926
`pip install cplex==12.10.0.0` (not latest) seems to work.

[2020-04-29 16:13] nonhermitian opened #927 "Depreciations on loading QuadraticProgram"
### Information

- **Qiskit Aqua version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-04-29 16:15] manoelmarques commented on #926
We are not restricting cplex version:
"cplex; python_version >= '3.6' and python_version < '3.8'",

We may need to restrict the  version

[2020-04-29 16:20] nonhermitian opened #928 "QAOA missing _expectation"
### Information

- **Qiskit Aqua version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?
[code]

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-04-29 18:41] #927 closed

[2020-04-29 18:43] Cryoris commented on #926
Do we want cplex in the requirements at all now that the optimization stack works without? 🤔

[2020-04-29 21:35] Cryoris opened #933 "Refactor Shor's algorithm"
### What is the expected enhancement?

Shor's algorithm could use a refactor, it currently uses a lot of old Qiskit logic which could be written in a much more compact manner. For instance the `inverse()` method of circuits and gates and the `control()` method of gates could be leveraged. Also things like `U3(pi, 0, pi)` can be placed by the proper gate `X`, since there is no performance deteriora

[2020-04-30 15:42] #928 closed

[2020-04-30 22:43] woodsp-ibm commented on #585
Closing as this is now a feature of the circuit function as moved to the Terra circuit library.

[2020-04-30 22:43] #585 closed

[2020-04-30 22:47] woodsp-ibm commented on #752
Closing as several improvements have been added to Terra and IBM Q Provider to address issues like this.

[2020-04-30 22:47] #752 closed

[2020-05-01 03:48] #712 closed

[2020-05-01 03:48] #628 closed

[2020-05-01 10:56] mtreinish opened #943 "Fix warnings during sphinx build"
### Information

- **Qiskit Aqua version**: 0.7.0
- **Python version**: All
- **Operating system**: All

### What is the current behavior?
When building the documentation currently thousands of warnings are being emitted. These warnings are going to result in documentation bugs that need to be fixed (normally missing links or other formatting issues). Additionally, it is causing issues for documen

[2020-05-01 11:30] manoelmarques commented on #943
Our travis contains the command: make html SPHINXOPTS=-W
This in the end runs sphinx-build with the -W flag and we fix doc. errors on our PRs when travis fails.
We wiil investigate it further.

[2020-05-01 11:39] mtreinish commented on #943
The specific warnings I'm seeing are being emitted by the combined docs build: https://travis-ci.com/github/Qiskit/qiskit/jobs/326146475#L19604 there are a lot of warnings sourced from aqua there.

[2020-05-01 11:44] Cryoris commented on #943
Many warnings are of form
[code]
it seems like the `operators` and `operators.legacy` location for the legacy operators is found by  Sphinx.

[2020-05-01 13:01] Cryoris opened #944 "Deprecate the CircuitFactory"
### Summary

The `CircuitFactory` is used as base type for several components used for Amplitude Estimation algorithms. This type was necessary since the circuits & instructions did not have the required functionality of computing the control/inverse/power.

Most of this functionality exists or could be added to the circuit. To strengthen the concept of circuits as first-class citizens in Aqua we

[2020-05-01 13:05] Cryoris opened #945 "Make AmplitudeEstimation accept circuits"
### What is the expected behavior?

Let the Amplitude Estimation algorithms accept circuits as A- and Q-operators. Currently these need to be of type CircuitFactory which requires users to write a new class of that type for each Amplitude Estimation experiment.

Blocks #944.

[2020-05-01 13:06] manoelmarques commented on #943
I believe I found the difference: Aqua doc/conf.py has the following options:
autosummary_generate_overwrite = False
autodoc_default_options = {
    'inherited-members': None,
    'show-inheritance': None,
}
While qiskit doc/conf.py:
autodoc_default_options = {
    'inherited-members': None,
}

[2020-05-01 13:14] woodsp-ibm commented on #943
Curious - I built the docs many times and never saw that. The only time I would ever see anything like that was if I built with the existing stubs folders when things were moved. I would always delete the _build and stubs folders and doing that I have never seen an issue. Last builds I did, on ML and Finance just before release had no warnings, like before. This is with a `make docs` in the docs f

[2020-05-01 13:47] nonhermitian opened #946 "Always get depreciation warning at start up"
### Information

- **Qiskit Terra version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?

<img width="1084" alt="Screen Shot 2020-05-01 at 09 46 44" src="https://user-images.githubusercontent.com/1249193/80809939-c0895a80-8b90-11ea-9926-a1680a6a6934.png">

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-05-01 13:58] nonhermitian commented on #946
Ahh maybe my aqua not up to date

[2020-05-01 14:00] nonhermitian commented on #946
Yep, that fixed it

[2020-05-01 14:00] #946 closed

[2020-05-01 14:20] Cryoris opened #947 "Speed up the tests"
### What is the expected enhancement?

Running all Aqua tests takes a horrendous amount of time. Many tests are end to end and just run the algorithms for different sizes, which 1. takes very long and 2. is not a very stable error detection.

We should filter some of these tests out and add more insightful tests than inspect the creation or runtime states of the algorithms or objects.

Some tests

[2020-05-01 15:02] Cryoris commented on #860
To not blow up the circuit methods (which are not monkey patched anymore) this should probably not be done after all. Also, with the circuit library and the `compose` method adding the QFT is straightforward
[code]
so no need for this anymore!

[2020-05-01 15:02] #860 closed

[2020-05-01 15:05] woodsp-ibm commented on #947
And have more coverage!

[2020-05-01 16:18] t-imamichi commented on #926
Because `QuadraticProgram` does not depend on cplex, I think cplex could be optional.

[2020-05-01 17:08] woodsp-ibm commented on #943
With the conf.py being corrected in qiskit this is not longer an issue right and can be closed?

[2020-05-01 18:26] mtreinish commented on #943
Yep, this can be closed now since it was fixed by Qiskit/qiskit#914

[2020-05-01 18:26] #943 closed

[2020-05-02 13:28] woodsp-ibm commented on #872
mcmt gate still needs to be removed from Aqua

[2020-05-02 16:53] MetcalfeTom commented on #933
@Cryoris I would like to take on this issue!

As proposed, I would replace the generic `UGate`s with their more familiar notation, also adding type hints for all the class functions as well.

In terms of making use of `inverse()`, my plan there would be to make the gate-applying functions more modular - i.e. have them create and return `QuantumCircuit` objects which can be inverted and appended to

[2020-05-03 13:36] Cryoris commented on #933
Sounds great!

Thanks for also thinking of the type hints 😉

I think we could make this more efficient if we would not re-construct the circuits in every function call. If you see that circuits are the same and only the qubits they get applied to changes, then you could construct the circuit once and store it.

The extend method will soon be deprecated (see Qiskit/qiskit-terra#4208). If you want t

[2020-05-04 18:22] #872 closed

[2020-05-04 19:01] mikaelhaglund opened #951 "CPLEX is not supposed to be a requirement, but is now a requirement, so: No Raspberry Pi"
### Information

- **Qiskit Aqua version**: 0.7.0
- **Python version**: 3.7
- **Operating system**: Raspbian/Debian

### What is the current behavior?
pip install qiskit-aqua==0.7.0 generates error.
[code]

There is no wheel for cplex (manylinux, armv7l - only x86 and ppc64) so there is no cplex to get - regardless of python version.

### Steps to reproduce the problem
Try to install Aqua 0.7.0 on

[2020-05-04 20:11] woodsp-ibm commented on #951
The readme referred to the commercial IBM CPLEX product that has been an optional install for an ising algorithm. The cplex requirement installed here, that was introduced this release, is different but related. The readme thus could be clearer. Having said that another issue #926 was raised here where making this cplex install optional has been discussed.

[2020-05-06 14:12] woodsp-ibm opened #954 "Circuit library parameterized var forms produce inconsistent results"
When a circuit library var for such as TwoLocal (RY, RYRZ) is used the outcome of variational algorithms such VQE varies despite the setting random seeds. Not only does it vary but supplying the optimal parameters of one run as the starting point for the parameters of a new run gives an entirely different result. This breaks things on a number of levels including bootstrapping along a dissociation

[2020-05-07 06:39] stefan-woerner opened #955 "IsingToQuadraticProgram converter should only return quadratic part of objective"
Currently, the `IsingToQuadraticProgram` converter in `qiskit.optimization.converters` is translating all single qubit terms to the `qp.objective.linear` and all two qubit terms to `qp.objective.quadratic`. This may cause problems since the resulting objective matrix in the quadratic program has a zero-diagonal and might not be positive semi definite, i.e., the problem is considered non-convex by

[2020-05-07 08:39] a-matsuo commented on #955
I got it. I will make `linear` option for the `IsingToQuadraticProgram` converter.

[2020-05-07 22:02] #926 closed

[2020-05-07 22:02] #951 closed

[2020-05-10 22:53] MetcalfeTom commented on #933
Thanks for the help @Cryoris,

I like the ability of casting to `Gate`, it is very elegant.  I used it to build a gate for the addition in Fourier Space.  With the help of `.control()` and `.inverse()`, this has simplified most of the circuit construction down to two functions - `_controlled_controlled_phi_add_mod_N()` and `_controlled_multiple_mod_N()`.

For a complete solution, I'm trying to cas

[2020-05-11 09:33] t-imamichi opened #965 "Documentation of qiskit.optimization.INFINITY looks strange"
### What is the expected enhancement?

`INFINITY` is a constant to represent the infinite number.
The current description seems to be strange.

https://qiskit.org/documentation/stubs/qiskit.optimization.INFINITY.html#infinity

[2020-05-11 09:44] Cryoris commented on #933
Hmm in principle there's the `qiskit.circuit.Parameter` object which can be used as variable in e.g. rotation angles etc. But seeing that `a` undergoes [quite complex computations](https://github.com/Qiskit/qiskit-aqua/blob/06f3958fb934acbae4fa0d21a6b98b704cdb10c1/qiskit/aqua/algorithms/factorizers/shor.py#L98) I don't think this is possible, as the Parameters only support basic arithmetic operati

[2020-05-11 10:17] woodsp-ibm commented on #965
Yes, I saw that. I tried with some constants in the operator code to do better. In the end I just listed the constants with a description rather than linking to the entity. For a simple entity like this I was going to change it to be similar, since it does not need to be so prominent

[2020-05-11 18:00] #954 closed

[2020-05-11 20:47] smharwood opened #968 "VQE energy evaluation is not simulating sampling error"
### Information

- **Qiskit Aqua version**: '0.8.0.dev0+06f3958'
- **Python version**: 3.6.8
- **Operating system**: Ubuntu 18.04

### What is the current behavior?
When calling VQE._energy_evaluation for a fixed set of parameters, the same energy value is returned

### Steps to reproduce the problem
[code]

### What is the expected behavior?
When using QasmSimulator, I expect noise in the energy

[2020-05-11 21:08] dongreenberg commented on #968
Hey Stuart - in the new Aqua we use the Aer Snapshot Expectation by default for improved performance, which has zero variance because it works by statevector matrix multiplication. To use shot-based expectations, add the following `expect` argument to VQE:
[code]

Let me know if that works!

[2020-05-11 21:15] smharwood commented on #968
Yep, that does it! Thanks

[2020-05-11 21:15] #968 closed

[2020-05-11 22:30] #955 closed

[2020-05-11 22:43] nonhermitian opened #969 "Random QiskitOptimizationError in quadratic program"
### Information

- **Qiskit Aqua version**: 0.7
- **Python version**: 3.8
- **Operating system**: OSX

### What is the current behavior?
The tutorials have been experiencing a random failure in https://github.com/Qiskit/qiskit-tutorials/blob/master/tutorials/optimization/3_minimum_eigen_optimizer.ipynb.  For example

https://dev.azure.com/qiskit-ci/qiskit-tutorials/_build/results?buildId=13563&vie

[2020-05-12 14:50] stefan-woerner commented on #969
Looking into it.

[2020-05-14 06:44] t-imamichi opened #979 "`SummedOp.add` is slow due to linear search and some bugs related to coefficients"
### What is the expected enhancement?

`SummedOp.add(other)` takes O(n) time where n is the size of `oplist`.
It is because `other` is compared with `oplist` in the following line.
https://github.com/Qiskit/qiskit-aqua/blob/e269aa41ce9f749927415e422f795de4b417c1c1/qiskit/aqua/operators/list_ops/summed_op.py#L66
If we take a sum of n operators, it takes O(n^2) time in total.
I think we need a fast

[2020-05-14 09:54] Cryoris opened #980 "Pretty output for optimization elements"
### What is the expected enhancement?

Printing a quadratic program currently just prints the object reference. It would be nice if
[code]
would print a readable overview of the problem, as with `quadratic_program.prettyprint()`.
We can do this by overloading the `__str__` method. While changing this we probably
can also overload the `__repr__` method to print a unique identifier of the quadratic

[2020-05-14 09:56] Cryoris opened #981 "Batch generation of optimization variables"
### What is the expected enhancement?

To create `n` new variables in a quadratic program we have to write
[code]
It seems counter-intuitive to not have a method where we can generate `n` variables at once, e.g. `quadratic_program.add_binary_vars(n)` or `quadratic_program.binary_vars(n)`.

Are there any oppositions to adding this?

[2020-05-14 09:58] Cryoris commented on #916
I didn't observe these issues anymore, probably most of them have been fixed by #967. Though I'm not so sure about the `test_pauli_expectation`. @manoelmarques have you been experiencing any CI failures lately?

[2020-05-14 10:02] t-imamichi commented on #980
I agree with you.
The drawback of prettyprint format is that it does not include the information of lower bounds and upper bounds of variables. So, I used LP format in the tutorials.

[2020-05-14 10:05] Cryoris commented on #980
Including lower and upper bounds would probably good, yes. We can just add them to the output. Maybe we should remove the `prettyprint` function then as well, since it will be covered by `__str__`.

[2020-05-14 10:06] t-imamichi commented on #981
It would be nice to include a variable name format, e.g., `quadratic_program.add_binary_vars(n, 'x_{}')`

[2020-05-14 10:40] stefan-woerner opened #982 "Optimizers should allow to set the penalty factor for the linear constraint to penalty conversion"
Qiskit allows to add linear equality constraint to the objective as quadratic penalty terms, multiplied by a large constant, the penalty factor.
Currently, not all optimizers allow to manually set this factor upfront.
This needs to be adjusted accordingly.

[2020-05-14 11:17] #969 closed

[2020-05-14 21:51] woodsp-ibm opened #989 "Update optimization readme sample"
Update the optimization sample code in the README to showcase the new optimization module. Ensure sample code is also replaced in the respective test_readme_sample file so we can ensure the sample continues to run as expected.

Note: I updated descriptive text in that section of the readme to reflect the new module already.

[2020-05-15 07:49] Cryoris opened #990 "Use reno for releasenotes"
### What is the expected enhancement?

We should start using the [reno](https://docs.openstack.org/reno/latest/) release notes manager to automate the changelog generation (and not having to put the PR number in there manually, among other things).

[2020-05-15 09:22] t-imamichi commented on #979
If the same operator is not allowed in `oplist`, `set` may be better than `list` for `oplist`.

[2020-05-15 13:27] woodsp-ibm opened #991 "Improve QuadraticProgram unit test file access"
For the QuadraticProgram test it fails for me when I run it PyCharm because of the way the .lp files are accessed where it says test/optim.... etc as path name it assumes the current working folder which may be fine when done from command line. Check out test_driver_hdf5 (chemistry) where it uses get_resource_path to help locate the file relative to the test class. This way, as long as the relativ

[2020-05-15 14:26] molar-volume commented on #893
Hi, I am working on it.

Maybe we can also extend the chapter https://qiskit.org/textbook/ch-algorithms/grover.html
with an example of using this lib?

[2020-05-15 15:11] #989 closed

[2020-05-15 18:37] JosDenmark commented on #981
I'd be happy to take this!

[2020-05-15 19:21] #991 closed

[2020-05-16 12:26] Cryoris commented on #981
Nice, let us know if you want to discuss something or need some help!

A good starting point would be here: https://github.com/Qiskit/qiskit-aqua/blob/e1dfe0ef13b589bff7496518bf23195a8cd93377/qiskit/optimization/problems/quadratic_program.py#L194

[2020-05-16 13:28] woodsp-ibm commented on #590
Credits have been removed. There is a job limit of 5 jobs which Aqua now respects so I am closing this issue as it is no longer relevant.

[2020-05-16 13:28] #590 closed

[2020-05-16 13:30] woodsp-ibm commented on #695
Closing - as per above discussion.

[2020-05-16 13:30] #695 closed

[2020-05-16 13:34] woodsp-ibm commented on #815
Christa, from discussion with Donny, and above comments, I understand with the new operator flow and the use now of the new expectation objects that your needs should be accommodated. As such I am closing this.

[2020-05-16 13:34] #815 closed

[2020-05-17 13:53] woodsp-ibm commented on #979
From what I can tell the code for add has this, which would lead to equality checks, I do not believe it is anything to do with preventing/disallowing same operators in list.
[code]

[2020-05-18 06:50] t-imamichi commented on #981
There are some options for batch declaration in docplex for reference, `binary_var_{dict, list, matrix}`.
http://ibmdecisionoptimization.github.io/docplex-doc/mp/docplex.mp.model.html#docplex.mp.model.Model.binary_var_dict
Example:

[2020-05-18 06:59] t-imamichi commented on #979
Yes, `SummedOp.add(op)` behaves as follows.
1. if `op` is same os `self`, it multiplies `self` by 2.
2. if `op` is `SmmedOp`, it returns a SummedOp by concatenating `self.oplist` and `op.oplist`.
3. if `op` is another type of operator, it checks whether `op` is already included in `self.oplist` or not. If so, it adds `op` to `self.oplist[index]` where `self.oplist[index] == op`. Otherwise, it retu

[2020-05-18 07:05] t-imamichi commented on #979
I found a bug related to these behaviors.
If we add a primitive operator, it summed up the same operator thanks to linear search (case 3), i.e., 2.0 * XX.
But, it allows duplicate operators XX (case 2), i.e., XX appears twice.

The behaviors should be consistent.

[code]

output:
[code]

[2020-05-18 07:10] t-imamichi commented on #979
I come up with an idea similar to sympy.
`SummedOp.add(op)` just concatenate `op` to `self.op`. We also make a new API `simplify` to merge duplicate operators.

[2020-05-18 12:08] woodsp-ibm commented on #979
In the prior WeightPauliOperator I will note that it had a simplify() too. Would combine paulis and remove any with zero coeff.

[2020-05-18 12:32] t-imamichi commented on #979
If SummedOp must be simplified all time, we should fix the case 2 (not simplified).

If simplification is not always necessary, `simplify` can be optional. Then, users don't suffer from bottleneck of summing up a bunch of primitive operators.

I'm wondering when simplification is necessary. Does any part of the operator flow require operators to be simplified?

[2020-05-18 13:09] woodsp-ibm commented on #979
I would think when it came to computing an expectation value, if the operator was not grouped (the default) then it should be at least simplified at that point. At other times I would think it should be optional. In the prior WeightedPauliOperator it was simplified at construction and also (self and other) for equality comparison. If the opflow equals detects equality correctly, such as in your ab

[2020-05-18 15:37] plussoyeur opened #998 "Running into error 'Composition is not defined over Operators of different dimensions, 4 and 8'"
### Information

- **Qiskit Aqua version**: 0.7.1
- **Python version**: 3.7.3
- **Operating system**: NAME= elementary OS / 5.1.4 Hera

### What is the current behavior?

I am trying to run a QAOA algorithm and I run into a dimensionality issue when I try to append an initial circuit. If I remove this circuit, everything works perfectly fine. I did check that my initial circuit has 4 qubits and th

[2020-05-18 15:47] Cryoris commented on #998
This seems to be a bug caused by naming explicitly creating the qubit register of the initial state, since the composing circuits with differently named registers can stack them on top of each other instead of appending them. Try running this slightly modified version
[code]
Until we figure out where this composition error comes from.

[2020-05-18 15:49] plussoyeur commented on #998
Thanks a lot. This works. I did try that on an older version of qiskit and that did not solve the issue but this works perfectly here.

[2020-05-18 15:55] t-imamichi commented on #979
Thank you for your information. I try to separate `simplify` as an optional method and check unit tests related to expectation value.

[2020-05-19 05:46] t-imamichi commented on #979
@woodsp-ibm I found another bug of `SummedOp.add`. I will fix it with my change.

[code]

Output:
[code]

[2020-05-19 08:48] t-imamichi commented on #979
I found another bug when `self == other` because `add` does not care `self.coeff`.

Example:
[code]

[code]

[2020-05-19 13:53] #990 closed

[2020-05-20 03:25] obarbier commented on #981
Can we maybe work on this together. I too looking to add some value to this

[2020-05-20 09:18] t-imamichi opened #1003 "How to deal with removal of BasicAer?"
### What is the expected enhancement?

The removal of BasicAer is under discussion.
https://github.com/Qiskit/qiskit-terra/issues/4443

There are some Aqua modules that use BasicAer, e.g., CircuitOp.
It would be good to discuss how to deal with the removal.

[2020-05-20 17:23] JosDenmark commented on #981
@obarbier Unfortunately, I can't commit to a regular correspondence. It may be faster for you to continue independently.

[2020-05-20 18:37] Cryoris commented on #981
Not sure if this is enough work for multiple people to work on, you'd probably run into merge conflicts since you are working on the same code. @obarbier you could maybe tackle another optimization stack issue, e.g. #980 or #982 (this one will be a bit more involved). Or maybe from Terra: Qiskit/qiskit-terra#4349, Qiskit/qiskit-terra#4348 or any that are labeled as [good first issue](https://githu

[2020-05-20 20:23] obarbier commented on #981
Ok I will take a look at the issue tracker.

[2020-05-20 21:49] JosDenmark commented on #981
@t-imamichi @Cryoris I'm realizing that this becomes easier when the `name` parameter in `_add_variable` in `quadratic_program` defaults to `'x'` instead of `None`. That would mean updating `binary_var`, `continuous_var`, and `integer_var` and their usages to use a default string type instead of an option, so the number of change locations could become somewhat large. Are you ok with that?

[2020-05-20 21:53] JosDenmark commented on #981
To be crystal clear, I'm assuming that `continuous_var` and `integer_var` should also be updated to allow batch generation.

[2020-05-21 02:37] t-imamichi commented on #1003
I checked c1375ff and found following lines that use BasicAer.
There are two types
1. BasicAer as backend. run_circuits.py and backend_utils.py
  - Can we replace it with Aer?
  - If so, we need to change requirements.txt to include qiskit-aer
2. BasicAer is used as a utility to get a state vector, unitary matrix, or counts.
  - It can be replaced with `terra.quantum_info.Operator`

[code]

[2020-05-21 07:41] t-imamichi commented on #1003
quantum_info.Operator's way

[code]
Output:
[code]

[2020-05-21 12:09] #979 closed

[2020-05-21 12:19] Albert65 opened #1006 "Clarification for PrimitiveOp.to_pauli_op()"
### What is the expected enhancement?
Clarification of underlying procedure.

I am wondering how exactly Aqua PrimitiveOp converts matrix to Pauli strings. My assumptions are:

- Hilbert–Schmidt or trace inner product is defined as follows: <img src="https://render.githubusercontent.com/render/math?math=(A, B) = \mathrm{Tr}(A B^{\dagger})">. Textbooks use slightly different definitions.
- The coef

[2020-05-21 12:43] Cryoris commented on #1006
The `to_pauli_op` method
https://github.com/Qiskit/qiskit-aqua/blob/9378b8541d52e4dae8c7e178ffe98c3a394a99be/qiskit/aqua/operators/primitive_ops/primitive_op.py#L262
relies on the `qiskit.quantum_info` modules and the [`SparsePauliOp`](
https://github.com/Qiskit/qiskit-terra/blob/5cdd387deefe327b27ce21f69be4d5ed83dee3f9/qiskit/quantum_info/operators/symplectic/sparse_pauli_op.py#L29)

The represen

[2020-05-21 13:23] #893 closed

[2020-05-21 15:06] Albert65 commented on #1006
Thank you for suggested link, but I still be confused with ordering. I created a random Numpy matrix A. The corresponding operator MatrixOp(A). opA.to_pauli_op() gives (one Pauli string is shown as an example):
[code]
In order to compare with direct classical computation I do (note the complex unit near Z @ X):
[code]
which yields: (-0.013585831203668838-0.11893548225856074j) as expected.

Accordi

[2020-05-21 17:04] EliasCombarro opened #1007 "Problem when using ADAM optimizer with QAOA"
### Information

- **Qiskit Aqua version**: 0.7.1
- **Python version**: The one in the IBM Quantum Experience Jupyter notebook server
- **Operating system**: Program executed on the IBM Quantum Experience Jupyter notebook server

### What is the current behavior?

When using ADAM as the optimizer for QAOA, an error "UnboundLocalError: local variable 'params_new' referenced before assignment" is ra

[2020-05-21 21:22] woodsp-ibm commented on #1007
Thanks for bringing this to our attention. The issue arises here in the ADAM optimizer, as its optimize() method is called each time qaoa is run() but the initialization of certain fields it uses during the optimization is only done in its constructor. It ends up working for a while before it gets into a state where it fails as you saw. For it to be able to be re-used in the way you are doing then

[2020-05-22 07:40] t-imamichi commented on #1003
I tried to replace BasicAer in Aqua and found quantum_info.Operator does not handle `reset` and `measure` instructions. Because some circuits generated in Aqua contains them, we need to think how to deal with such circuits with BasicAer.
1. Just use Aer instead of BasicAer
2. Modify circuits not to include `reset` and `measure`

[2020-05-22 08:23] EliasCombarro commented on #1007
Thanks for the workaround. With that modification, my code seems to be running correctly now.

Thanks!

[2020-05-22 09:54] rgevorgyan-vineti opened #1010 "get_aer_backend was removed"
Hi,

I would use slack to ask this but the link provided is not working. After updating qiskit to the newest version, this line gives me an error.

`from qiskit.aqua import get_aer_backend`

I went around to find info on how is the alternative way of getting the backend but found nothing. What is the intended way to handle cases like this? Is the function still available or not?

[2020-05-22 10:21] t-imamichi commented on #1010
I think the following code helps you.
[code]

[2020-05-22 13:31] woodsp-ibm commented on #1003
I was more thinking that QuantumInstance would support using QuantumInfo in the absence of any specific backend being passed in, in a way that allowed the algorithms to still perceive a counts based (qasm simulator) type output or statevector one. Algorithms already only include measurements when using backends such as qasm simulators or real devices. This would then allow any algo to run on Aer a

[2020-05-22 13:53] woodsp-ibm commented on #1010
Hi, there was function in Aqua before supporting a json declarative approach in which the backend could be simply named. Under the covers when it was executed that method was called. Now all this was deprecated some months ago and removed recently. You can simply get a backend directly from a provider and supply that to Aqua. The above response shows this for Aer - and you can look at the samples

[2020-05-22 14:26] t-imamichi commented on #1003
I think it's possible to fallback to QuantumInfo if no backend is specified. My PoC code to generate statevector and counts is simple. https://github.com/Qiskit/qiskit-aqua/blob/895d968371c45cea6e44f7a03e3beb8174bd8695/qiskit/aqua/utils/circuit_utils.py#L85
But, we have to deal with `reset` instruction included by `Initialize`. I'm not sure how it is difficult to simulate `reset` in QuantumInfo.

[2020-05-22 15:35] woodsp-ibm commented on #1003
My take would be that we do not attempt to add extra logic to support function that is not there in QuantumInfo. If we can avoid using such specifics it might be good. But if not then we could either detect these, which may be unnecessary overhead, or just let them pass through which presumably will result in an error. Depending on the error we might want to catch/augment it suggest use of Aer etc

[2020-05-22 17:20] JosDenmark commented on #981
@Cryoris @t-imamichi ^

[2020-05-22 17:42] Cryoris commented on #981
Why would it be easier if it would default to `x` instead of `None`?

The reason for not adding a default name is that you cannot add two variables of the same name. Thus, calling `binary_var()` twice would try to add the name `x` two times, which doesn't work (because we cannot add numbers to the name by default).

[2020-05-22 18:37] JosDenmark commented on #981
It just makes for a more compact implementation, IMO. This is what I have:

[code]

[2020-05-22 19:50] Cryoris commented on #981
Nice idea with the formatter 👍

But maybe there's a few corner cases that are a bit problematic, e.g.
* I think calling a variable just `x` without a number wouldn't work
* the variable name is always split into `name` and `formatter`, so to do something like
[code]
    you would have to call
[code]
    which we can probably simplify a bit!

I think a signature where we can do
[code]
For this we c

[2020-05-24 13:30] woodsp-ibm commented on #781
As we have updated the random number generation to use the new NumPy Generator the above example, with that seed value, no longer fails. `seed = 8888` however re-creates the stated problem.

[2020-05-25 02:01] t-imamichi commented on #1003
I agree. Extending QuantumInfo is not a good strategy. We have to discuss whether Aqua should depend on Aer or not. What do you think of including Aer in requirement.txt?

[2020-05-25 02:24] t-imamichi commented on #981
I prefer a format with only one placeholder 'prefix_{}_suffix'.
If user does not include `{}` in name, `name.format(arg)` returns `name` itself. So, we will would add suffix number, e.g., `1`, to avoid duplicate names.

[code]

[2020-05-25 08:29] yaelbh opened #1012 "Double call to get_optimal_vector"
### What is the expected enhancement?

`self.get_optimal_vector` is called twice in `vqe._run()`. The first time is for setting `self._ret['eigvecs']`, and the second time is when setting `result.eigenstate`. This has two consequences:
- Time that can be saved.
- If the backend is a device, then `self._ret['eigvecs']` and `result.eigenstate` may be different because of different measurement result

[2020-05-25 09:33] molar-volume commented on #980
Hi @Cryoris , I am having look at it.
Should I wait with the pull request until #981 is merged, to avoid conflicts?

[2020-05-25 09:43] pbark opened #1013 "Counter Intuitive Use of Expectation Factory when using Aer Qasm Simulator as backend"
### Information

- **Qiskit Aqua version**: 0.19.1
- **Python version**: 3.7
- **Operating system**: MacOS Catalina

### What is the current behavior?
When one tries to evaluate the expectation value of an operator by default is Aer fast expectation with Aer qasm simulator and not BasicAer  and you cannot get back the statistical noise from the number of shots. If you set variance=True again the v

[2020-05-25 09:44] pbark commented on #1013
@Brogis1 can also confirm this that tried VQE simulations.

[2020-05-25 09:47] Cryoris commented on #1013
or, if the SnapshotExpectationValue can be used to return the variance (tbd), then we should use which ever is faster by default

[2020-05-25 09:58] Cryoris commented on #980
Great to hear!
The batch-generation PR should not touch the same places of code, I think you would be fine to start. 🙂

[2020-05-25 10:05] Cryoris commented on #1012
Yes, we should re-use the previously computed result 👍

[2020-05-25 12:38] woodsp-ibm commented on #1003
Internally in the couple of places where Aqua relies on doing some conversion can we not just always use QuantumInfo. For running an algo, when the user passes a QuantumInstance, if they explicitly give it a backend we would use that, otherwise QuantumInstance would use QuantumInfo (with a flag to choose counts/statevector). I do not see why we would need to include Aer as a hard dependency.

[2020-05-25 13:22] t-imamichi commented on #1003
As for QuantumInstance, your idea makes sense. I'm thinking of circuit_state_fn because it uses `execute` and `initializer`, that contains `reset`. We need Aer or BasicAer to execute it.
https://github.com/Qiskit/qiskit-aqua/blob/fe2ce8e554123dcfd9ff26e3db3af75e91fae7e8/qiskit/aqua/operators/state_fns/circuit_state_fn.py#L116
https://github.com/Qiskit/qiskit-aqua/blob/fe2ce8e554123dcfd9ff26e3db3af

[2020-05-25 13:24] woodsp-ibm commented on #1013
Clearly when using the Aer backend then with paulis the set of defaults are such that the fastest computation path was chosen - i.e. leverage Aer capability and group them. The expectation can be changed explicitly in VQE (and hence QAOA since its a subclass) and grouping turned off there too.

For sure, independent of this discussion, he docs in VQE/QAOA need improving to explain things around th

[2020-05-25 13:36] Cryoris commented on #1003
I agree with Steve in the above, if we can avoid adding objects on our side then that would be great (and no hard Aer dependency).

As for `reset`: The initializers shouldn't use reset in the beginning I think, they are applied at the beginning of a circuit anyways. And there's currently a discussion going on to tell the circuit instance that it should start in `zero`. Is there another place where

[2020-05-25 13:37] woodsp-ibm commented on #1003
Perhaps the issue of the Initialize needs to be brought up then in the Terra Issue that is discussing the BasicAer removal. Clearly that extension will then not work with Terra, and require Aer or some other backend having reset, unless something is done. Terra itself treats Aer as optional.

If it turns out that the circuit_state_fn has to end up dependent on Aer then we can always still treat Ae

[2020-05-25 14:36] t-imamichi commented on #1003
The comment of Initializer explains as follows. So, I think it is as intended.

https://github.com/Qiskit/qiskit-terra/blob/ad11f087dee21de3dd762647d2790b9ff7e3b63c/qiskit/extensions/quantum_initializer/initializer.py#L40

I found that circuit_state_fn is the only module that uses the initializer.

In my local env, `test.aqua.operators.test_state_construction` fails, but, there seems no failure in

[2020-05-25 15:59] woodsp-ibm commented on #1003
Do you have a different version locally that you would expect it to fail the lint for you (lint being run via `make lint` of course). The version I see checked in (its not updated by the your PR you refer to) has docstring comment on each test function. The build is failing on circuit utils in lint though.

[2020-05-25 16:32] dlyongemallo commented on #982
I might be interested in looking into this. Is this change intended to be made to the base optimizer class or to specific optimizers only? Can you give more details?

[2020-05-25 16:33] Brogis1 commented on #1013
From user's perspective, I confirm that I had great trouble because of this and had to rerun a lot of simulations. Better that by default we have the setting that makes QasmSimulator behave as close to QC as possible (with shot noise at least)... as usually QasmSimulator serves to test algorithms in a realistic settings.  I think this should be changed asap (default use the `PauliExpectation()` as

[2020-05-25 16:36] #1012 closed

[2020-05-25 18:56] woodsp-ibm commented on #1013
Yes, this does make it behave, by default, as if it a statevector simulator were being used. With the prior version this special mode was enabled explicitly by setting shots=1, so by default it had shot noise.
If you pass a qasm backend in, by default it does behave differently in VQE/QAOA, by leveraging the Aer capability when its an Aer backend. Maybe consistency across other algos, in that the

[2020-05-26 02:19] t-imamichi commented on #1003
I remembered that `transpile` removes `reset` in initializer if possible. I tried it (https://github.com/Qiskit/qiskit-aqua/pull/1009/commits/83c90b10e12e0e3411b526878e3161282d75a1b1), but it results in bunch of unit test fails. I will look into them.

[2020-05-26 05:54] t-imamichi commented on #1003
I found that some gates are converted into another that is equal to the original up to global phase, e.g., X -> U3(pi,0,pi).
The following gates have this issue: ID, X, H, Hamiltonian.
I managed to pass all unit tests related to operators by disabling unrolling of these gates.
See #1009

[2020-05-26 06:02] t-imamichi commented on #1003
As a side effect, my PoC finishes unit tests faster than master.

master
[code]

#1009
[code]

[2020-05-26 07:08] yaelbh opened #1015 "Unused measurement gates in VQE circuits"
### Information

- **Qiskit Aqua version**: master
- **Python version**: 3.8.1
- **Operating system**: Linux

### What is the current behavior?

Running VQE with Aer Pauli expectation, the circuit that's sent to the simulator measures all the qubits. While the measurement results are not used, they may affect performance.

Specifically, they are not so expensive for the statevector simulator: one

[2020-05-26 14:37] woodsp-ibm commented on #1010
Closing since the question posed has been answered.

[2020-05-26 14:37] #1010 closed

[2020-05-26 14:38] #1007 closed

[2020-05-26 17:09] Cryoris commented on #1003
Just talked to Chris, the removal of the functionality of `BasicAer.get_backend('qasm_simulator')` is not definite yet, it might be kept because otherwise there's no easy way to include classical logic, measurement etc. with the quantum info module. If that's the case, and I think we are in a position to argue in favor of keeping it, that would make the switch a lot easier.

[2020-05-27 01:37] t-imamichi commented on #1003
It's a good news. As far as Terra keeps BasicAer, it would be nice keep BasicAer in Aqua too.
But, quantum_info-based replacement is almost ready. We don't need to worry it for a while.

What do you mean "just concerns the qasm_simulator"? It is easy to generate counts from `statevector.probabilities_dict`.

[2020-05-27 07:06] Cryoris commented on #1003
E.g. how would you run this with quantum info?
[code]
The main restriction of the `Statevector` object is that you cannot handle all instruction Qiskit offers, but the Aer/BasicAer simulators can.

[2020-05-27 12:47] woodsp-ibm commented on #916
@Cryoris yes, the random failures were addressed by that PR. Since we keep an eye on things in the build anyway on an ongoing basis for any areas like this, and since the build is running fine for now, I am going to close this.

[2020-05-27 12:47] #916 closed

[2020-05-27 13:13] t-imamichi commented on #1003
You are right. `Statevector` and `Operator` cannot deal with conditionals. Are such circuits used in Aqua?

[2020-05-27 14:16] woodsp-ibm commented on #1003
We had not used conditionals in circuits we created in Aqua in the past. Unless any circuits had these introduced when they became part of the library, from where we now use these, and I do not think they did, I do not think we use these.

[2020-05-27 14:21] Cryoris commented on #1003
There were no conditionals introduced with the move to the library, so I think no algorithm currently uses them. But in future there might be algos that do, so we probably shouldn't add any restrictions on what can be run or not

[2020-05-27 14:24] woodsp-ibm opened #1017 "AE result has changed"
The outcome of Amplitude Estimation algorithm in this tutorial is incorrect https://github.com/Qiskit/qiskit-tutorials/blob/master/legacy_tutorials/aqua/finance/simulation/credit_risk_analysis.ipynb In prior release this was fine.

[2020-05-27 14:26] Cryoris commented on #1017
Yes, that seems to be a bug in `AmplitudeEstimation`, since the other variants of the algorithm work (e.g. `IterativeAmplitudeEstimation`). Probably something around how the controls of the operator Q are computed.

[2020-05-27 14:37] woodsp-ibm commented on #1003
If algos choose to use this in the future it would need to be based on whether the backend supports them or not, as appropriate, since conditional is presently not supported by actual devices. So in that regard there are restrictions that need to be catered to.

[2020-05-28 01:59] t-imamichi commented on #1003
Thank you for all information. As far as real devices don't support conditionals, Aqua don't have to support it either. Otherwise, such quantum algorithms can run with only Aer/BasicAer.

I think of the following strategy.
1. While Terra maintains BasicAer, Aqua continues to use it.
2. When Terra removes BasicAer, we will discuss again so that we replace BasicAer with Aer or Statevector (Operator)

[2020-05-28 07:15] Cryoris commented on #1003
I don't agree. Only because our hardware isn't quite there yet that doesn't mean we cannot test more advanced quantum algorithms. After all, we've been testing large qubit number and circuits w/o decoherence, which hardware doesn't support (yet) 😉
After all it's about testing what quantum algorithms *could* do.

We can always tell users that this won't yet run on actual hardware -- which happens r

[2020-05-28 07:15] Cryoris commented on #1003
The strategy sounds good. As such we have a plan ready, if we need it.

[2020-05-28 13:31] woodsp-ibm commented on #1003
Sure, we do not need to act until we know it will be removed. It was good to get an understanding of what this might entail so that we can add to the discussion.

In terms of support of various backend capabilities (conditionals or whatever) ideally the algorithms should be built to run and leverage, potentially optionally, any capabilities that would improve their performance/behavior but arguabl

[2020-05-28 13:39] Cryoris commented on #1003
Yes, the implementations of the algorithms in Aqua should be able to run on hardware, if possible. We shouldn't introduce artificial limitations by default (like adding conditionals). But if users come up with an algorithm that uses these things that we are able to simulate and will be able to run in future, I don't see why we should disallow this.

[2020-05-28 14:13] woodsp-ibm commented on #1003
I am not saying to disallow as such. More that it would be preferable if such an algorithm would optionally run, in some alternate manner, such that one can target more backends. Maybe it runs less optimally. If it were such that even for small problems some alternate mode is unrealistic then it maybe that it could only run on certain backends until some future time. I would not see us rejecting s

[2020-05-28 15:35] avkhadiev opened #1018 "aux_operators in VQE required to be legacy operators?"
### Information

- **Qiskit Aqua version**:
``{'qiskit-terra': '0.14.1',
 'qiskit-aer': '0.5.1',
 'qiskit-ignis': '0.3.0',
 'qiskit-ibmq-provider': '0.7.1',
 'qiskit-aqua': '0.7.1',
 'qiskit': '0.19.2'}``

- **Python version**:
Python 3.6.0

- **Operating system**:
macOS 10.15.3

### What is the current behavior?
- I am using a VQE class in ``qiskit.aqua.algorithms.minimum_eigen_solvers.vqe``.
- V

[2020-05-28 15:42] Cryoris commented on #1018
Hi @avkhadiev! That seems right, that case is missed. Would you want to make the fix yourself? 🙂

[2020-05-28 16:59] woodsp-ibm commented on #1018
I think the setter code would be better off checking if the conversion was needed or not - having a trivial method BaseOperator method (to convert to itself as a no-op), given the intent is to remove the legacy operators later, seems the least desirable in my mind.

[2020-05-28 19:32] woodsp-ibm opened #1019 "VQE construct_circuit does not return a circuit"
Prior to 0.7 the VQE construct_circuit, like the same method in other algorithms, would supply back the circuit the algorithm would running - now parameters or other information might be needed for a variational or iterative algo, but it was a circuit. People are interested in viewing and understanding the circuits the algos are using. None more so than VQE.

In 0.7 construct_circuit is returning

[2020-05-28 20:15] molar-volume commented on #980
Hi @Cryoris
I implemented __str__ method with export_to_lp_string,
and I agree to remove the prettyprint, since it is not used anywhere in qiskit.

How would you override the __repr__ ? Its default implementation returns <qiskit.optimization.problems.quadratic_program.QuadraticProgram object at 0x1340c76d0> and overriding __str__ does not change __repr__.

What other objects did you have in mind,

[2020-05-29 12:48] grossiM opened #1023 "Missing package to run QSVM on IBM QUANTUM EXPERIENCE"
### Informations

- **Qiskit version**: 0.19.2
- **Python version**: 3.7.6
- **Operating system**: Linux

### What is the current behavior?

NameError: CVXOPT is not installed. See http://cvxopt.org/install/index.html

### Steps to reproduce the problem
run the cell containing:
result = qsvm.run(quantum_instance)

### What is the expected behavior?
To get the qsvm istance running without error / m

[2020-05-29 15:59] woodsp-ibm commented on #1023
cvxopt was changed, by request, to be a completely optional install that requires the user to manually install this pkg in order to run any function, like QSVM, which uses it. An error, with a message telling the user the required install, is raised if it's run without.

[2020-06-02 15:45] HuangJunye opened #1024 "Unable to increase num_iterations>1 in Grover's algortihm"
### Information

- **Qiskit Aqua version**:  0.7.0
- **Python version**: 3.7.6
- **Operating system**: macOS Catalina 10.15.3

### What is the current behavior?

Regardless of num_iterations parameter, the quantum circuit constructed by Grover algorithm is the same.

### Steps to reproduce the problem

[code]
[code]

`num_iterations = 2 or 3` produces the same circuit.

The results of `grover.run(

[2020-06-02 16:30] woodsp-ibm commented on #1024
num_iterations does affect the operation of grover. The management of num_iterations and its effect on the circuit is internal though. If you build Grover and ask it to construct the circuit you get one with a single marking and reflection cct. Now if you run Grover and construct the circuit after the run, you will see with that the circuit now reflects that num_iterations setting.

BTW what are y

[2020-06-02 17:27] HuangJunye commented on #1024
@woodsp-ibm Thanks so much for your quick reply. Your answer is really useful.

Indeed I could see additional iterations after running Grover and the result makes sense now with BasicAer.

[code]
[code]
`grover.construct_circuit().draw()`
[code]

[2020-06-02 17:27] #1024 closed

[2020-06-03 12:07] #933 closed

[2020-06-04 21:09] JosDenmark commented on #981
Thanks for your patience. Working on this part-time. How do we like this instead?

[code]

[2020-06-04 21:28] mdsapova opened #1027 "opflow extensive memory usage for VQE with UCCSD variational form"
### Information

- **Qiskit Aqua version**: 0.7.1
- **Python version**: 3.8.3
- **Operating system**: Ubuntu 18.04
- **RAM**: 8 Gb

### What is the current behavior?
I am trying to run VQE for LiH molecule. My current setup is:
- Minimal basis set `sto-3g`
- Backend `statevector_simulator`
- UCCSD variational form
- COBYLA optimizer
- Different size of active space: 6, 8, 10, 12 qubits

I experien

[2020-06-05 04:43] sassan72 commented on #1023
I have also encountered the same problem, when I run QSVM example.

[2020-06-05 13:17] woodsp-ibm commented on #1023
@sassan72 As stated above this was requested to be removed from the install so that it was completely optional and would hence require a separate installation outside of installing Aqua in order to ensure that package was availble. If it is not installed an error is raised to inform that it needs to be installed to run the particular code being used.

[2020-06-05 13:17] #1023 closed

[2020-06-05 15:28] grossiM commented on #1023
Yes, I see, however this is part of the tutorial on the ibm quantum experience so that the user should fine a working env according to the tutorial proposed.

Regards,
Michele Grossi,
IBM Italy
Sent from my iPhone

On 5 Jun 2020, 15:17:39, notifications@github.com wrote:

From: notifications@github.com
To: qiskit-aqua@noreply.github.com
Cc: michele.grossi@it.ibm.com, author@noreply.github.com
Date

[2020-06-05 22:19] woodsp-ibm commented on #1027
Hi, in investigating, so far we have tried with COBYLA and SLSQP and get the same failure, also we tried using Aer statevector instead of BasicAer but have the same failure. Now we tried this using 0.6 version of Aqua, in which VQE uses operators that are now legacy in 0.7. In 0.6 Aqua it worked fine. It also works fine in 0.7 if you use Aer qasm_simulator, which by default uses a snapshot instruc

[2020-06-07 11:12] molar-volume commented on #1019
Hello @woodsp-ibm ,
I am working on it.
I renamed it 'construct_observable_measurement' and created new implementation of 'construct_circuit', which is called inside 'construct_observable_measurement'.

[2020-06-08 13:55] YumaNK opened #1028 "random_seed for qiskit-aqua/qiskit/ml/datasets/ad_hoc.py"
The feature of random seed specification is expected in generation of dataset in qsvm.

While it is important to reproduce result in machine learning typically by fixing random seed, the current module ad_hoc.py does not have feature to fix random seed of generating data.

### What is the expected enhancement?

It will be nice to be able to specify the seed when one call ad_hoc_data

[code]

I pro

[2020-06-08 14:48] JosDenmark commented on #981
@Cryoris ^

[2020-06-08 21:29] woodsp-ibm opened #1029 "Z2 symmetry support in operator opflow"
Currently the newly added operator opflow does not include Z2 Symmetry support, including the commonly used 2 qubit reduction when using parity mapping. Currently, due to the lack of this capability, legacy operators are still built out by the application modules and they remain as legacy operators for such processing until explicitly converted at the last moment for algorithm use.

We should be a

[2020-06-09 09:44] mdsapova commented on #1027
@woodsp-ibm thank you for the answer! I checked qasm_simulator and it really worked fine.

[2020-06-09 12:59] woodsp-ibm commented on #1028
Hi, the datasets in Aqua ML use the aqua_globals random generator instance which is seeded via aqua globals. Seeding this https://github.com/Qiskit/qiskit-aqua/blob/616cd80b0526c872760c0c6392e8976478cabbc5/qiskit/aqua/aqua_globals.py#L45 will thus seed the random generation in the ML dataset.

[2020-06-09 15:07] patdenim opened #1030 "general question related to AQT simulator and Qiskit. "Attribute error""
qiskit-ibmq-provider : '0.7.1'
qiskit : '0.19.2'

### What is the current behavior?

Trying using  var_form 'RealAmplitudes' with VQE . getting errors whit ./qiskit/aqua/utils/run_circuit.py
AttributeError: 'BackendConfiguration' Object has no attribute 'max_experiments'
In this case,  AQT simulator backend does not have a 'max_experiment' attribute in its configuration.
using other var_forms give

[2020-06-09 15:22] patdenim commented on #1030
thks Jessie. I'll detailed also the other problems encountered with other var_forms here then.

[2020-06-09 15:43] atefar2 commented on #775
Hi, I also am having problems with the Wikipedia data provider my quandl token is not being accepted and was wondering if it was possible to use pandas data reader to pull yahoo finance data since they have no restrictions on how much data you can pull and doesn't require a token for usage. Thanks for all your recent contributions by the way.

[2020-06-10 05:36] omarshehab opened #1032 "QiskitOptimizationError: 'The type of variable must be a binary variable.'"
### Information

- **Qiskit Aqua version**: 0.7.1
- **Python version**: 3.8.2 (default, Mar 26 2020, 10:43:30) [Clang 4.0.1 (tags/RELEASE_401/final)]
- **Operating system**: Darwin

### What is the current behavior?
I am facing an issue with the `qiskit.optimization`  module? When I try to directly convert an integer programming problem into an Ising problem, I get
`QiskitOptimizationError: 'The t

[2020-06-11 01:09] mavzolej opened #1034 "Another "Running into error 'Composition is not defined over Operators of different dimensions""
### Information

[code]

[code]

[code]

As I try to evaluate the expectation value of the `WeightedPauliOperator` as was suggested [here](https://quantumcomputing.stackexchange.com/a/12210/6313), I am getting an error if the circuit was obtained via `evolve()` or `initialize()`.

[code]

I am aware of [this](https://github.com/Qiskit/qiskit-aqua/issues/998) question on the same issue. However, I

[2020-06-11 06:33] t-imamichi commented on #1032
The output looks correct to me too. You can convert your QuadraticProgram to QUBO (including integer variable encoding, penalization of constraints) by `QuadraticProgramToQubo`. When you apply QAOA to the QUBO, you don't need to convert it to Hamiltonian by yourself. `MinimumEigenOptimizer` does it internally. [Ref](https://qiskit.org/documentation/tutorials/optimization/3_minimum_eigen_optimizer.

[2020-06-11 16:55] woodsp-ibm commented on #1027
It appears that the list of paulis (631 of them) is being converted into a list of matrices each having size 4006x4096 (2^12 as there are 12 qubits) of complex128 type. This is 256MB per matrix and consumes a lot of memory. The opflow was done on the basis of lazy evaluation but is leading to excessive memory in this common use case. We will have to look at how things can be improved in this regar

[2020-06-12 08:44] t-imamichi opened #1037 "Enhancement of converters of QuadraticProgram"
### What is the expected enhancement?

I would like to discuss how the converters of QuadraticProgram should behave in the next version.
There are some issues related the converters of QuadraticProgram, #1032 and #982.

- QuadraticProgramToQubo does not include InequalityToEquality converter. So, users need to apply it manually.
  - Shall we include InequalityToEquality in QuadraticProgramToQubo?

[2020-06-14 16:38] Cryoris commented on #1034
As you noticed already this is the same issue as #998, if you define your circuit without explicit registers it works:

[code]

For completeness, it seems like you're mixing the previous Operator logic with the `WeightedPauliOperator` with the new Operators. You could write your code like this:
[code]

[2020-06-15 02:31] mavzolej commented on #1034
Many thanks for the detailed response, that worked!

Let me just mention that the issue with `initialize()` is, in fact, not arising because of the `reset` instructions: manually removing them does not resolve the problem.

Also, could you please elaborate regarding the 'new' and 'old' operators? Has Qiskit changed the standards at some point? I'm using the `WeightedPauliOperator`s because this is

[2020-06-15 08:38] pbark opened #1041 "Extend classical optimizers for hybrid quantum/classical calculations"
### What is the expected behavior?
Extension of aqua classical optimizers with new optimizers that can be more robust to noise.

[2020-06-15 08:50] pbark opened #1042 "Calculation of thermodynamic observables"
### What is the expected behavior?
Introduced in https://arxiv.org/abs/2003.02303

[2020-06-15 08:53] a-matsuo commented on #982
Created PR #1043 for this issue.

[2020-06-15 08:53] pbark opened #1044 "Born-Oppenheimer potential energy surface for Molecular Ground State Calculations"
### What is the expected behavior?
Automatically generate the Born-Oppenheimer potential energy surface for molecular systems

[2020-06-15 12:07] Cryoris commented on #981
Thanks for the update! In general this looks good, could you open a pull request so we can see the entire code and comment on it?

[2020-06-15 16:28] #1013 closed

[2020-06-16 13:51] #998 closed

[2020-06-16 13:51] #1034 closed

[2020-06-17 15:56] ryan-woo opened #1053 "cvxpy does not install on some linux systems"
### Information

- **Qiskit Aqua version**: 0.7.2
- **Python version**: 3.6
- **Operating system**: CentOS 7

### What is the current behavior?
`pip install qiskit` gives the following error:
[code]

[2020-06-17 16:19] mtreinish commented on #1053
Try installing a newer version of pip, setuptools, and wheel with `pip install -U pip setuptools wheel`, that error looks like you're just using an old version of it and you won't be able build the package if setuptools is too old (I recommend upgrading all of them in tandem because all 3 packages, and virtualenv, are tightly coupled).

[2020-06-17 16:40] woodsp-ibm commented on #1028
Since the seed can be set as described as above, in the absence of any further feedback I am closing this.

[2020-06-17 16:40] #1028 closed

[2020-06-17 18:50] ryan-woo commented on #1053
Hmm I've definitely upgraded to the latest pip and setuptool, but never tried wheel.

Anyway I've worked around this problem by using a different distribution of python so I don't really have this problem anymore, but I suspect others will have it.

[2020-06-17 18:50] #1053 closed

[2020-06-17 19:03] mavzolej opened #1054 "A problem with measurement error mitigation in QuantumInstance"
### Information

[code]

[code]

[code]

I'm trying to use the built-in `QuantumInstance` measurement error functionality, but the following code
[code]
results in an error:
[code]

Note that adding measurements via `circuit.measure_all()` results in the following error:
[code]

However, the error does not arise when the quantum instance is initialized without the error mitigation settings.

A sim

[2020-06-17 19:54] Cryoris commented on #1054
It seems there are measurement missing, try to apply `measure_all` to the circuit before execution.

[2020-06-17 21:00] mavzolej commented on #1054
Unfortunately, this is incompatible with performing the measurements which you suggested [here](https://quantumcomputing.stackexchange.com/questions/12080/evaluating-expectation-values-of-operators-in-qiskit/).

I have updated the post above. The problem seems to be caused by the way error mitigation is performed.

[2020-06-17 21:25] omarshehab commented on #1032
Hi @AzizNgoueya , thank you so much for your reply. I have submitted a PR adding a sentence mentioning this piece of information to the Qiskit Aqua optimization tutorial.

[2020-06-17 21:35] woodsp-ibm commented on #1054
Why is this line there?

Its not doing anything with the result as such anyway. The logic you have afterwards in CircuitSampler convert will end up calling execute in the quantum instance which will apply measurement mitigation on the circuits it uses sending in necessary calibration ccts etc.

I do not have an example of similar logic outside of VQE using operator and expectation but here is a tu

[2020-06-17 21:45] omarshehab commented on #1032
@AzizNgoueya , @stefan-woerner , @t-imamichi : thank you so much for the explanation. I was able to verify that they are indeed the minimum. Thanks.

[2020-06-17 21:45] #1032 closed

[2020-06-17 22:05] mavzolej commented on #1054
Thanks!! Everything's working after removing it.

[2020-06-18 06:25] t-imamichi commented on #1037
#1043 addresses the penalty factor

[2020-06-18 06:26] t-imamichi commented on #1037
If converters does not support the input QuadraticProgram, the error message should suggest which converter to use beforehand.

[2020-06-18 10:17] #1054 closed

[2020-06-18 20:24] woodsp-ibm commented on #1037
Some thoughts....
I made a comment in #1043 around convertor re-use. I imagine given I setup a convertor I would be able to use it more than once to do a conversion of some input to the output format. As such whatever parameters are setup for the convertor, via the constructor, care should be taken to preserve these instance vars storing them, and not alter them, so each conversion is as expected.

[2020-06-19 06:06] #980 closed

[2020-06-19 12:19] Sabhyata21 opened #1062 "Clarification on the operators and compatibility with the old ``Operator`` class"
Hi, I was supposed to use Operator class of aqua as required by a course I am taking on edX. However, I have realised that Operator class doesn't exist anymore. I was searching up near class to construct a Hamiltonian as a sum of products of Pauli matrices, formerly done using Operator class

![vc](https://user-images.githubusercontent.com/40537107/85131636-cfb58c00-b254-11ea-8a80-7614663d04e1.PNG

[2020-06-19 12:27] Cryoris commented on #1062
What's called `Operator` in the text is indeed the `WeightedPauliOperator`. However with Aqua 0.7 a new framework for Operators has been introduced which mimics the mathematical workflow, see [the documentation](https://qiskit.org/documentation/apidoc/qiskit.aqua.operators.html) or [this notebook](https://github.com/dongreenberg/aqua_talks/blob/master/Understanding%20Aqua%27s%20Operator%20Flow.ipy

[2020-06-19 12:42] Cryoris commented on #1062
Btw, even if no documentation exists in qiskit.org, [the code of the `WeightedPauliOperator`](https://github.com/Qiskit/qiskit-aqua/blob/master/qiskit/aqua/operators/legacy/weighted_pauli_operator.py) still is documented if you need to look something up.

[2020-06-19 12:57] Sabhyata21 commented on #1062
Thank you very much!

[2020-06-19 13:22] t-imamichi commented on #1037
I see. You prefer a pure function like converter to reuse it in other places once instantiated.

I designed to store src and dst and associate the converter with a QP in order to implement `decode` as well as `encode`. Given a result, `decode` is supposed to transform it into a result corresponding to the original QP. If we keep the information QP somewhere else, we make converters like pure funct

[2020-06-19 13:36] t-imamichi commented on #1037
By the way, I discussed this topic with @stefan-woerner. We agree the followings:
1. include InequalityToEquality to QuadraticProgramToQubo,
2. revise error message to suggest a missing converter, and
3. write a description about round up/down of InequalityToEquality in a tutorial.

We also discussed to distinguish "converter" (QP <=> QP) and "translator" (QP <=> other, e.g., Operator). It might b

[2020-06-19 14:34] #1062 closed

[2020-06-19 15:09] woodsp-ibm opened #1064 "QAOA custom mixer problem"
This issue was reported on the aqua channel in the Qiskit slack workspace. This is the original report

The programme below Creates either the default X mixer if UseTraditionalMixer == True, or my attempt at the XY mixer otherwise. It runs successfully with the former, but give the Error messages;
TypeError: unsupported operand type(s) for *: 'complex' and 'ParameterExpression'

The code attached

[2020-06-19 15:33] woodsp-ibm commented on #1037
My comment was more around an end-user expectation of what they might intuitively expect of a converter. If all the config for a convertor is in the constructor and encode takes the object I want to convert and gives me a converted object back, then to me it does not seem unreasonable to believe an end user would expect to be able to reuse the convertor under the same configuration as was passed i

[2020-06-19 15:41] KOLANICH opened #1065 "qiskit-aqua depends on proprietary CPLEX"
### Information

- **Qiskit Aqua version**: any
- **Python version**: any
- **Operating system**: any

### What is the current behavior?

It depends on `docplex` package which depends on proprietary CPLEX

### Steps to reproduce the problem

Try to install qiskit-aqua

### What is the expected behavior?
No proprietary dependencies.

### Suggested solutions
* Use free open source optimizers.
or
* m

[2020-06-19 15:49] KOLANICH opened #1066 "Remove hard dependency on quandl"
### Information

- **Qiskit Aqua version**:latest
- **Python version**:any
- **Operating system**:any

### What is the current behavior?
`quandl` is declared as a hard dependency, though it is just a data source, with restricted access (one has to get an API key to use it).

### Steps to reproduce the problem
Try to install the package.

### What is the expected behavior?
No hard dependencies on n

[2020-06-19 15:52] Cryoris commented on #1065
Is this a bug in your opinion or an enhancement? If it is a bug could you please attach the error message?

[2020-06-19 16:10] KOLANICH commented on #1065
[code]

I have set up pip not to install packages without my approval. So I analyze each dependency. Analysing this dependency I saw advertisment of proprietary tools and proprietary cloud. So this dependency has no use for me. And all the stuff depending on this dependency too. To fix that either that dependency should be replaced by something FOSS, or CPLEX should be made FOSS itself.

If this s

[2020-06-19 16:12] woodsp-ibm opened #1067 "Improve backend circuit execution"
Goal is to "modernise" QuantumInstance and run_circuits logic for execution of circuits on the backend given advances in capability of Terra and IBM Q Provider since some this aforementioned logic was written. This includes areas such as

1. Moving over to use of the ibm q job manager when the remote provider is IBM Q.
2. Ensuring we work with other remote providers correctly #1030
3. More reliabl

[2020-06-19 16:35] woodsp-ibm opened #1068 "Complete algorithm interface/result refactoring"
In categorizing algorithms in the 0.7 release the intent has been to move away from the result as a plain dictionary to result objects where the fields are properties and hence documented and discoverable when coding via code complete etc.

This process commenced in 0.7 with refactoring the algorithms into categories and minimum_eigen_solvers has a defined interface and result, that is consistent

[2020-06-22 09:08] t-imamichi opened #1069 "Replace legacy operators with opflow in the optimization stack?"
### What is the expected enhancement?

Some codes in the optimization stack still use legacy operator, for example, WeightedPauliOperator is used by QuadraticProgramToIsing. Shall we replace them with opflow?

https://github.com/Qiskit/qiskit-aqua/blob/master/qiskit/optimization/converters/quadratic_program_to_ising.py

[2020-06-22 09:10] Cryoris commented on #1069
Apart from `optimization/applications`, this is addressed in #1059.

[2020-06-22 09:35] t-imamichi commented on #1069
Thanks. I missed the change. look into it.

[2020-06-22 09:41] t-imamichi opened #1070 "DeprecationWarning of `round` with numpy 1.19"
### What is the expected enhancement?

I installed numpy 1.19.0 and it shows DeprecationWarning when I called StateFn.eval, e.g.,
`StateFn(Z).adjoint().eval(Zero)`.
We maybe need to replace `round` with `np.round`.

https://numpy.org/devdocs/release/1.19.0-notes.html#deprecation-of-round-for-np-complexfloating-scalars

[2020-06-22 09:44] t-imamichi commented on #1069
The pr solves this issue. So, I close it. Thanks.

[2020-06-22 09:44] #1069 closed

[2020-06-22 10:09] nonhermitian opened #1071 "Many formatting issues in Aqua does"
From the Qiskit meta docs build log:

/home/vsts/work/1/s/docs/stubs/qiskit.finance.applications.ising.portfolio.rst:4: WARNING: Document or section may not begin with a transition.
/home/vsts/work/1/s/docs/stubs/qiskit.finance.applications.ising.portfolio_diversification.rst:4: WARNING: Document or section may not begin with a transition.
/home/vsts/work/1/s/docs/stubs/qiskit.optimization.applica

[2020-06-22 10:16] nonhermitian commented on #1071
And:

<partial node>:: WARNING: toctree contains reference to document 'stubs/qiskit.optimization.applications.ising.clique' that doesn't have a title: no link will be generated
<partial node>:: WARNING: toctree contains reference to document 'stubs/qiskit.optimization.applications.ising.exact_cover' that doesn't have a title: no link will be generated
<partial node>:: WARNING: toctree contains re

[2020-06-22 11:27] nonhermitian commented on #1071
Gone now.

[2020-06-22 11:27] #1071 closed

[2020-06-22 12:36] t-imamichi commented on #1037
If converters keep src and dst, it is easy to convert the result of dst to the result of src. But, I agree that it might not be so intuitive to users. Especially, users may pass wrong result to decode by reusing converters. In such a situation, they will receive a wrong result, but it is hard to debug it. Ideally, converters should decode result without information of src. If we append some inform

[2020-06-22 12:48] adekusar-drl commented on #1065
DOcplex is a requirement for Qiskit Aqua and it is available under Apache License. DOcplex provides a convenient modelling language for optimization problems and Qiskit Aqua utilizes this functionality. In the same time Aqua does not require additional paid/cloud tools to be installed. Having said that, CPLEX which indeed has a proprietary license and can be used for solving optimization problems

[2020-06-22 14:01] KOLANICH commented on #1065
Thanks for the info. Can a description in pypi be fixed and a github repo with sources and bug tracker and pull requests tab active created?

[2020-06-22 14:01] #1065 closed

[2020-06-22 15:04] adekusar-drl commented on #1065
Unfortunately we are not in charge of DOcplex. The sources of DOcplex are available on pypi site in the "Download files" section. Documentation, support, forum, etc are here: https://ibmdecisionoptimization.github.io/

[2020-06-22 16:02] KOLANICH commented on #1065
Probably colleagues of ones who are in charge of this repo are.

[2020-06-23 14:18] nonhermitian opened #1072 "Optimizer kwargs are not unified"
The kwargs that are passed to optimizers are not unified. e.g.:

ADAM: maxiter

SPSA: max_trials

GSLS: max_iter

The interface should be standardized.

[2020-06-23 15:17] woodsp-ibm commented on #1072
In general the philosophy has been when using the external libraries, in this case optimizers where we use scipy etc, is to use the same parameter names as is done in the library so we do not confuse by wrapping them with different names than the library gives/documents them with. However the above ones you list are custom for Aqua so in that regard we have more freedom and it seems a fair comment

[2020-06-24 13:34] t-imamichi commented on #1037
Feel free to write your idea about the converter design. @adekusar-drl

[2020-06-24 14:20] t-imamichi commented on #1037
### Idea about metadata
It is necessary to keep some metadata about original problem to realize `decode` of results, e.g., ignore slack variables and combining binary variables into an integer variable.
The current design keeps the metadata in the converters. Other options are: keep the metadata in the problems after conversion, and keep the metadata as a separate data.
I don't think it's a good i

[2020-06-24 16:24] woodsp-ibm commented on #1037
If encode provided a new object back, that was encoded version of the original which is left untouched, rather than doing the encode in-place, there would be no real need for decode of the last encoded object, i.e. the in-place altered one, since you could keep the original too should it be needed. Maybe I am missing an understanding of exactly the use case for decoding the last encoded object tha

[2020-06-24 17:18] #775 closed

[2020-06-24 17:18] #781 closed

[2020-06-24 17:18] #1066 closed

[2020-06-24 19:44] KOLANICH commented on #1066
Thanks.

[2020-06-25 04:49] ncitron opened #1073 "Aqua version is set to 'None'"
### Information

- **Qiskit Aqua version**: None
- **Python version**: 3.7
- **Operating system**: MacOS Mojave 10.14.6

### What is the current behavior?
```qiskit.__qiskit_version__```

returns
[code]

Additionally, when running this code from the website:
[code]

returns this error, which I assume is related, but it confuses me that it managed to run the second import statement but not the thir

[2020-06-25 05:37] t-imamichi commented on #1073
Thank you for your report. The error message says that Ignis uses cvxpy, but it is not installed.
Workaround is to install cvxpy `pip install cvxpy`.
Ignis should include is in requirements.txt.

[2020-06-25 05:45] t-imamichi commented on #1073
I also found that if cvxpy is not installed, `from qiskit import aqua` fails as follow.
[code]

[2020-06-25 10:57] adekusar-drl commented on #1037
@t-imamichi Thanks for adding me to this discussion. I explored the classes from the converters package and here are a few my findings/suggestions:

- Converters, in general, don't inherit any base type. Probably it is good to have a base class for them. If we prefer duck-typing, this is still fine, but should be mentioned somehow in the documentation and strongly followed in all implementations.

[2020-06-25 11:13] mtreinish commented on #1073
This is a duplicate of https://github.com/Qiskit/qiskit-ignis/issues/429 it unfortunately looks like an aqua bug because aqua imports ignis in places. But the 0.3.3 ignis release and the corresponding metapackage release 0.19.6 (which are working their way through CI and automation right now) should fix this.

[2020-06-25 12:28] mtreinish commented on #1073
The qiskit 0.19.6 metapackage release (which includes ignis 0.3.3) is released now it should correct this issue
`__qiskit_version__` returns:
[code]
and the test script returns:
`[1, -2, 3]`

I'm going to close this as fixed now, please feel free to reopen it if I missed something.

[2020-06-25 12:28] #1073 closed

[2020-06-26 00:46] sassan72 opened #1076 "install qiskit aqua on supercomputer."
Successfully installed cycler-0.10.0 kiwisolver-1.1.0 matplotlib-3.2.1 pyparsing-2.4.7 python-dateutil-2.8.1
Traceback (most recent call last):
  File "/scratch/sassan72/DawnData.py", line 13, in <module>
    from qiskit.aqua import QuantumInstance
ModuleNotFoundError: No module named 'qiskit.aqua'

actually, I could install all qiskit library on supercomputer except qiskit Aqua. I also used pip u

[2020-06-26 05:48] t-imamichi commented on #1076
Thank you for posting an issue. Could you report your environment using our issue template?

[code]

[2020-06-26 06:40] t-imamichi commented on #1037
@woodsp-ibm `encode` is a conversion from QuadraticProgram to QuadraticProgram. On the other hand, `decode` is a conversion from OptimizationResult to OptimizationResult. So, just keeping the original QuadraticProgram is not sufficient to decode OptimizationResult. Let me think more about the data flow...

[2020-06-26 06:58] t-imamichi commented on #1037
@adekusar-drl Thank you for your feedback.
- I agree with the base class. My initial design proposed a base class, but it dropped when implementing the entire stack. By distinguish conversions QP <=> QP and QP <=> opflow, a base class may work well. I'm thinking of the following base class now taking into account your second comment about signature.
[code]
- As for third comment, @stefan-woerner

[2020-06-26 08:11] t-imamichi commented on #1037
I will soon make a PoC code to discuss more details.

[2020-06-26 09:25] adekusar-drl commented on #1037
@t-imamichi

- Here is an example against keeping metadata in the resulting QP. In a code you apply a converter to a QP, so after that a metadata from the first converter is in the output QP. Then you apply another converter. If you don't keep an on eye on metadata in your code, you may loose the metadata from the first converter when you apply the second one.
- Regarding  "don't expose access to

[2020-06-26 09:35] t-imamichi commented on #1037
- If we embed metadata in QP, converters will be implemented taking into account the metadata. They should not overwrite metadata, but append it. When decoding, converters decode results according to the metadata. I'm trying to make a PoC.
- It's @stefan-woerner's idea. He want to treat the penalty factor as a property from Grover optimizer. I get your point. I understand that he wants to change t

[2020-06-26 09:50] adekusar-drl commented on #1037
There may be any code (e.g. user code) after a converter has been applied that modifies the problem in any way you can't predict. If you append metadata to QP, then you rely to the code you can't control and this is error prone.

[2020-06-26 10:04] t-imamichi commented on #1037
We have the same issue when embedding the metadata in converters as Steve mentioned. Users may reuse converters embedded with some metadata to different QP in the current design.

[2020-06-26 10:07] adekusar-drl commented on #1037
I know, I think converters should be expendable. Anyway, if `encode` is being called for the second time without a call to `decode` you may prevent this and raise an exception.

[2020-06-26 10:20] t-imamichi commented on #1037
As a summary, we have to make converters more intuitive and fail safe.
- Distinguish converters and translators
  - Converters: QP <=> QP, Result <=> Result
  - Translator: QP <=> Operator
- Need to take care of following situation to be fail safe
  - Reuse converters
  - Apply same type of converter multiple times
  - Apply decoders in a wrong order
- Question: How to prevent metadata to be remov

[2020-06-26 11:39] stefan-woerner commented on #1037
Thanks, I agree on most of the points above!

Regarding accessing converter parameters from an algorithm, I think it is very important, but I am fine exposing the parameters instead of the converters, just needs to be done consistent.
In addition, we might want to allow users to provide their own (list of) converter(s) that are used instead of the default ones.

On the meta data discussion for con

[2020-06-26 12:47] woodsp-ibm commented on #1037
'encode' and 'decode' seem more like some symmetric behavior according to the naming. Let me say what these objects do then in a different way - the 'translate' the problem from one form into another, and then you need a method to 'interpret' the result of solving the problem in the context of the translated problem so it can be expressed in the form of the original one. I think the fact that one

[2020-06-26 13:30] t-imamichi commented on #1037
@woodsp-ibm Yes, I agree. `decode` does not sound as intuitive as `encode` and the asymmetric functionality of `encode` and `decode` might be confusing. Separating them would be a better option. Maybe it would be good to have only one-way converters, i.e., QP->QP, QP->Operator, Operator->Result, and Result->Result.

[2020-06-26 15:04] woodsp-ibm commented on #1037
@t-imamichi Different classes occured to me too since these conversions are acting on different types. But since it was indicated that the decode function, to process a result from a given problem conversion, depended on data/info from that original problem conversion, it was how I came up with the above thought. I.e. that the problem convertor class, could contain another class for result convers

[2020-06-26 19:53] sassan72 opened #1079 "### What is the current behavior?"
- **Qiskit Aqua version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

I want to install qiskit on supercomputer. all library are installed except qiskit Aqua. I couldn't fix it. I tried with all qiskit versions. it didn't work.

[2020-06-26 20:27] woodsp-ibm commented on #1079
Closing as duplicate of #1076

[2020-06-26 20:27] #1079 closed

[2020-06-26 20:34] woodsp-ibm commented on #1076
Can you provide more information? It sounds as though you had it installed before, so I assume the install went smoothly and without errors? Or did you have errors reported by the install process?

If it installed ok, but you cannot access qiskit.aqua might I suggest uninstalling all of qiskit and installing it again. qiskit-terra provides the base qiskit namespace which the other packages extend.

[2020-06-26 20:40] Skywalker2012 opened #1080 "Unexpected results from qiskit.aqua.algorithms.NumpyMinimumEigensolver"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**: 3.7.7
- **Operating system**: MacOS Catalina, Version 10.15.5, Macbook Pro, 13 inch, 16GB

### What is the current behavior?

The NumPyMinimumEigensolver in qiskit.aqua.algorithms is giving wrong results.

### Steps to reproduce the problem

[code]

Run this code and the results is show in the following figure. The results aft

[2020-06-26 20:42] Skywalker2012 commented on #1080
@ajavadia Hi Ali, I opened this issue for the bug I reported to you today.

[2020-06-26 21:53] sassan72 commented on #1076
Successfully installed certifi-2020.6.20 cffi-1.14.0 chardet-3.0.4 cryptography-2.9.2 decorator-4.4.2 idna-2.9 jsonschema-2.6.0 marshmallow-2.21.0 marshmallow-polyfield-3.2 mpmath-1.1.0 networkx-2.4 ntlm-auth-1.5.0 pillow-7.0.0 ply-3.11 psutil-5.7.0 pycparser-2.20 qiskit-0.7.0 qiskit-aer-0.1.0 qiskit-terra-0.7.2 requests-2.24.0 requests-ntlm-1.1.0 six-1.15.0 sympy-1.6 urllib3-1.25.9
Ignoring pip:

[2020-06-26 21:53] sassan72 commented on #1076
more information.

[2020-06-26 21:55] sassan72 commented on #1076
if you look at last line, No module named 'qiskit.aqua'. It hasn't been installed. I used virtual environment to install it.

[2020-06-26 22:02] woodsp-ibm commented on #1080
I confirm that if I run your code from the command line I get a plot like you show. Yet if I modify the nah_uccsd notebook to just run the NumpyMinimumEigensolver then the plot is as expected. I will need to investigate what is different when running that it behaves like this.

[2020-06-26 22:05] sassan72 commented on #1076
Actually, I have another python script for quantum circuit simulation. it runs on supercomputer without error. it means qiskit has been installed. but the problem is about access to qiskit aqua library.

[2020-06-26 22:06] woodsp-ibm commented on #1076
Qiskit 0.7.0 is a very old release from Dec 2018. At that time aqua was not part of the qiskit meta package. The current release is 0.19.6. Is there some reason you are trying to work with such an old version?

[2020-06-26 22:08] sassan72 commented on #1076
but you know what I used the pip upgrade to install the latest version.#!/bin/bash
#SBATCH --account=def-rkrems
#SBATCH --time=00:20:00
#SBATCH --mem-per-cpu=1G
#SBATCH --cpus-per-task=4     # number of cores

module load python/3.7
virtualenv --no-download $SLURM_TMPDIR/env
source $SLURM_TMPDIR/env/bin/activate

pip install --no-index --upgrade pip
pip install numpy --no-index
pip install scipy -

[2020-06-26 22:08] sassan72 commented on #1076
what do you suggest me to do?

[2020-06-26 22:10] woodsp-ibm commented on #1076
`pip install qiskit -U` should upgrade it. `pip install --upgrade pip` is just upgrading the latest pip package you have installed.

[2020-06-26 22:11] sassan72 commented on #1076
thanks I will try with this.

[2020-06-26 22:24] sassan72 commented on #1076
it didn't work.
#!/bin/bash
#SBATCH --account=def-rkrems
#SBATCH --time=00:20:00
#SBATCH --mem-per-cpu=1G
#SBATCH --cpus-per-task=4     # number of cores

module load python/3.7
virtualenv --no-download $SLURM_TMPDIR/env
source $SLURM_TMPDIR/env/bin/activate

pip install --no-index --upgrade pip
pip install numpy --no-index
pip install scipy --no-index
pip install qiskit -U
pip install matplotlib

[2020-06-26 22:26] sassan72 commented on #1076
actually, the old version is installed again. even with pip install qiskit -U.

[2020-06-26 22:29] sassan72 commented on #1076
is there any command to install new version?

[2020-06-26 22:39] woodsp-ibm commented on #1076
Normally `pip install qiskit -U` should download a new version - you should see it fetching a bunch of packages over the
internet. The other thing you could try is `pip install qiskit==0.19.6` to explicitly tell it the version where 0.19.6 is the newest one

[2020-06-27 01:28] Skywalker2012 commented on #1080
Hi, thanks for your attention.

[2020-06-27 04:42] sassan72 commented on #1076
Thanks. it works.

[2020-06-27 11:54] woodsp-ibm commented on #1076
Great, you're welcome. I'll close this issue then, as it's resolved, since you now have things working.

[2020-06-27 11:54] #1076 closed

[2020-06-27 16:28] woodsp-ibm commented on #1080
Hi, some more information for you. If you set two_qubit_reduction to False when using PARITY it shows the same plot as JW mapping. If with JW mapping we set z2symmetry_reduction to 'auto' in the Hamiltonian (new capability in the latest 0.7 Aqua release) then the plot is again as expected.

Two qubit reduction is a type of reduction done by exploiting known symmetry. Z2Symmetry reduction reduces b

[2020-06-27 19:21] Skywalker2012 commented on #1080
Thank you for the explaination. So I guess that means we need to be careful when using the generic NumpyMinimumEigensolver.

[2020-06-29 16:07] woodsp-ibm commented on #1080
Yes, it advisable to check the result. This is why we added the number of particles, spin etc as extra operators which we measure at  for the eigenstate of the algorithm result. Checking is advised for VQE too, especially where a heuristic ansatz is used for the wavefunction where it is unconstrained by aspects such as number of particles to keep it in the proper solution space.

Given the above e

[2020-06-29 16:07] #1080 closed

[2020-06-29 17:17] #1070 closed

[2020-06-30 13:04] t-imamichi commented on #1070
Thanks!

[2020-07-01 13:50] pbark commented on #1072
I agree with @nonhermitian . We discussed this some time ago and we concluded that we wanted to keep the scipy arguments. I think the unification makes full sense, as long as we keep the standarisation along all optimizers.

[2020-07-01 15:06] #1072 closed

[2020-07-01 16:16] Cryoris opened #1086 "ListOp: number of qubits"
### What is the expected enhancement?

Calling `ListOp.num_qubits` returns the number of qubits of the first element of the `ListOp`:
[code]
Also this fails if `op = ListOp([])`.

This should be changed to return either the maximum number of qubits or a list of numbers of qubits. I think latter makes most sense, though pylint and mypy might complain about the different return type.

[2020-07-01 16:19] Cryoris opened #1087 "Rename power to repeat"
### What is the expected enhancement?

To apply an operator multiple times we can use the `power` method of the `OperatorBase`.
To streamline the notation with `Gate` and `QuantumCircuit` this should be change to `repeat`.
There exists a `power` method in `Gate` but this takes the matrix of the operation and computes the matrix power.

[2020-07-01 16:26] Cryoris opened #1088 "Operator.compose should allow indices"
### What is the expected behavior?

The `compose` method of the `OperatorBase` requires the composed operators to have the same size.
This might not always be the case. We should allow passing indices in `compose` to be able to compose operators
of different sizes, much like in [`QuantumCircuit.compose`](https://github.com/Qiskit/qiskit-terra/blob/2909eac4215e772440c35c5ee64197187894c719/qiskit/ci

[2020-07-01 16:33] Cryoris opened #1089 "More powerful Operator.to_circuit"
### What is the expected behavior?

Right now, the `to_circuit` method only works on the operator primitives but not on `ListOp`s. I think we should try to add this method for the `ListOp`s too. If in some cases it is not possible, e.g. because the operator is not unitary, we can raise an error.

Example:
[code]
Though `i.to_circuit` and `X.to_circuit` both work.

Note that some combinations, such

[2020-07-01 16:35] Cryoris opened #1090 "Add a parameters method to the operators"
### What is the expected behavior?

Calling `QuantumCircuit.parameters` returns a set of the `Parameter` objects in the circuit.
The `OperatorBase` should support this too, since it too can be parameterized.

[2020-07-01 16:44] Cryoris opened #1091 "Add to_gate to the Operators"
### What is the expected behavior?

While there is still a distinction between `Gate` (strictly unitary) and `Instruction` (not necessarily unitary) we should not only have a `to_instruction` but also a `to_gate` on the operators, analogous to the `QuantumCircuit`. If the operator is not unitary, then `to_gate` can raise an error.

[2020-07-01 17:11] woodsp-ibm commented on #1087
For power - since its the method that is called by the overidden power operator - do you really want to rename it? It will make the expression form and code seem different. E.g `op ** 2`  or `op.power(2)` today. Would a synonym be better i.e one can call power or repeat which do the same things?

[2020-07-01 20:53] jlapeyre opened #1092 "Measurements should return real numbers"
### Information

- **Qiskit Aqua version**: 0.8.0.dev0+b040e2c
- **Python version**: 3.8.3
- **Operating system**: linux

### What is the current behavior?

The documentation says

https://github.com/Qiskit/qiskit-aqua/blob/b040e2c2f90f49a401551190475f4dc0f3706c7a/qiskit/aqua/operators/__init__.py#L62

### Steps to reproduce the problem

Read the docs.

### What is the expected behavior?

The docu

[2020-07-03 09:29] Cryoris opened #1095 "SummedOp: equals should capture sums of matrices"
### What is the expected enhancement?

[code]
This is done for `PauliOp`s as part of #1059 but should be extended to `MatrixOp`s.
One possible implementation is to adapt `SummedOp.collapse_summands` to sum up all `MatrixOp`s to one.

[2020-07-03 09:34] Cryoris opened #1096 "SummedOp: chop summands with a coefficient of 0"
### What is the expected enhancement?

[code]
A possible solution would be to add a ``SummedOp.chop_summands(threshold=0)`` method that is added as default call in ``SummedOp.reduce``, analogous to ``collapse_summands``. With the ``threshold`` argument the user can choose what to chop: all summands with a coefficient smaller than ``threshold`` are removed.

This is equivalent to ``WeightedPauliOpe

[2020-07-03 18:54] spencerking commented on #1096
@Cryoris I'd like to work on this issue, if that's fine with you

[2020-07-03 20:14] mridulsar opened #1097 "Issue using qiskit\chemistry\drivers\pyscfd\integrals.py"
[VQE_Glycine.txt](https://github.com/Qiskit/qiskit-aqua/files/4871327/VQE_Glycine.txt)

  File "C:\Users\mridu\anaconda3\envs\VQE\lib\site-packages\qiskit\chemistry\drivers\pyscfd\integrals.py", line 55, in compute_integrals
    max_memory = param.MAX_MEMORY
NameError: name 'param' is not defined

I am not sure what this means....
I attached the file I am working with.

[2020-07-03 20:34] #1097 closed

[2020-07-03 21:33] uriariel opened #1098 "bad lam argument in test_grover"
### Information

- **Qiskit Aqua version**: 0.7.1
- **Python version**: 3.8
- **Operating system**: ubuntu 20.04

### What is the current behavior?
Failing tests

### Steps to reproduce the problem
Run the tests

### What is the expected behavior?
Passing tests

### Suggested solutions

[2020-07-03 22:47] #1098 closed

[2020-07-04 04:10] jlapeyre commented on #1087
I favor sticking close to the standard mathematical terms for objects and operations, when possible. Using `power` is probably better. But, it looks like this is a stub in any case ?
https://github.com/Qiskit/qiskit-aqua/blob/b54a4b6b42199ec9cef23384b1c55e2e4ef9d355/qiskit/aqua/operators/operator_base.py#L518-L527

Furthermore, I am in favor in general of minimal APIs with orthogonal elements. Doe

[2020-07-05 10:49] hhorii opened #1099 "Indenting operator string"
### What is the expected enhancement?
Currently, `__str__` of operators does not have indents.
[code]

Adding indents may help to debug developing operators.
[code]
This is a just requirement for nice-to-have.

[2020-07-06 07:31] Cryoris commented on #1087
The `Gate` has both `power` and `repeat`, where `power` computes the matrix representation of the gate (this class allows only unitary operations, so its possible), does matrix exponentiation and synthesizes this to a gate. `repeat` on the other hand, just repeats the gate several times.
For algos such as phase estimation we need to repeat circuits, gates and operators and to avoid writing special

[2020-07-06 07:45] a-matsuo commented on #1037
I'm working on this issue in PR #1061. About the name of the argument for QuadraticProgram in encode method, I feel `problem` sounds more intuitive for the converter instead of `prog`. What do you guys think? (It's no big deal. I just felt so. Since the class name is QuadraticProgram, prog might be better).

[2020-07-06 07:46] Cryoris commented on #1096
Sure, that would be great! Feel free to reach out for questions, if you have any 🙂  Once you have a draft ready you can also open a pull-request for us to look at.

[2020-07-06 08:55] adekusar-drl commented on #1037
I'm ok with this. I use `problem` as well.

[2020-07-06 13:46] yaelbh commented on #1015
It could be nice id someone could resolve this issue, since it slows down simulation.

[2020-07-06 15:33] hhorii opened #1101 "UCCSD H2 is failed while calculating an expecation value in Aer"
### Information

- **Qiskit Aqua version**: b54a4b6b42199ec9cef23384b1c55e2e4ef9d355
- **Python version**: 3.8.3
- **Operating system**: Linux, Mac

### What is the current behavior?
An exception is thrown while evaluating `aux_ops`:
[code]

### Steps to reproduce the problem

[code]

### What is the expected behavior?

No exception.

### Suggested solutions

if all the `coeff` of `SnapshotExpecta

[2020-07-06 15:59] jlapeyre commented on #1086
The current behavior is:
[code]
It looks like the intention may have been that `ListOp`, `SummedOp`, `ComposedOp` have operators that operate on the same number of qubits (in fact the same qubits). And `TensoredOp` has the expected behavior. If that's the case, we can see that this semantic is not enforced; eg `SummedOp([I, CX])` does not make sense. Is there some way the latter could be useful (t

[2020-07-06 19:07] jlapeyre commented on #1086
On the other hand, returning  a list of the number of qubits for each operator would be simpler and consistent across subclasses. This would leave it up to the caller to interpret the results.

[2020-07-07 03:04] jlapeyre opened #1103 "`Y.eval` gives incorrect answer on bit string"
### Information

- **Qiskit Aqua version**: 0.8.0.dev0+6f9629d
- **Python version**: 3.8.3
- **Operating system**: Linux

### What is the current behavior?

[code]
### Steps to reproduce the problem

Type the above

### What is the expected behavior?

The `-` should be `+`
[code]
`Y.eval('111')` is apparently intended to apply `Y` to each qubit in the string. The logic for computing the coefficien

[2020-07-07 10:08] t-imamichi commented on #1037
@woodsp-ibm pointed out that Aqua chemistry deal with conversion of problems in Hamiltonian class and results as follows.
- `Hamiltonian.run(qmolecule)` converts molecule data into qubit operator. https://github.com/Qiskit/qiskit-aqua/blob/5312359e94b105f8122e0660974be60b6a3450a2/qiskit/chemistry/core/hamiltonian.py#L119
- `Hamiltonian._process_algorithm_result(algo_result)` converts the results.

[2020-07-07 11:07] stefan-woerner commented on #1037
@t-imamichi I like your suggestion!

[2020-07-07 11:42] adekusar-drl commented on #1037
@t-imamichi Imamichi-san, looks nice.

[2020-07-07 16:19] t-imamichi commented on #1037
Thank you for your responses. I will make a PR based on my idea.

[2020-07-07 18:37] jlapeyre commented on #1103
I have a PR to fix this ready to go.

But, I think the design (or behavior) may need to be reconsidered.

TLDR; I suspect that `Y.eval('111')` returning an incorrect result rather than raising an exception is unintended.

Eg. with a PR,  `Y.eval('111')` and `(Y^X).eval('11')` will both give the correct result. In general, replacing `Y` and  `X` by other Paulis, and `111` by a bit string of the sam

[2020-07-07 22:12] mahfuz195 opened #1104 "Issue with Job timed out after 10000 seconds. [5201]"
### What is the expected behavior?

I am working on implementing an image classifier following this tutorial: https://github.com/Qiskit/qiskit-tutorials/blob/master/legacy_tutorials/aqua/machine_learning/qsvm_classification.ipynb.

I was able to run the code and get results using a virtual quantum computer in my local computer. But when I run the same code in "ibmq_qasm_simulator" it is giving me

[2020-07-08 05:11] t-imamichi commented on #1101
#1096 mentioned the same issue.

[2020-07-08 10:25] Cryoris commented on #1086
I think `ListOp` conceptually poses no restriction on the number of qubits on its elements, as it is just a list of some operators and also the base for e.g. `TensoredOp` where the number of qubits can differ. Also it can be used to apply a set of operations to a list of operators, e.g.
[code]
So I think returning a list of number of qubits would be the most consistent behaviour, as you said above

[2020-07-08 10:49] stefan-woerner commented on #1037
I think we should move the `QuadraticProgramToNegativeValueOracle` into a `algorithms / grover_optimizer` folder together with the `GroverOptimizer` as we also do for other algorithms in aqua. Eventually, this should go to the circuit library as a quantum arithmetic circuit to evaluate quadratic functions, but that requires the refactoring of the base `Grover` algorithm first.

[2020-07-08 11:38] a-matsuo commented on #1037
I changed the following things based on the above discussion and Imamichi-san's document in #1061 (I haven't changed anything of `QuadraticProgramToNegativeValueOracle`).
- introduced `QuadraticProgramConverter` which is an abstract class for converters
- renamed encode/decode to convert/interpret
- moved all parameters to __init__
- created setter/getter for converter parameters
- enabled “auto_p

[2020-07-08 13:03] t-imamichi commented on #1037
I will work on the change of converters with @a-matsuo on branch #1061

[2020-07-09 02:43] jlapeyre commented on #1086
Using `ListOp` like this
[code]
violates the principle of orthogonality of API elements IMO. The main purpose of `ListOp` seems to be as a super-class for classes representing certain algebraic expressions. The usage above is a convenience for
[code]
The latter is more transparent and more robust against API changes, and is really no more verbose. Using a class for two very different purposes make

[2020-07-09 03:23] t-imamichi opened #1106 "qsvm.run raises DQCPError"
### Information

- **Qiskit Aqua version**: master (d45f689)
- **Python version**: Python 3.7.8
- **Operating system**: Ubuntu 20.04

### What is the current behavior?

When I execute a notebook https://github.com/Qiskit/qiskit-tutorials/blob/master/legacy_tutorials/aqua/machine_learning/qsvm_classification.ipynb, `qsvm.run` raises `DQCPError`

#1083 might not be enough to fix this issue.
It is me

[2020-07-09 03:27] jlapeyre commented on #1086
After reading more code, I prefer `num_qubits` returning the correct scalar for each subclass and `NotImplemented` for `ListOp`.

[2020-07-09 09:34] t-imamichi opened #1107 "OptimizationResult does not contain variable information"
### What is the expected enhancement?

`OptimizationResult` contains the following information.
- x: The optimal value found in the optimization algorithm.
- fval: The function value corresponding to the optimal value.
- results: The original results object returned from the optimization algorithm. This can contain more information than only the optimal value and function value.
- status: The term

[2020-07-09 13:38] molar-volume commented on #1107
I am working on it!

[2020-07-09 15:42] t-imamichi commented on #1106
It may be because matrix P is not positive semidefinite due to sampling error of qasm_simulator. The code works fine with state_vectorsimulator, but raises the error with qasm_simulator.
https://github.com/Qiskit/qiskit-aqua/blob/d45f689cc7b8cc4509ceeb43fd7da78baa01a49a/qiskit/aqua/utils/qp_solver.py#L87

We maybe need to correct P to be positive semidefinite.
E.g., https://stackoverflow.com/quest

[2020-07-09 15:54] #982 closed

[2020-07-09 21:03] ares201005 opened #1108 "memory error: VQE simulation of H2O"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**:        3.7
- **Operating system**:  Linux

### What is the current behavior?
The VQE simulation of H2o molecule results in memory error:

.../site-packages/qiskit/aqua/operators/primitive_ops/pauli_op.py
../site-packages/qiskit/quantum_info/operators/pauli.py
.../site-packages/scipy/sparse/compressed.py
.../site-packages/scipy

[2020-07-09 21:19] woodsp-ibm commented on #1108
Are you using statevector_simulator? If so this is most likely the same issue as #1027 and in which case might I suggest you use the Aer qasm_simulator and set `use_custom` to True on VQE (see https://qiskit.org/documentation/stubs/qiskit.aqua.algorithms.VQE.html for docs on this). This will use the custom Aer snapshot instruction to compute the expectation (uses AerPauliExpectation object inside

[2020-07-09 22:38] romainfd commented on #1095
Hey @Cryoris, could I give this a try?

[2020-07-10 05:57] ares201005 commented on #1108
Yes, it is a statevector_simulator. Thank you for the hint, it indeed solves the problem.

[2020-07-10 07:32] t-imamichi commented on #1107
Thank you for having an interested on it. Let's discuss what kind of design of OptimziationResult is useful before implementation.

[2020-07-10 08:03] molar-volume commented on #1107
Hello @t-imamichi
I would add new argument ‘x_name’ to the constructor of OptimizationResult.
In most cases, it will take values of  ‘problem.variables’, as you suggest.

I do not have experience using optimisations, so I do not see what other properties could be added.

But the class OptimizationResult could use some other modifications, e.g. set the private attributes using properties.setter,
or

[2020-07-10 11:15] JohanNicander opened #1109 "AttributeError raised in p_bfgs optimizer test from attempted pickling of local object"
### Information

- **Qiskit Aqua version**: [95d8959](https://github.com/Qiskit/qiskit-aqua/tree/95d89596cb4670f05530aad2ff77724fe306118a)
- **Python version**: 3.8.1
- **Operating system**: macOS Catalina version 10.15.5

### What is the current behavior?
AttributeError raised when running unittest **test.aqua.test_optimizers.TestOptimizers.test_p_bfgs**. Error message discloses inability to pick

[2020-07-10 21:46] woodsp-ibm commented on #1104
@jyu00 Jessie, do you have any thoughts here. Maybe the algorithm and resulting job is just too complex as the 5201 would suggest. Its certainly a long time to run to determine that before failing.

[2020-07-11 23:42] romainfd commented on #1099
@woodsp-ibm could I have some feedback / help on this one too please?

[2020-07-13 14:20] jyu00 commented on #1104
The 5201 is a safeguard designed to ensure a job doesn't get stuck for some reason (hence the long timeout). I ran the same notebook on `ibmq_qasm_simulator` and got the same error. However it ran fine locally on Aer qasm_simulator, so it's not an issue with the job itself. I've opened an issue with the IQX dispatcher team.

[2020-07-13 16:33] woodsp-ibm commented on #1101
This error, due to partial completion of the expectation value as computed by Aer snapshot, was address by a change to Aer https://github.com/Qiskit/qiskit-aer/pull/826

[2020-07-13 19:53] jyu00 commented on #1104
@woodsp-ibm This should be working now.

[2020-07-13 20:11] woodsp-ibm commented on #1104
@jyu00 Thanks for looking into this and having a resolution so quickly.

@mahfuz195 Please give your notebook another try as it should work now.

[2020-07-14 12:04] Cryoris commented on #1109
Confirmed also on 3.8.3 with `tox` or just standard `python -m unittest`. Switching to Python 3.7 works however.

[2020-07-14 16:48] adekusar-drl commented on #1109
`python -m unittest test.aqua.test_optimizers.TestOptimizers` works fine on linux.

[2020-07-14 16:50] #1108 closed

[2020-07-14 17:12] adekusar-drl commented on #1107
Hi @t-imamichi, @molar-volume,
I suggest to add `__getitem__(self, i: Union[int, str])` to the `OptimizationResult` which returns the value of the variable either by index or name. To do so we need something like a dictionary variable name -> index, and we have it in `QuadraticProgram`. So, we can pass a problem instance to the result class as a required argument in the constructor. In this case w

[2020-07-14 17:24] adekusar-drl commented on #965
@woodsp-ibm seems like Sphinx does not parse docstrings and `#: ` style comments for the variables at the module level. I tried to add a constant at the class level and properly commented it and everything is fine in the generated documentation. Also my IDE provides me with the same docstring for the `float` function. So, I think Sphinx actually takes it from the standard documentation for an unkn

[2020-07-14 18:25] woodsp-ibm commented on #965
@adekusar-drl I had a thought on changing this that I shared earlier. To me in come out in the present docs much too prominently for my taste. I had not given this the highest priority to look at but had expected to do something ahead of the next release.

[2020-07-15 03:43] t-imamichi commented on #1107
Thank you for your comments @molar-volume and @adekusar-drl.
`x_name`, `x_names`, `var_name`, or `variable_names` as `List[str]` makes sense to me.
`__getitem__(self, i: Union[int, str])` looks useful too.
I think we can realize it by adding `_index: int` class variable to `Variable` or adding `_var2index: Dict[str, int]` to `QuadraticProgram`.

[2020-07-15 09:00] adekusar-drl commented on #1107
@t-imamichi there is a line in `QuadraticProgram` already: `self._variables_index = {}  # type: Dict[str, int]`, so we should make use of it.

[2020-07-15 16:41] dongreenberg commented on #1086
As far as the discussion above, I clearly wasn't sure what to do at the time of implementing... but thinking about it more, I'd argue that returning a list of num_qubits from a ListOp is actually a great way to validate operator shape, rather than calling op.__class__ == ListOp (because isinstance will return true for SummedOp etc.) and then validating num_qubits on each op in oplist, as is mostly

[2020-07-15 16:46] dongreenberg commented on #1099
Very strongly in favor of this, great suggestion. Thanks for taking it on @romainfd!

[2020-07-15 17:00] dongreenberg commented on #1088
Just noting that it's worth considering how this squares with the existing `permute` function in the circuit ops. One option could be for the core path to be `op1 @ op2.permute(indices)` rather than (or alongside) `op1.compose(op2, indices=indices)`. `permute` is a bit more general as it is valuable for other things as well.

[2020-07-16 06:56] Cryoris commented on #1087
This is no longer necessary, we added `power` to the `QuantumCircuit` because even if you know an efficient way to implement the power of a circuit, repeat should just repeat. The `power` method however can implement a more efficient implementation if it knows one. See Qiskit/qiskit-terra#4685.

[2020-07-16 06:56] #1087 closed

[2020-07-16 08:23] StefanoBarison opened #1114 "Impossible to submit job with 'ibm-q-research' provider"
### Information

- **Qiskit Aqua version**: 0.7.1
- **Python version**: 3.8.3
- **Operating system**: Ubuntu Linux 20.04

### What is the current behavior?
Good morning,
today I got access to 'ibm-q-research' provider but I can't submit jobs, I changed my provider into
`provider  = IBMQ.get_provider(hub='ibm-q-research',group='Stefan-Barison', project='main')`
but every time I try to submit a job

[2020-07-16 11:00] C-McKinstry opened #1116 "NumPyEigensolver operating on WeightedPauliOperator causes Segmentation Fault"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**: 3.7.7
- **Operating system**: Centos7

### What is the current behavior?

I am trying to run molecular models on a HPC system. However, while the various parts seem to work as intended on my personal laptop, the part of the code intended to solve the problem classically causes a Segmentation Fault. Run from the console, the co

[2020-07-16 12:57] woodsp-ibm commented on #1116
Given this is only a 2 qubit problem I do not know what might be happening. Its not something that has ever been reported before. Is there any more information around the fault and where it occurs that might help. Did you try perhaps looking at numpy & scipy versions you have installed to see if there is any newer version that perhaps might help.

[2020-07-16 14:05] woodsp-ibm commented on #1114
Hi, this is not really an issue around Aqua more for the IBM Q Provider. However I did see on the ibm-q-experience channel of the public Qiskit Slack workspace a report of the same problem. There it was replied to as being a bug and would be investigate and was reported fixed a couple of hours ago and for that person to try again. Would you like to retry your code and if this is fixed then close t

[2020-07-16 14:05] #1114 closed

[2020-07-16 16:07] C-McKinstry commented on #1116
All packages are the most recent versions available via Conda

[2020-07-16 22:43] jlapeyre commented on #1086
While working through your example, I see that the gradient notebook seems to be broken currently. This
[code]
gives me
[code]

[2020-07-16 23:29] jlapeyre commented on #1086
I am testing having `num_qubits` return a list of the number of qubits for `ListOp`. It will take a little work, as it appears that some code depends on the current behavior.

[2020-07-17 08:18] VANRao-Stack commented on #1091
Hello! I'm new here but I wanted to give this issue a try, if it's okay. Any pointers to the same would be appreciated.

[2020-07-17 08:34] VANRao-Stack commented on #1091
Hello! I'm new here but would like to contribute to this isue, if it's okay with everybody. Any pointers to the same or any starting point would be appreciated.

[2020-07-17 10:42] dongreenberg commented on #1086
That's strange, the notebook definitely worked when I committed it. @Cryoris, did QuantumCircuit change to no longer allow binding an expression to a parameter?

And great, this is a good chance to clean up the erroring behavior you're seeing to simply validate the composition against each num_qubit value (including the possibility of hierarchical ListOps, etc.).

[2020-07-17 10:46] C-McKinstry commented on #1116
Have discovered that the SegFault occurs in environments with the version of scipy that is installed automatically with qiskit, scipy 1.5.1

It does not however occur if I directly install SciPy with Conda, which installs SciPy 1.5.0 . With 1.5.0, the code functions as intended

[2020-07-17 20:36] woodsp-ibm commented on #1116
I am not sure what is causing the 1.5.1 to be pulled in when you install qiskit - the version we have listed says >1.4.0. Normally it would only install if the version already there did not meet the requirements unless some dependent we use needs a newer version. Anyway, certainly it can be better that the versions installed via Conda are used when that it being used, as the native libraries will

[2020-07-17 20:36] #1116 closed

[2020-07-17 20:38] woodsp-ibm commented on #1104
@mahfuz195 Since this should be working I am going to close this issue. If the same problem is still happening then please feel free to re-open this issue.

[2020-07-17 20:38] #1104 closed

[2020-07-17 21:07] woodsp-ibm commented on #1109
I believe in Python 3.8 the default multiprocessing mode was changed for the Mac. Thanks for bringing this to our attention. We will investigate how to correct this.

[2020-07-17 21:33] woodsp-ibm opened #1120 "Returning raw algorithm result in OptimizationResult"
For chemistry module though we interpret and return a result at that level, we also include the complete original result AlgorithmResult from Aqua so a knowledgeable user can get access and see aspects that may be useful

It would appear for optimization that the 'results'  field might contain this. A comment was raised by Bryce in public aqua Slack channel recently asking about access to info aro

[2020-07-18 12:27] molar-volume commented on #1107
Dear @t-imamichi and @adekusar-drl ,
thank you for your useful hints.
In my understanding, variable_names and x_names are the same thing, so I kept only x_names.
var_index is contained in variables (using enumerate(variables)), so I added only variables: List[Variable] argument to OptimizationResult.

Please, check the pull request for more details.

[2020-07-18 12:43] t-imamichi commented on #1107
Thank you for making a PR. I will take a look at it.

[2020-07-18 14:44] VANRao-Stack commented on #1096
Hey @spencerking how is this going? Mind if I try?

[2020-07-18 15:39] spencerking commented on #1096
@VANRao-Stack I actually just got started on this yesterday. If I don't make progress this weekend I'll let you know and you can give it a shot.

[2020-07-18 16:05] VANRao-Stack commented on #1096
Oh great! Do let me know how it goes, good luck!

[2020-07-18 17:45] #1109 closed

[2020-07-20 07:25] molar-volume commented on #1089
Hi @Cryoris
I implemented a simple solution that works on ListOps

![out](https://user-images.githubusercontent.com/16140190/87885212-7b005f00-ca14-11ea-94ae-efa363e4fc8d.png)

and raises error for non-unitary operators

![err](https://user-images.githubusercontent.com/16140190/87910729-c3e30280-ca6a-11ea-8c79-1b85a0ecc40d.png)

I will create PR as soon as I extend the tests.

[2020-07-20 13:07] PabloAMC opened #1125 "Circuits are not compatible when calling TruthTableOracle"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**: Python 3.7.6
- **Operating system**: IBM Quantum Experience

### What is the current behavior?

[code]

### Steps to reproduce the problem

First load some basic libraries
[code]
Then define the following bitmap (this is funny because if you change the bitmap the error might not happen)
[code]
what returns `64` in all cases as

[2020-07-20 17:39] jlapeyre commented on #1089
Thanks for looking into this.
Please do not paste images of code. Rather use quoted code blocks as in the first comment in this issue.

[2020-07-20 18:31] shadab-entrepreneur commented on #1090
Hi @Cryoris
Can you point me to the `QuantumCircuit.parameters` file?

[2020-07-20 18:35] jlapeyre commented on #1089
@cryoris Referring to the opening comment in this issue: Are you suggesting supporting `to_circuit` for derived classes only (eg `SummedOp`) or also for instances of `ListOp` ? The latter is meant to be container supporting vectorized operations.

[2020-07-20 20:14] jlapeyre commented on #1103
The PR linked above fixes this issue. But, the original comment in this issue misunderstands the problem: In fact `Y.eval('111')` should raise an error because a one-qubit op cannot be applied to a 3-qubt register. There is no (and should be no) implicit repetition or embedding of the operator `Y`.

[2020-07-21 07:10] Cryoris commented on #1090
It's a method here: https://github.com/Qiskit/qiskit-terra/blob/76f21b011171486ccc77775ea29f51be196755e2/qiskit/circuit/quantumcircuit.py#L1645

In an `OperatorBase` either the coefficients can be parameterized (ie of type `ParameterExpression` -- careful, this is not the same as a plain `Parameter`) or if it contains a `CircuitOp` or `CircuitStateFn`, the underlying circuit can be parameterized.

[2020-07-21 07:14] Cryoris commented on #1089
The idea was to add it only for derived classes, meaning: `TensoredOp`, `ComposedOp` and `SummedOp`.

If we want we could also add it to the `ListOp` itself but then it should return (nested) lists of circuits. But maybe let's start with only doing it for the derived classes.

[2020-07-21 12:50] molar-volume commented on #1089
@Cryoris I moved the methods to the child classes, please see the PR.

[2020-07-22 14:30] spencerking commented on #1096
@VANRao-Stack I'm going to make a WIP PR to get some feedback. I think I've got the general idea but haven't gotten much feedback on Slack.

[2020-07-23 15:25] #1125 closed

[2020-07-23 16:12] adekusar-drl opened #1134 "Add feasibility checks to optimizers/converters"
### What is the expected enhancement?
Please add that an optimization algorithm should check whether a solution is feasible and change the status to INFEASIBLE if not. This should also be part of the `interpret` of the equality to penalty converter.
This would likely require to add a `is_feasible(x)` method to `QuadraticProgram`, but given the `evaluate(x)` we already have that should be straight-

[2020-07-23 17:12] woodsp-ibm opened #1135 "Linting under 3.8"
Under Python 3.8 the following line fails under lints due to differing arguments
https://github.com/Qiskit/qiskit-aqua/blob/8512bc6ce246a8b3cca1e5edb1703b6885aa7c5d/qiskit/aqua/algorithms/algorithm_result.py#L48

I suspect the UserDict signature may have changed a little. Can this be investigated and altered as needed. #1089 which is unrelated adds a pylint disable as they ran lint under 3.8.

In

[2020-07-23 18:18] jlapeyre opened #1136 "SummedOp does not distribute over ListOp under reduce()"
### What is the expected enhancement?

We currently have
[code]
That is, `ComposedOp` distributes over `ListOp`.

But, we also have
[code]
`reduce` does not change the expression on the LHS.

Several other operations are vectorized wrt `ListOp`. I suspect this has simply not yet been implemented for `SummedOp`.
It would be good if the inequality above were instead an equality.

[2020-07-23 19:07] #1095 closed

[2020-07-23 19:30] weiT1993 commented on #1024
Do we have to call `grover.run()` to get the circuit with more iterations? Is there a way to get the circuit directly without running?

[2020-07-23 20:16] woodsp-ibm opened #1139 "Grover construct_circuit and number of iterations"
Grover supplies a parameter called number of iterations. Construct_circuit builds a circuit based on some internal iteration count to Grover. So construct circuit before grover is run returns it will a circuit per iteration 1, and after it is run it returns a circuit with the number of iterations it ran to.

The enhancement would be to have a num_iterations parameter on the construct_circuit so a

[2020-07-23 20:18] woodsp-ibm commented on #1024
Hi, while you can get the circuit before running it only has one iteration. The circuit is built for the number of iterations but its an internal variable that is only updated when the algorithm is run. What would be nice, I maybe should have raised an issue before to potentially enhance things, would that the construct circuit had a number of iterations parameter so the circuit would be what you

[2020-07-23 20:40] #1103 closed

[2020-07-23 22:13] #1135 closed

[2020-07-24 01:01] #1027 closed

[2020-07-24 11:51] aman3014 commented on #1139
Hey! May I work on this issue ?

[2020-07-24 13:41] woodsp-ibm commented on #1139
Yes, sure! And you can also refer to the CONTRIBUTING.md here that has information that may be of help.

[2020-07-24 13:57] #1107 closed

[2020-07-24 16:23] woodsp-ibm commented on #1101
As noted in the prior comment this was fixed in master. In the absence of any feedback to the contrary I am closing this. If for some reason it did/does not work for you still then feel free to re-open.

[2020-07-24 16:23] #1101 closed

[2020-07-24 16:36] woodsp-ibm commented on #1006
Discussion I think concluded as there has been no activity for a couple of months so I am closing this,

[2020-07-24 16:36] #1006 closed

[2020-07-25 10:34] molar-volume commented on #1088
CircuitOp.permute currently raises exception for the case of indices beyond num_qubit:

[code]
which is something that should be possible and then it can work as follows:
[code]

The interface for compose might be
[code]
and will use permute behind the scenes.

This is more general than QuantumCircuit.compose.
QuantumCircuit.compose can pad and permute only 'other' circuit, if 'self' is smaller, i

[2020-07-25 23:21] mertall opened #1142 "VQE for molecules giving OSerror"
### Information

- **Qiskit Aqua version**:0.19.6
- **Python version**: 3.8
- **Operating system**:Windows: WSL based venv

### What is the current behavior?
Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "/usr/lib/python3.8/concurrent/futures/process.py", line 102, in _python_exit
    thread_wakeup.wakeup()
  File "/usr/lib/python3.8/concurrent/futures/process.py", line

[2020-07-26 17:59] woodsp-ibm commented on #1142
The Qiskit code tries to take advantage of multiprocessing, where its going though parts that can run in parallel, with a goal of speeding up things overall. This seems to be failing under WSL in the area of multiprocessing. Now we do test under Windows directly and support that as a platform, same for Linux directly. One thing you might like to try is to set num_processes to 1 in aqua_globals and

[2020-07-26 21:28] mertall commented on #1142
I did so but none of my graphs are coming up.

[2020-07-26 22:42] woodsp-ibm commented on #1142
You need to add a `plt.show()` at the end to make sure the graph appears when you run this outside of a notebook as python script.

[2020-07-27 00:25] manoelmarques commented on #1142
I was able to run it and show the graph under WSL-2 Ubuntu 20.04 and python 3.8.3 (Anaconda env.) in vs code.

Very important: You need a XServer running, please look at: https://stackoverflow.com/questions/43397162/show-matplotlib-plots-in-ubuntu-windows-subsystem-for-linux-wsl1-wsl2

First I added to my .bashrc: export DISPLAY=`grep -oP "(?<=nameserver ).+" /etc/resolv.conf`:0.0
Once it ran I go

[2020-07-27 02:36] mertall commented on #1142
thank you @manoelmarques @woodsp-ibm ... I added plt.show() but forgot to include the updated script in this issue. I will take both suggestions into consideration and will update this issue tomorrow with my results. again, thank you for the help so far!

[2020-07-27 02:41] molar-volume opened #1143 "CircuitStateFn.tensor does not set is_measurement parameter"
### Information

- **Qiskit Aqua version**:0.7.3
- **Python version**:3.7
- **Operating system**:OSX

### What is the current behavior?
CircuitStateFn.tensor does not set ```is_measurement``` parameter (hence is default to False), even if tensored instances were ```is_measurement=True```

### Steps to reproduce the problem
[code]

### What is the expected behavior?
cfn.is_measurement should equal

[2020-07-27 05:37] KahanMajmudar commented on #1134
Hello, I am new to Qiskit contributions and would like to contribute, Is this a good issue which I can work on?

[2020-07-27 05:54] t-imamichi commented on #1134
OptimizationResult already has the status. You can check it by `OptimizationResult.status == OptimizationResult.Status.INFEASIBLE`.
https://github.com/Qiskit/qiskit-aqua/blob/854bd820b43a0c3f981fae588d1a0323a6e3486d/qiskit/optimization/algorithms/optimization_algorithm.py#L92
LinearEqualityToPenalty checks the feasibility to set the status when interpreting the result.
https://github.com/Qiskit/qi

[2020-07-27 06:18] KahanMajmudar commented on #1134
Nothing's missing, I am trying to find issues which I can work on and saw this as an open one but it already has a solution. Thank you for pointing it out

[2020-07-27 08:12] VANRao-Stack commented on #1090
I see that the OperatorBase class can accept coefficients of different types like int, float etc. Is the code expected to return all those coefficients for this feature request? Also, if it does contain the ParamterExpression, is it supposed to return the ParamterExpression object?

[2020-07-27 09:25] Cryoris commented on #1090
It's supposed to only return the `Parameter` objects, no floats/ints. If you have a `ParameterExpression` you can get the `Parameter`s it contains by `ParameterExpression.parameters`. Essentially the behaviour should be the same as for the `QuantumCircuit` and its `parameters` method 🙂

[2020-07-27 09:49] t-imamichi commented on #1134
I got the point now. It would be convenient if `QuadraticProgram` can check the feasibility of `OptimizationResult.x` and point out violated constraints.
E.g.,
[code]

[2020-07-27 10:45] adekusar-drl commented on #1134
@t-imamichi is right in general, but the idea is to explicitly check feasibility in optimizers/converters and change the status accordingly:
[code]
Now we may get a result with the SUCCESS status that is infeasible.

@KahanMajmudar this is not a tough issue but may require quite a lot of changes in many files.

[2020-07-27 12:01] t-imamichi commented on #1134
Yes, it does so already. The following line applies `QP.subsitute_variables(OptimizationRestuls.x)`https://github.com/Qiskit/qiskit-aqua/blob/854bd820b43a0c3f981fae588d1a0323a6e3486d/qiskit/optimization/converters/linear_equality_to_penalty.py#L192
and checks `substituted_qp.status` is `VALID` or not. `VALID` corresponds to feasible.
https://github.com/Qiskit/qiskit-aqua/blob/854bd820b43a0c3f981fa

[2020-07-27 12:23] KahanMajmudar commented on #1134
@t-imamichi @adekusar-drl  If the issue is solvable, can I help with it? Even if it requires changes in many files, I would like to help and with the help and guidelines of others, the feature can be added

[2020-07-27 12:52] eggerdj commented on #1120
One location where the information returned to the user can be improved is in the `recursive_minimum_eigen_optimizer`. These optimizers run, for instance, many different QAOAs. However, the result object could contain more information than what is currently returned
https://github.com/Qiskit/qiskit-aqua/blob/854bd820b43a0c3f981fae588d1a0323a6e3486d/qiskit/optimization/algorithms/recursive_minimum_

[2020-07-27 14:42] BryceFuller commented on #1120
In discussions with clients, there have been requests for more timing information within the optimization results object.
Clients are keen on benchmarking wall-clock time for hardware and simulator experiments.

I realize that there are many executions that occur within something like a QAOA run. Perhaps it's not necessary to return the raw results object of all hardware runs (which could be tens

[2020-07-27 14:54] adekusar-drl commented on #1134
@KahanMajmudar I don't know to what extent you are familiar with Aqua and the optimization stack in particular, so I'll try to summarize what should be done here. Anyway, this writing is nice to have to be sure that everybody is on the same page.

1. Add a method `is_feasible(x)` to `QuadraticProgram`. This is pretty straight-forward, the method should verify that all constraints in the QP instanc

[2020-07-27 15:12] woodsp-ibm commented on #1120
This information is already available via the callback that Aqua has on variational algos. When the algo is created the callback can be provided which will receive that information when it runs within the optimization module. The wallclock time it takes for each eval is evidently the time between each call (only the time for the very first eval would not be known since the callback is made once it

[2020-07-27 15:13] t-imamichi commented on #1134
@adekusar-drl Thank you for summarizing the details.

1. I recommend to distinguish linear and quadratic constraints of the detailed mode of `is_feasible` because QP distinguishes them. So the return type would be `Union[bool, Tuple[bool, List[LinearConstraint], List[QuadraticConstraint]]`.
https://github.com/Qiskit/qiskit-aqua/blob/854bd820b43a0c3f981fae588d1a0323a6e3486d/qiskit/optimization/prob

[2020-07-27 15:29] adekusar-drl commented on #1134
1. It is open for discussion, either constraints or indices, both are fine with me. Agree that `report_violated_constraints` is better, but very long :)
@KahanMajmudar so, what do you think?

[2020-07-27 15:49] KahanMajmudar commented on #1134
@adekusar-drl , you are correct, I don't have much familiarity when it comes to aqua and optimization stack but I am ready to put the effort of going through the docs and reading the necessary code and I think I would catch up as it moves along :) .

As for the summary, I think it would be great to work in chunks, like completing the 1st and moving along, so that we can track the problem as we mov

[2020-07-27 16:35] adekusar-drl commented on #1134
Fine! Welcome aboard!

[2020-07-27 16:53] KahanMajmudar commented on #1134
Thank you so much, excited to work on this. So should I start with documentations(would be great if I knew what to pay attention to) or do you have something which needs more attention first?

[2020-07-27 17:02] adekusar-drl commented on #1134
To get started with the optimization stack please take a look at the documentation:

- Landing page https://qiskit.org/documentation/tutorials/optimization/index.html
- QuadraticProgram https://qiskit.org/documentation/tutorials/optimization/1_quadratic_program.html

A couple of blog posts:

- High level https://www.ibm.com/blogs/research/2020/07/quantum-optim-module/
- More details https://medium

[2020-07-28 13:41] AustinGilliam opened #1145 "Better Documentation for evaluate_classically()"
### What is the expected enhancement?

Could we get better documentation on what the evaluate_classically method in the Oracle classes is supposed to do? Namely, what is the content and format of what it is expected to return? Right now the only explanation I can find for the method is "evaluate classical".

This would help a lot when implementing CustomCircuitOracles for Grover.

As an aside, is

[2020-07-28 14:12] t-imamichi commented on #1134
Yes, `report_violated_constraints` looks too long... Let's use `detailed`.

[2020-07-29 19:31] kaykhos opened #1148 "Issue with PySCFDriver"
### Information

- **Qiskit version**: 0.14.2
- **Python version**: 3.7.4
- **Operating system**: Linux Mint 19.1

### What is the current behavior?

Running the PySCFDriver for three H atoms gives the following error
`QiskitChemistryError: 'Failed electronic structure computation'`

### Steps to reproduce the problem

`from qiskit.chemistry.drivers import PySCFDriver, UnitsType`
`atom = 'H 0 0 0;

[2020-07-29 21:05] woodsp-ibm commented on #1145
I added some text to describe what is expected. Let us know if this helps or something needs further clarification.

Is there a reason for the params... I am not sure why they were defaulted to invalid values. I changed this but to do it for circuit I needed to re-order it. Since the only use of CustomCircuitOracle I see is calling it by named parameters (rather than positional) that change should

[2020-07-30 01:14] AustinGilliam commented on #1145
@woodsp-ibm Perfect! Cleared it up for me. Thank you for the quick turnaround.

[2020-07-30 09:29] KahanMajmudar commented on #1134
Hello, I have started to work on the issue after reading the resources provided by @adekusar-drl . I would like to know how to start the implementation of Step-1. For e.g.: What input cases would be infeasible for a given problem and how the output should correspond to? Also, is infeasible only used while substitution? Inside the code of `Quadratic Program` the error is thrown when there is substi

[2020-07-30 11:56] mdsapova opened #1151 "MP2 Info excitation filtering bug for H2 molecule"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**: 3.8.3
- **Operating system**: Ubuntu 16.04

### What is the current behavior?

I am running VQE-UCCSD calculations for H2 molecule in minimal basis set (STO-3G) with precomputing excitation amplitudes. Function `MP2Info.mp2_terms()` for H2 molecule returns an empty dictionary.

### Steps to reproduce the problem

[code]
output

[2020-07-30 12:35] adekusar-drl commented on #1134
Hi,

If a solution violates a constraint defined in the problem then it is infeasible solution. So, on step1 we want to add a method that checks feasibility given a potential solution.

I think `SubstituteVariables` class is slightly a different story if you talking about it. Not sure I got what you mean here

[2020-07-30 13:06] #1145 closed

[2020-07-30 13:14] KahanMajmudar commented on #1134
So that will be different as per the problems? If so, can I have one problem which produces infeasible solution?

Correct, to while defining a problem also, we can get the `infeasible` error and so is that included in our problem scope?

[2020-07-30 15:15] adekusar-drl commented on #1134
Here feasibility is a product of a problem and an optimizer. You have a problem definition as a QP instance and you have an optimizer. You try to solve the problem with the optimizer. In some cases you may get infeasible solution. As an example you may get any problem from the tests and change a correct solution to an infeasible one by making it violate a constraint.

Likely not, I'm still don't g

[2020-07-30 15:36] woodsp-ibm opened #1153 "VQE auto expectation failure"
Leaving 'expectation' constructor parameter as default of None should allow VQE to auto-select an expectation. While it does do this it has an issue in that it 'locks in' the first selected one since it holds it in self._expectation. The instance variable would have been initialized to None as default and hence the the logic checks against None to determine if it needs to select an expectation (wh

[2020-07-30 15:56] KahanMajmudar commented on #1134
If I understood correctly, we are worried about what will happen after a problem is been given to solve to a optimizer. We need to know what is causing those violations and report back.

[2020-07-30 16:29] adekusar-drl commented on #1134
Yes, almost right. We do care of what we get as an output from optimizers, whether it is a sort of correct output or not.

[2020-07-31 11:05] #1019 closed

[2020-07-31 11:30] KahanMajmudar commented on #1134
@adekusar-drl @t-imamichi  I have looked at the code of all optimizers and every one of it contains a method named `get_compatibility_msg`. So can our `is_feasible` function make use of that to find out which are not compatible and then perform various steps to return the violated constraints? This is just one flow according to me and better suggestions are appreciated.

One problem might be that

[2020-07-31 12:07] adekusar-drl commented on #1134
No, since those are in optimizers, but `is_feasible` must be in `QuadraticProgram`.

[2020-07-31 12:30] KahanMajmudar commented on #1134
As far as I understood:
1) Define a problem using the Quadratic Program. (suppose it contains a var x with bounds 0<=x<=1)
2) Solve the problem using Optimization Algorithm.(suppose it returns a result which says x = 3 is the solution)
3) Our is_feasible method would return False as x cannot exceed the bounds of 0 and 1?

Is this the correct general flow or did I miss/misunderstood something?

[2020-07-31 12:44] adekusar-drl commented on #1134
Totally correct!

[2020-07-31 17:18] KahanMajmudar commented on #1134
https://github.com/Qiskit/qiskit-aqua/blob/358874b825eec135a4c5316009e312c5129f01f6/qiskit/optimization/problems/quadratic_program.py#L969-#1021

Any ideas on how this function differs from what our step-1 is trying to achieve?

[2020-07-31 19:02] woodsp-ibm commented on #1142
@mertall Did the information help you? If the issue is solved for you then please feel free to close this issue off.

[2020-07-31 20:14] #1142 closed

[2020-07-31 20:44] EliasCombarro opened #1155 "Problem when using ADAM with QAOA and the qasm_simulator"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**: The one in the IBM Quantum Experience Jupyter notebook server
- **Operating system**: Program executed on the IBM Quantum Experience Jupyter notebook server

### What is the current behavior?

When using QAOA with ADAM as the optimizer and setting a seed_simulator value, the optimizer seems to make only one function evaluation

[2020-07-31 21:37] adekusar-drl commented on #1134
Well, this function is a part of the variable replacement algorithm. I don't think it is related to this issue.
This is a quick sketch what the method should do. It is not finished, just a part of it, quadratic constraints are left behind and likely more checks are required.
[code]

I hope it is clear.

[2020-08-01 06:49] woodsp-ibm commented on #1155
QAOA directly extends the VQE algorithm in our implementation. I say this as the expectation value computed is done so via logic in VQE which uses an `expectation` object and the default expectation computation, which is selected when None is explicitly provided by the user, was changed when using Aer and qasm_simulator in 0.19.4. This user provided expectation capability was new function that was

[2020-08-01 11:44] KahanMajmudar commented on #1134
Yes it is, thanks to the code, a lot of things are clearing slowly, I have started with the idea and would post updates or doubts as I continue to work on it

[2020-08-01 13:29] adekusar-drl commented on #1134
Yeah, I understand, it may be frustrating if you are just in the beginning, feel free to ask question.

[2020-08-01 17:23] woodsp-ibm opened #1156 "Expectation behavior of factory"
The expectation factory checks the operator and will return a valid expectation if the operator is all paulis or matrices. However for a mix the following happens `raise ValueError('Expectations of Mixed Operators not yet supported.')`

This test below was in test_qaoa - it has been updated/changed as part of #1154 which ensures, when the expectation as supplied was None, and VQE should auto-selec

[2020-08-01 17:28] #1153 closed

[2020-08-01 17:41] woodsp-ibm opened #1157 "Qubit mapping of circuits on real device can be inconsistent"
Measurement noise mitigation is supported when the circuits are mapped to the same qubits. A problem has been recently reported by two users on the public Qiskit Slack #aqua channel in the last couple of days. Here is one

qiskit.aqua.aqua_error.AquaError: 'The used qubit index are different. ([7, 1, 0, 6, 3, 2]) vs ([0, 2, 7, 5, 1, 6]).\nCurrently, we only support all circuits using the same set

[2020-08-01 18:27] #1139 closed

[2020-08-01 20:28] #1099 closed

[2020-08-01 22:48] jlapeyre commented on #1015
I'm not familiar with the vqe code. It would be help if someone could point to a place in the code to look for the problem.

[2020-08-02 14:45] #1148 closed

[2020-08-03 07:06] EliasCombarro commented on #1155
Thank you very much. I have tried with the "include_custom = True" option and it seems to work now.

[2020-08-03 11:27] #1151 closed

[2020-08-03 12:27] KahanMajmudar commented on #1134
Given a problem:
[code]

does this achieve our objective?
[code]

[2020-08-03 14:07] Cryoris commented on #1015
The problem is that the `AerPauliExpectation` uses the QASM backend, which is (falsely) associated with measurements. With Aer's snapshot mode we are using a QASM backend but do a statevector simulation and do not need the measurements at the end of the circuit. However, right now, if the backend is a QASM backend, the circuit sampler adds measurements to the circuits that are simulated, here:
htt

[2020-08-03 16:15] woodsp-ibm commented on #1155
Great, I am closing this issue off then since the solution provided is working for you.

[2020-08-03 16:15] #1155 closed

[2020-08-03 17:32] jamessud opened #1162 "Pyscf H3+ cation Hamiltonian generation innacurate"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**:  3.8.3
- **Operating system**: Ubuntu VERSION=18.04.1

### What is the current behavior?
When generating a Hamiltonian using PYSCFDriver for 3 H atoms and charge=1, the generated hamiltonian has FCI energy equal to that of a neutral H3 molecule.

### Steps to reproduce the problem

[code]
this prints:
`exact energy=-1.35073066

[2020-08-03 18:28] #1037 closed

[2020-08-03 19:24] jlapeyre commented on #1015
After the optimization, a final circuit is run to get the optimal parameters. It looks like spurious measurement gates are again inserted. For an instance of `QasmSimulator`, `is_statevector` is false. This line
https://github.com/Qiskit/qiskit-aqua/blob/a133bc691dda0d58710f4468abc2113b2ef4f1f5/qiskit/aqua/algorithms/minimum_eigen_solvers/vqe.py#L531
then results in measurements being appended.
It

[2020-08-03 19:49] Cryoris commented on #1015
Yes -- any place that checks if measurement gates should be supported via `quantum_instance.is_statevector` will wrongly append them if the `AerPauliExpectation` is used.

[2020-08-03 20:21] jlapeyre commented on #1015
Should I pass `statevector = True` unconditionally here ?
https://github.com/Qiskit/qiskit-aqua/blob/a133bc691dda0d58710f4468abc2113b2ef4f1f5/qiskit/aqua/algorithms/minimum_eigen_solvers/vqe.py#L208
Or condition setting that flag on `isinstance(vqe.expectation, AerPauliExpectation)`?

[2020-08-03 20:29] adekusar-drl commented on #1134
Looks good! Well, the problem is not fully specified, but in this case it does not matter.

[2020-08-03 21:05] woodsp-ibm commented on #1162
Hi, when the 2nd quantized Hamiltonian is built out, since it has one and two- body creation and annihilation operators in its formation, we end up with states in the Hamiltonian for every possible particle configuration. The lowest eigenvalue in that Hamiltonian, ends up being the state with those atoms where the particle configuration (from none, to fully occupied) gives that lowest energy - thi

[2020-08-03 21:26] woodsp-ibm commented on #1162
Here, I printed the excited states for you so you have an idea (the method is deprecated as we have been refactoring the logic so you will see a few warnings if you run, but it still works.
[code]

And the result is - where you see the lowest energy state is degenerate here, the state, corresponding to the one you want, is listed there in the ones labelled excited states

[code]

[2020-08-03 21:28] jamessud commented on #1162
@woodsp-ibm

Thank you so much, that completely clears this up! Really appreciate the help and for the detailed explanation

[2020-08-03 21:54] woodsp-ibm commented on #1015
@jlapeyre If you are considering making the CircuitSampler instance dependent on both quantum_instance and expectation there may be a few places where code needs changing to ensure a suitable CircuitSampler is set since quantum_instance and expectation are both independently settable. With the latter being autoselected when expectation provided was None based on the operator and quantum_instance.

[2020-08-04 01:45] woodsp-ibm commented on #1162
You're welcome. I'll close this off then.

[2020-08-04 01:45] #1162 closed

[2020-08-04 04:29] KahanMajmudar commented on #1134
I do have a couple of questions:
1. How can I properly test this? For the edge cases and also for general cases?
2. After solving a problem through an optimizer, do the returned result always be in the bounds specified in the QP or do we need a separate check for that as well?

[2020-08-04 08:00] siddharthdangwal commented on #1091
Hey if this is open, I would like to work on this.

[2020-08-04 08:10] adekusar-drl commented on #1134
I don't get it. What do you mean here?

In general as a solution you may expect to have any value from an optimizer. Actually that's why we decided to implement such checks. So, constraints and variable bounds(sort of constraints also) are to check.

[2020-08-04 08:26] KahanMajmudar commented on #1134
I mean, after the function is implemented, there has to be some tests needed to be performed so that it can be confirmed that the function is indeed doing the required task and there are no bugs

Alright

[2020-08-04 08:30] adekusar-drl commented on #1134
Yes, there should be unit tests for new features.

[2020-08-04 08:37] KahanMajmudar commented on #1134
Correct, so how to decide these test cases?

[2020-08-04 10:27] adekusar-drl commented on #1120
I have reviewed the optimizers and tried different approaches, so I want to summarize my findings before diving deep in the actual implementation. There are a lot of things we may additionally return from optimizers. The problem is that I can't propose a common data structure that covers all possible results, they are too different, without introducing something like a `Dict` or `Any`.
In my opini

[2020-08-04 11:43] adekusar-drl commented on #1134
Well, you choose scenarios which will cover all possible execution flows in your code, e.g. if you have an if statement, then you have two scenarios, one when the if statement is true and another one when it is false. Basically, this is a common way how to write unit tests. Or I missed the point?

[2020-08-04 13:29] KahanMajmudar commented on #1134
Absolutely on point, I meant that do we unit test with random inputs or is there a procedure that needs to be followed.

[2020-08-04 14:27] woodsp-ibm commented on #1120
In the Aqua algorithms we used to return a dictionary, and while it is flexible, as you indicate, it lacks easy discoverability just by looking (or inspecting with an IDE) the result, nor is there type checking and keeping consistency across different implementations is much harder to keep the keys and values consistent.

Hence in Aqua 0.7 we started moving over to properties on a result class wit

[2020-08-04 15:01] ikkoham opened #1163 "AerPauliExpectation.compute_variance returns zero variance"
### What is the expected enhancement?

AerPauliExpectation.compute_variance returns zero variance as the comment said.
https://qiskit.org/documentation/stubs/qiskit.aqua.operators.expectations.AerPauliExpectation.compute_variance.html

However, AerPauliExpectation has a finite (=non-zero) variance in general. In `SnapshotExpectationValue` used here,  an optional argument of variance is `True`. It

[2020-08-04 15:09] adekusar-drl commented on #1120
Thanks a lot for your detailed comment! I'll update the result classes according to 1)

[2020-08-04 15:33] gvnjones opened #1164 "Parallelization of parameter evaluation"
Performing a standard VQE-qUCCSD calculation for a chemical system requiring ~20 qubits takes many dozens of hours using Qiskit for several computational platforms and simulators. By comparison, performing RHF, MP2, CCSD,  DMRG or FCI for a system of 20 spin-orbitals on a classical computer requires ~1 minute. This severely slows down research on quantum applications in quantum chemistry and mater

[2020-08-04 15:44] woodsp-ibm commented on #1164
VQE (and the other variational algorithms in Aqua) already support generating circuits together for parallel gradient computation. The following parameter sets this up.

We tried initially with a flag to do the parallel gradient computation or not. On bigger molecules, with their larger circuits, it was easy to run out of memory hence we switched to this. Here it in effect says how many points on

[2020-08-04 16:39] gvnjones commented on #1164
Thanks woods-ibm.

I've altered the code to make use of `max_evals_grouped` on a 64 core machine via the following
[code]

However, this has not improved the timing of each parameter evaluation. Is this the correct way to use the keyword given the number of cores on the machine?

[2020-08-04 16:59] woodsp-ibm commented on #1164
The parallel options for Aer are listed here https://qiskit.org/documentation/_modules/qiskit/providers/aer/backends/qasm_simulator.html  Does it look like the cores are being used?

Also perhaps use the faster Aer snapshot mode by setting `include_custom=True` on VQE to have it use this custom Aer capability automatically or explicitly set `expectation=AerPauliExpectation()` .

Bear in mind too e

[2020-08-04 18:33] Cryoris commented on #1163
Which variance do you mean exactly?

As far as I know, the variance argument in the `SnapshotExpectationValue` does not return an estimator for the sampling noise but only if you add a noise model to the backend. I.e. it cannot be used as a replacement of `PauliExpectation`.