[2020-08-04 19:17] molar-volume opened #1165 "PrimitiveOp @ ComposedOp is not consistent with ComposedOp @ PrimitiveOp"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
```ComposedOp @ PrimitiveOp``` appends PrimitiveOp to ComposedOp.oplist and tries composition with the last ```PrimitiveOp``` in the ```oplist```.
On the other hand, ```PrimitiveOp @ ComposedOp```only creates ```ComposedOp([PrimitiveOp, ComposedOp])```

### Ste

[2020-08-05 00:21] ikkoham commented on #1163
Yeah, `SnapshotExpectationValue` returns an expectation value `<psi | H psi>`. This is not an estimator.

The variance is defined as
`<psi | H^2 psi> - <psi |H^2 psi>.`
This can be obtained in the infinite shots limit.

[2020-08-05 13:12] t-imamichi commented on #1120
I’m wondering why some algorithms include converters as part of `OptimizationResult` even if the results are already interpreted by the converters,  e.g. `MinimumEigenOptimizerResult` includes a qubo_converter. What kind of use case is supposed?

[2020-08-05 15:53] adekusar-drl commented on #1120
@t-imamichi I decided to remove qubo converters considering our discussion on slack :)

[2020-08-05 17:17] KahanMajmudar commented on #1134
For the same problem

[code]

Looking for feedback @adekusar-drl  @t-imamichi . Thank you

[2020-08-05 17:49] jyu00 opened #1169 "Job timeout error should be suppressed if waiting for an old job"
### Information

- **Qiskit Aqua version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
#906 added the ability to wait for old jobs to finish before submitting a new one to IBMQ, so the submit doesn't fail due to job limit. The wait has a timeout value of 5 minutes, to see if a job slot frees up. However, if the old job doesn't finish within the wait, the `wait

[2020-08-05 17:50] jyu00 commented on #1169
Please assign this issue to me.

[2020-08-05 18:48] adekusar-drl commented on #1134
Looks correct.

[2020-08-06 13:34] KahanMajmudar commented on #1134
What should be the next steps now? @adekusar-drl  @t-imamichi .

[2020-08-06 13:57] adekusar-drl commented on #1134
If `is_feasible(x)` works then pick an optimizer, probably `CplexOptimizer` is an easiest one, and try to add a a few lines in the end where you check feasibility of the solution obtained by the optimizer. Then pass the correct status to `OptimizationResult` or to a sub-class of it.

[2020-08-06 14:50] exAClior opened #1172 "Optimizer SPSA parameter type misname?"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**: Not related
- **Operating system**: Not related

### What is the current behavior?

In the documentation of SPSA optimizer, the type for variable "skip_calibration" is marked as "float". Wouldn't it be better if we mark it as "bool"?

### Code related
https://github.com/Qiskit/qiskit-aqua/blob/df2508e12162198cdb625f1fd91246845

[2020-08-06 17:47] molar-volume opened #1174 "VectorStateFn(primitive, is_measurement=True) can not be converted to_circuit_op"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**: 3.7.
- **Operating system**: OSX

### What is the current behavior?

qiskit.exceptions.QiskitError: 'Desired statevector length not a positive power of 2.'

### Steps to reproduce the problem
[code]
The exception is raised in case ```is_measurement=True``` because input for ```CircuitStateFn.from_vector``` is 2D array.
For cas

[2020-08-06 18:56] AminKaramlou opened #1176 "Possible incorrect output in RecursiveMinimumEigenOptimizer"
### Information

- **Qiskit Aqua version**: 0.7.0
- **Python version**: 3.8.5
- **Operating system**: Mac OS Catalina

### What is the current behavior?

When given a `QuadraticProgram` instances to solve as an input the `RecursiveMinimumEigenOptimizer.solve` function should return an object with two attributes. the `x` attribute represents a bit string and the `fval` attribute represents the outp

[2020-08-06 21:35] woodsp-ibm commented on #1172
Thanks, it should be a bool as you correctly state. I do not know why none of the source code checking tools we use did not pick up on that - assigning False as a default value to something we say is a float seems like it ought to have been caught.

[2020-08-07 01:14] #1172 closed

[2020-08-07 10:20] nonhermitian commented on #1030
I will add though that since the developers here do not have access to the AQT device for testing, it hard to verify that all is working as it should.

[2020-08-08 07:32] cyx617 opened #1180 "Model Enhancement for Hybrid Quantum-classical Neural Networks in the Qiskit Textbook"
### What is the expected enhancement?

The chapter 4.1.5 of the Qiskit textbook ([https://qiskit.org/textbook/ch-machine-learning/machine-learning-qiskit-pytorch.html](url)) shows a very intriguing example of hybrid quantum-classical neural networks with PyTorch and Qiskit and it demonstrates the ability of integrating Qiskit and PyTorch in the field of quantum machine learning. But some details o

[2020-08-08 11:55] woodsp-ibm commented on #1180
Thank you for the detailed thought here. Since this is against the qiskit textbook the issue should ideally be against the repository there https://github.com/qiskit-community/qiskit-textbook to get it to the authors/creators of that textbook and that specific section. I will see if I can get this transferred there.

[2020-08-08 15:55] deeplokhande commented on #1174
I would like to work on this. I think there will be a simple fix for this. The error would be due to incorrect handling of the input vector in the case of 'is_measurement=True'. Let me know if i can work on this.

[2020-08-09 03:13] cyx617 commented on #1180
@woodsp-ibm  Thanks for your help! I'm very sorry for not opening this issue against the correct repository. If you find difficult transferring it, I could also open the same issue against the repository for the qiskit textbook.

[2020-08-09 13:16] JosDenmark commented on #981
Sorry for the hiatus. I've resumed work on this. Will have a PR in the next day or so.

[2020-08-09 13:37] woodsp-ibm opened #1181 "Improve exception msg when optional install is not found"
In responding to a post on Qiskit Slack, as below, I see that CplexOptimizer raises an error but does not give any information in the error message about this being an optional install. This is done elsewhere in Aqua and should be done here too.

Can we make sure any other places, particularly those that may have been added recently, which process whether an optional install is present or not, inc

[2020-08-09 13:43] woodsp-ibm commented on #1180
No worries! I do not think its easy to find any information in terms of how to report any issues you might in the text book. I just have to find someone with enough permission to move this as I do not have the required rights on the text book repository to do so myself.

[2020-08-09 13:46] cyx617 commented on #1180
@woodsp-ibm Got it. Thanks for that!:smiley:

[2020-08-09 18:56] JosDenmark commented on #981
Allowing arbitrary names (so long as there is <= 1 occurrence of '{}' in the name) means allowing names like '_{x == y + 1}'. This is an actual name that is passed to 'binary_var' from the method 'from_docplex' in the 'quadratic_program' tests. It confuses the formatter because '{x == y + 1}' is treated as a substitution, when of course it is not. The simplest solution would be to disallow names c

[2020-08-10 03:13] molar-volume commented on #1174
hi @deeplokhande
sure, go ahead (if it is up to me)

[2020-08-10 08:33] eggerdj commented on #1120
I'm in favor of option 1 as it adds discoverability. I also like the idea of having the `history` in the `RecursiveMinimumEigenOptimizerResult` as was put forward above. This should allow us, among others, to keep track of final and initial points used by the classical solver at each step of the recursion.

[2020-08-10 11:34] woodsp-ibm commented on #1180
@cyx617 It seems, after finding someone who has enough permission, that Github does not allow issues to be transferred between repositories in different organizations i.e. from Qiskit here to Qiskit-Community which holds the textbook repository.

Therefore might I ask you to raise a new issue there - hopefully its quick to copy/paste the text you have done - and then close this one off once you ha

[2020-08-10 15:59] woodsp-ibm commented on #1164
This issue is highly related https://github.com/Qiskit/qiskit-aer/issues/874

[2020-08-10 16:21] cyx617 commented on #1180
@woodsp-ibm Thanks for letting me know. I'll open a new issue in Qiskit-Community and then close this one.

[2020-08-10 16:21] #1180 closed

[2020-08-10 21:20] mdsapova opened #1184 "VQEAdapt bug in cycle checking"
### Information

- **Qiskit Aqua version**: 0.7.1
- **Python version**: 3.6.8
- **Operating system**: Ubuntu 18.04.2

### What is the current behavior?

I performed ADAPT VQE calculations for CO molecule and found a bug. Using `threshold = 0.0001` I get a convergence failure after three iterations. The problem seems to lie in the `cycle_regex = re.compile(r'(.+)( \1)+')` [line 149](https://github.

[2020-08-10 21:24] woodsp-ibm commented on #1184
@mrossinek Max, are you able to take a look at this issue.

[2020-08-11 08:06] weiT1993 opened #1186 "Cannot construct large Grover circuit"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.7.7
- **Operating system**: `Springdale Linux 7.8 (Verona)`

### What is the current behavior?
Program fails when trying to construct large Grover circuit.

### Steps to reproduce the problem
[code]
Program returns `killed`.

### What is the expected behavior?
Should produce a 59-qubit Grover circuit.

### Suggested solution

[2020-08-11 08:27] mrossinek commented on #1184
Hi @mdsapova
I just had a look at this issue and opened a PR (see above) to fix the cyclicity checking bug and also add the `max_iterations` option.

A quick note on why the cyclicity checker even exists:
I originally developed this code as part of the Qiskit Camp Europe in 2019. Back then we used very small systems like `H2` to test the algorithm. What we observed was that (since the algorithm ex

[2020-08-11 12:49] #1169 closed

[2020-08-11 16:53] KahanMajmudar commented on #1134
@adekusar-drl I implemented as suggested, so if the solve functions returns a result it will be checked using `is_feasible()` and then depending upon the result, the status would be `SUCCESS` or `INFEASIBLE` set inside the `OptimizationResultStatus` class. Now which files need the same changes? I saw different optimizer files but they are using different methods to implement the `solve` function i

[2020-08-11 17:21] adekusar-drl commented on #1134
Basically you look through all optimizers in `qiskit.optimization.algorithms` and just in the end of each `solve` you add this check. Not sure what exactly you've implemented. If it is better than I write down below that's great.
Here an example:
https://github.com/Qiskit/qiskit-aqua/blob/7931f1df115c8f1cb7ce0d5f13824e907f8d2929/qiskit/optimization/algorithms/minimum_eigen_optimizer.py#L178-L182
b

[2020-08-11 17:49] KahanMajmudar commented on #1134
That is exactly how I have implemented the flow. I am not sure if there is a better way to achieve it so I am open to suggestions as well.

Exactly, different optimizers inside their base class also use other classes to solve the problem. One example would be `cobyla_optimizer` or others like `admm_optimizer` use the technique mentioned by you. That is why I was looking for some feedback on how to

[2020-08-11 18:14] adekusar-drl commented on #1134
Should not be a problem, just once you reach a point in an optimizer where you have `x` you may add this check. These places may be different across optimizers but in general somewhere in the end.

[2020-08-11 19:25] #1184 closed

[2020-08-11 21:16] JosDenmark commented on #981
@Cryoris ^

[2020-08-12 07:04] #1165 closed

[2020-08-12 17:02] #1181 closed

[2020-08-12 19:09] jlapeyre commented on #1186
Did the same construction succeed on an earlier version of qiskit?

[2020-08-12 19:17] weiT1993 commented on #1186
Also tested on Aqua 0.6.5. It also fails.

[2020-08-12 22:13] gvnjones commented on #1164
Thanks  woods-ibm.

I've tried the `include_custom=True` option and that hasn't helped.

[2020-08-12 22:14] gvnjones commented on #1164
Thanks for pointing out the related issue. [https://github.com/Qiskit/qiskit-aer/issues/874]

[2020-08-12 22:32] woodsp-ibm commented on #1164
Ok, with only 1 shot on the qasm simulator maybe the speed is comparable. Chris would know more what the difference is. But 1 shot is not going to do much in practice in sampling from the output, for each evaluation, to do a real ground state energy computation whereas the AerPauliExpectation will return an ideal result for each evaluation.

[2020-08-13 03:46] jlapeyre commented on #1186
You may be allocating all of your RAM. Does the following also abort with `killed` ?
[code]

[2020-08-13 09:20] #1120 closed

[2020-08-13 10:28] t-imamichi commented on #1134
Hi. Do you have a draft pullreq?

[2020-08-13 11:08] anedumla opened #1192 "Efficient implementation of exp(iHt) for an arbitrary hermitian matrix H"
### What is the expected enhancement?
Given a Hermitian matrix H and a time t,
1. Find a decomposition of H into H_1,H_2,...H_m such that H = H_1+...+H_m and such that we know the circuits for each exp(iH_j t) (e.g. a decomposition into 1-sparse matrices)
2. Approximate exp(iHt) via a Trotter/Suzuki product of the exp(iH_j t)'s

At the moment the only possibility is via `qc.unitary((t*MatrixOp(H))

[2020-08-13 11:16] adekusar-drl commented on #1134
@KahanMajmudar could please reply to @t-imamichi ?

[2020-08-13 11:23] KahanMajmudar commented on #1134
Sorry for the late replies @t-imamichi @adekusar-drl . I am caught up on work. Sure I can create a PR but what are the requirements of a draft PR? Currently as discussed earlier with @adekusar-drl , the task to add the function to all optimizers in WIP. I can try to complete it today or max tomorrow if required. Thank you 😄

[2020-08-13 12:00] woodsp-ibm opened #1193 "Optimization readme sample/test needs improving"
The readme sample unit test, that ensures the sample continues to work with whatever changes are going on, seems to fail on occasion in the build. I have not looked to see whether the test is failing with perhaps a valid alternate answer that should be catered to in the assertion its correct, or whether this sample needs seeding to ensure the output is consistent each time. Here is a failure from

[2020-08-13 13:46] SooluThomas opened #1195 "Optimization tutorial failing docs build"
### Information

- **Qiskit Aqua version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

The optimization tutorial (tutorials/optimization/6_examples_max_cut_and_tsp.ipynb) is failing while builing docs in Qiskit metapackage.

### Steps to reproduce the problem

https://travis-ci.com/github/Qiskit/qiskit/jobs/371710386#L738

### What is the expected behavior?

[2020-08-13 15:09] t-imamichi commented on #1134
When you make a PR, you have two options "ready for review" or "draft". If you choose "draft", the pullreq won't be merged. It means that the PR is working in progress. Even if it is a draft, we can review the code, so it is easier for us to give you comments on your code. For example, #1196 is a draft.

[2020-08-13 15:53] KahanMajmudar commented on #1134
So if I make a draft PR, then it will display the changes I made and then as I keep working, I will keep pushing the changes until it is ready to review?

[2020-08-13 16:03] adekusar-drl commented on #1134
Yes. If you push a commit to the branch you used to create a PR, then this commit will be visible in the PR also.
You may also add [WIP], work in progress, in the PR title.

[2020-08-13 22:59] woodsp-ibm commented on #1186
When I tried the code the other day it was killed when building the oracle. Looking at the system log showed it was killed due to lack of memory. Changing optimization=False allows it to build the oracle but it then fails later during the custom initial state creation, again due to memory for me
[code]

[2020-08-14 08:47] t-imamichi opened #1200 "Update of build badge in readme.md"
### What is the expected enhancement?

The build badge in readme.md is still Travis. Should we change it to a badge of Github actions?
E.g., [![build status](https://github.com/qiskit/qiskit-aqua/workflows/Aqua%20Unit%20Tests/badge.svg)](https://github.com/Qiskit/qiskit-aqua/actions?query=workflow%3A%22Aqua+Unit+Tests%22)

[2020-08-14 15:33] clarebirch commented on #1091
In light of @VANRao-Stack's comment: because UnitaryGate throws a warning if the input data is non-unitary, we can just define to_gate identically to to_instruction

[2020-08-14 15:47] jlapeyre commented on #1091
I unassigned myself since others are interested.

[2020-08-14 17:36] deeplokhande commented on #1186
I ran the code for varying values of full_circ_size and found a threshold at 48. So any value above 48 gives this error "Killed"
And the Error is a proponent of the oracles.TruthTableOracle( ) function. Yes and as @woodsp-ibm mentioned the same issue occurs in case of optimization=False for me too.
I wonder if this oracle issue is related to timeout of memory overflow. Need to investigate it more.

[2020-08-14 18:09] jlapeyre commented on #1186
I'm pretty sure the algorithm is attempting to consume all your RAM (memory) and your OS is killing the process. As @woodsp-ibm notes, there is more than one part of the algorithm that can do this.

[2020-08-14 18:12] weiT1993 commented on #1186
Will there be a fix to this? I agree it was because part of the algorithm requires too much RAM.

[2020-08-14 19:32] woodsp-ibm commented on #1186
It needs investigating as to what appears to be consuming the memory and then, as we understand that, it can be determined how to proceed with this.

[2020-08-14 20:23] woodsp-ibm commented on #1193
Here is one that has just happened with NaN, as I mentioned I had seen in original message here. Though this error seems to originate from BasicAer as the first source of failure

[code]

[2020-08-14 21:05] #1200 closed

[2020-08-15 00:30] deeplokhande commented on #1174
The simple fix is not available for this. it will require heavy changes in base initializer function.
Here is my complete tree analysis.

First thing first, the primitive vector must be a column vector. i.e. for a n-length vector the dim will be (n, ). If you try to send a list of list with n-length since you want to send a row vector, where the dim will be (1,n) and the function will throw the er

[2020-08-15 00:33] deeplokhande commented on #1091
Hey if this issue is not assigned to the above members, can I work on this.??

[2020-08-15 10:11] Hirmay commented on #1186
I faced similar issue while running it on IBM-Q Experience.

[2020-08-15 15:08] JosDenmark commented on #981
@Cryoris ^

[2020-08-15 22:48] gonzaarcr commented on #1186
![Captura de pantalla de 2020-08-15 19-27-16_low](https://user-images.githubusercontent.com/19943481/90322886-275c3500-df30-11ea-9602-56fbfb739f23.jpg)
Can confirm, the memory usage went to +10 GB after the line oracle = oracles.TruthTableOracle()

[2020-08-15 23:35] gonzaarcr commented on #1186
The usage is in `truth_table_oracle.get_exact_covers():352` in `ec = DLX([(c, 0 if c in cols else 1) for c in range(num_cols)])`.
`num_cols - 1 = cols = 2^full_circ_size/2`. So, for `full_circ_size = 59` we got `cols = 1073741823`.

I tried doing a map so the algorithm uses a generator instead but I got `TypeError: object of type 'map' has no len()`.

[2020-08-17 12:56] adekusar-drl commented on #1176
@AminKaramlou I confirm this behavior in Qiskit 0.19.0. I have run the problem you posted and got 9 correct `fval` values out of 20 iterations. Basically the issue is floating, sometimes the answer is correct, sometimes not.

But when I upgraded to Qiskit 0.20.0 everything becomes fine and I've got all 20 answers correct. Could you please upgrade the Qiskit version?

[2020-08-17 13:49] AminKaramlou commented on #1176
@adekusar-drl thanks for getting back to me. I can confirm that after upgrading the Qiskit version the fval values and the bitstrings returned by the algorithm correspond.

[2020-08-17 14:57] adekusar-drl commented on #1176
@AminKaramlou good to hear this! If you don't mind I will close the issue, or you can do this yourself.

[2020-08-17 15:01] #1176 closed

[2020-08-17 19:33] molar-volume commented on #1192
Hi @anedumla,
are you working on it? If not, I would like to.

[2020-08-17 20:01] Cryoris commented on #1192
@molar-volume I think you can go ahead and give it a try, but maybe you want to sync with @anedumla before diving into the implementation since this seems to be a little more involved. This enhancement should probably also go into the `HamiltonianGate` in qiskit-terra (which is also called by `MatrixOp.exp_i`)

[2020-08-18 12:55] woodsp-ibm commented on #1090
Closed as solved by #1194

[2020-08-18 12:55] #1090 closed

[2020-08-18 17:46] a-matsuo commented on #1195
I see. When an answer is infeasible (e.g. visiting city1, city2 and city3 first), this error can happen.
We can call `tsp.tsp_feasible(x)` inside `tsp.get_tsp_solution(x)` to check feasibility of `x`. When the answer is feasible, we can process current `tsp.get_tsp_solution(x)` codes. When the answer is infeasible, we can output some messages or output infeasible answers directly (e.g. visiting ci

[2020-08-18 19:45] molar-volume commented on #1192
@Cryoris I should probably reimplement ```HamiltonianGate.to_matrix()``` in qiskit-terra using the algorithm that @anedumla suggested? Currently it is done via ```scipy.linalg.expm```.

[2020-08-19 05:50] leo07010 opened #1208 "I am writing random walk,what wrong with my program?"
### Information

- **Qiskit Aqua version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-08-19 09:21] a-matsuo commented on #1195
By the way, infeasible answers are created randomly. It seems that the random seed for `SPSA` is not fixed (`aqua.globals.randm` is called to create random numbers inside `SPSA`), and it's causing the problem. We'd better fix it in the tutorial.

[2020-08-19 09:45] t-imamichi commented on #1208
Please write down information about your environment following the issue template as follows.
[code]

[2020-08-19 09:47] t-imamichi commented on #1193
How about replacing BasicAer with Aer?

[2020-08-19 10:07] leo07010 commented on #1208
Qiskit Software	Version
Qiskit	0.19.3
Terra	0.14.1
Aer	0.5.2
Ignis	0.3.0
Aqua	0.7.1
IBM Q Provider	0.7.2
System information
Python	3.7.6 (default, Jan 8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
OS	Windows
CPUs	4
Memory (Gb)	7.818538665771484
Wed Aug 05 09:57:15 2020 ¢Dx¢D_?D¡PCRE?!

[2020-08-19 10:18] t-imamichi commented on #1208
Could you paste the full error message? What is your Python environment, anaconda or anything else?
`ImportError: DLL load failed` often appears with cvxopt, e.g., https://github.com/cvxopt/cvxopt/issues/171
We have replaced cvxopt with cvxpy. So If you make a new environment with the latest qiskit, you perhaps don't have the problem.

[2020-08-19 10:35] leo07010 commented on #1208
How to make a new  environment?

[2020-08-19 11:25] t-imamichi commented on #1208
It's up to your python environment, conda, venv, pyenv, etc. Check the documentation of what you installed.

[2020-08-19 12:09] woodsp-ibm commented on #1208
I will point out that the visualization aspects of Qiskit Terra are not installed if you simply did a `pip install qiskit` - if you want to assure the relevant dependencies are installed do `pip install qiskit-terra[visualization]` See also here https://qiskit.org/documentation/install.html which explains this aspect, as well as setting up an environment etc. for the install. I am not sure if the

[2020-08-19 13:10] t-imamichi commented on #1208
We need more detailed error message around `ImportError: DLL load failed` to identify the root cause.

[2020-08-19 14:03] JosDenmark commented on #981
@t-imamichi Any thoughts ^

[2020-08-19 16:05] leo07010 commented on #1208
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-4-f6d449751d73> in <module>
      3 from qiskit.providers.aer import QasmSimulator
      4 from qiskit.visualization import plot_histogram, plot_state_city
----> 5 get_ipython().run_line_magic('matplotlib', 'inline')
      6 simulato

[2020-08-19 16:06] leo07010 commented on #1208
this is all the information

[2020-08-19 20:32] woodsp-ibm commented on #1208
Maybe this might help https://stackoverflow.com/questions/24251102/from-matplotlib-import-ft2font-importerror-dll-load-failed-the-specified-pro since the error seems to point to the ft2font line

[2020-08-19 21:32] adityaabothra commented on #504
# set classical optimizer
maxiter = 100
optimizer = COBYLA(maxiter=maxiter)

# set variational ansatz
var_form = RY(n, depth=1)   #remove this line and run the line below it for QAOA var form

# var_form = QAOAVarForm(H, 1)  # use this ansatz for CVaR-QAOA
m = var_form.num_parameters

# set backend
backend = Aer.get_backend('statevector_simulator')
# backend = Aer.get_backend('qasm_simulator')  #

[2020-08-20 03:01] t-imamichi commented on #1208
It seems related to https://github.com/matplotlib/matplotlib/issues/18292

[2020-08-20 11:49] woodsp-ibm commented on #504
That code was done a few months ago. You could find a release of Qiskit from around that time and install that. If you are trying this on the latest code you will need to change the import since algorithms were re-organized into different categories since then
[code]
to
[code]
The QAOA varform line does not need changing other than to remove the comment to use it. Your change to `QAOA.var_form(H,

[2020-08-20 12:05] adityaabothra commented on #504
Now I received this new error;

Code:
# run variational optimization for different values of alpha
alphas = [1.0, 0.25, 0.10]  # confidence levels to be evaluated
initial_point = np.random.rand(m)  # same random initial set of parameters for all experiments
objectives = {}  # set of tested objective functions w.r.t. alpha
for alpha in alphas:
    objectives[alpha] = Objective(var_form, H, offset,

[2020-08-20 12:47] woodsp-ibm commented on #504
Try this
[code]
The operator logic was updated - this should update it to make it work.

If the persons repository allows you to raise and issue or do a PR you can try and let them know.  Clearly it would have worked against the code of the time when it was done. But things change over time and the operator form it now generates, the WeightedPauliOperator, is now a legacy function and it is expect

[2020-08-20 13:31] adityaabothra commented on #504
thanks for the prompt response, this solution worked

[2020-08-20 17:47] woodsp-ibm commented on #1208
@leo07010 Did the above help you to solve your problem?

[2020-08-21 04:11] leo07010 commented on #1208
well,I think these don't help me well

[2020-08-21 04:12] leo07010 commented on #1208
My backend still can't work

[2020-08-24 20:42] drewrisinger opened #1214 "test_p_bfgs fails on >60 core CPU"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: [3.7, 3.8]
- **Operating system**: Linux

### What is the current behavior?

When repackaging ``qiskit-aqua`` for NixOS, the following error test fails.
[code]

Ref: https://github.com/NixOS/nixpkgs/pull/95713#pullrequestreview-472682769

### Steps to reproduce the problem

1. Get a Threadripper 3990X (or equivalent many-core

[2020-08-24 21:06] marko-rancic opened #1215 "Wrong expectation value tilde StateFn(QuantumCircuit)@ComposedOp@StateFn(QuantumCircuit)"
### Information

- **Qiskit Aqua version**:0.7.5
- **Python version**:3.6.10
- **Operating system**:MacOS Mojave 10.14.6

### What is the current behaviour?
The global phase of the WF seems to be influencing the value of <psi|Operator|psi>. I don't see how this could be the case as the phase is global (the fact that I don't calculate the expectation value shouldn't be important). This happens when

[2020-08-24 21:49] woodsp-ibm commented on #1214
We can limit the number of processes it would use for the test, since it has that as a constructor parameter - that maybe the simplest solution here.

[2020-08-24 23:50] #1214 closed

[2020-08-25 00:59] drewrisinger commented on #1214
Great, thank you!

[2020-08-25 05:21] jlapeyre commented on #1215
Thanks for the report. A tip: Use triple back quotes to quote python code, like this:

[code]

Your first example looks correct. I'm not sure yet why the second example does not agree. But, if you convert the circuits in the second example to matrix operators, then the matrix element does agree with the first example:
[code]

[2020-08-25 09:15] marko-rancic commented on #1215
Hi,
thanks,

reproduced the same glitch by estimating the braket with the VQE.construct_expectation() (part of a longer code).

best guess: something to do with the PhaseGate.control command

[2020-08-25 12:08] ikkoham commented on #1215
Hi, this is bug of the `CPhaseGate.inverse()`.

[2020-08-25 13:33] marko-rancic commented on #1215
Yup, I see what you mean. Not 100% is this the underlying issue but here is the minimal code which reproduces the CPhaseGate.inverse() bug

"""from qiskit.providers.aer import StatevectorSimulator

backend2 = Aer.get_backend('statevector_simulator')

qr1 = QuantumRegister(2)
QM1 = QuantumCircuit(qr1)
QM1.h(0)
QM1.h(1)

cconp_gate1 = PhaseGate(np.pi).control(1,ctrl_state="0").inverse()
QM1.append(c

[2020-08-25 14:02] ikkoham commented on #1215
OK, I will fix this in Qiskit Terra.

[2020-08-26 23:09] jlapeyre opened #1218 "Z.exp_i().to_matrix() disagrees with documented behavior"
`Z.exp_i().to_matrix()` and `X.exp_i().to_matrix()` give incorrect results.

### What is the current behavior?

[code]

### What is the expected behavior?

The docs string for `exp_i` is "Return a ``CircuitOp`` equivalent to e^-iH for this operator H", so I expect this matrix:
[code]

It looks like there are two problems
* `Z.exp_i()` returns  `PrimitiveOp(RZGate(1))` which has a spurious (in this

[2020-08-27 23:36] JosDenmark commented on #981
@woodsp-ibm For what it's worth to the IBMQ superheroes...

The motivation for the formatter was to provide functionality similar to `binary_var_dict` in docplex (http://ibmdecisionoptimization.github.io/docplex-doc/mp/docplex.mp.model.html#docplex.mp.model.Model.binary_var_dict), which is parameterized over a formatter. We could follow in the steps of docplex and just separate the `formatter` and

[2020-09-01 16:07] woodsp-ibm opened #1226 "QSVM fails under Python 3.8.5"
Hello,
I am trying this modification using the simple updated tutorial: https://github.com/Qiskit/qiskit-tutorials/blob/master/legacy_tutorials/aqua/machine_learning/qsvm_classification.ipynb

I notice that everything works fine using Python 3.7.7 BUT using the newest python 3.8.5 only the jupyter version of this code is working. If I run it as a code, the qsvm.run instance create n subprocesses o

[2020-09-01 16:59] grossiM commented on #1226
Hello Steve, thanks for splitting this problem.
I attach my python code and the output file that I am running on a MacBook Pro (15-inch, 2019):
2,3 GHz 8-Core Intel Core i9
ProductName:	Mac OS X
ProductVersion:	10.15.5
BuildVersion:	19F101
executed into Anaconda(conda 4.8.3) env generated with:
Python 3.8.5 and the latest qiskit ('qiskit-terra': '0.15.1', 'qiskit-aer': '0.6.1', 'qiskit-ignis': '0.

[2020-09-01 18:32] manoelmarques commented on #1226
Everybody should always include ```if __name__ == "__main__":``` in their python scripts.

[2020-09-01 18:33] manoelmarques commented on #1226
This version works fine:
[code]

[2020-09-01 18:35] manoelmarques commented on #1226
If one runs everything at global level, the multiprocessing module may spawn new processes that will import your whole module (file) hence the strange multiple print outputs. Adding ``` __name__ == "__main__":``` should be added to any python script to avoid those side effects.

[2020-09-02 03:59] #1106 closed

[2020-09-02 06:39] grossiM commented on #1226
Hello, thank you very much for the input. Yes, it's working fine now. In previous release I was working without the  if __name__ == "__main__": and it was working, from now on I will include it.

[2020-09-02 06:39] ikkoham commented on #1215
I've checked that this issue is fixed in master and stable.

The first program outputs
[code]
and the second program outputs
[code]

So, I think this issue is closable.

[2020-09-02 12:01] woodsp-ibm commented on #1226
As your issue is solved I will close this. I will note that multiprocessing changed in python in 3.8 from what it was in 3.7 hence that is explanation around the behavior change.

[2020-09-02 12:01] #1226 closed

[2020-09-03 17:10] pbark opened #1231 "Vibrational Structure Calculations"
### What is the expected enhancement?

as in Hardware efficient quantum algorithms for vibrational structure calculations , https://pubs.rsc.org/en/content/articlelanding/2020/SC/D0SC01908A#!divAbstract

[2020-09-07 21:16] HassanNaseri opened #1238 "optimization/converters/integer_to_binary.py: OverflowError: cannot convert float infinity to integer"
### Information

- **Qiskit Aqua version**: 0.7.3
- **Python version**: 3.8.2
- **Operating system**: macOS Catalina

### What is the current behavior?

I get the following error when converting a MIP to QUBO:

[code]

### Steps to reproduce the problem

The InequalityToEquality() converter creates slack variables with same upperbund and lowerbound (both zero). This results in     `_encode_var(`)

[2020-09-09 01:27] t-imamichi commented on #1238
Thank you for reporting the error. We will add a check of `var_range`.

[2020-09-09 15:33] Brogis1 commented on #1041
Thanks. First version of the code submitted.

[2020-09-10 12:20] woodsp-ibm opened #1243 "Add runtime, wallclock and circuit time_taken to algorithms"
The circuit execution time for algorithms has been requested in the past but was not reported. `time_taken` is a field which has been added to the job result object that now reports this. Accumulating this time and having access to it, as well as universally having a wallclock runtime field (some algos have run-time today but not all), most likely in the base AlgorithmResult class, would let users

[2020-09-10 20:48] danlkv opened #1246 "Incorrect QAOA energies after refactor"
[Previous]( https://github.com/Qiskit/qiskit-aqua/blob/0.6.6/qiskit/aqua/algorithms/adaptive/qaoa/var_form.py) version of QAOA gives different energy expectation values than the [new, improved](https://github.com/Qiskit/qiskit-aqua/blob/0.7.5/qiskit/aqua/algorithms/minimum_eigen_solvers/qaoa/var_form.py) version.

### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.8.2
- **Op

[2020-09-11 01:01] jlapeyre commented on #1246
Just so I know we are on the same page: When I run your script with the needed changes under qiskit 0.7.5 the variable `result`, instead of `12`, is `5.181865101305741`. Is this what you find as well ?

[2020-09-11 07:47] #1134 closed

[2020-09-11 16:18] Cryoris commented on #1064
The operator attempted to use as mixer Hamiltonian is not actually a Hamiltonian as it is not hermitian. The first summand if `useTraditionalMixer=False` is
[code]
which is not hermitian. Or from another point-of-view, if we try to use this operator in a time evolution we obtain `e^{iH} = e^{Z}` which is not unitary.

If we supported imaginary time-evolution we could lift this restriction, but thi

[2020-09-11 16:18] #1064 closed

[2020-09-12 02:43] danlkv commented on #1246
@jlapeyre Yes, I get the same numbers.

[2020-09-12 14:37] #1218 closed

[2020-09-12 15:27] #1018 closed

[2020-09-12 18:30] woodsp-ibm commented on #1195
I believe this issue has been addressed by the two above referenced PRs and hence should be closed.

[2020-09-12 18:30] #1195 closed

[2020-09-14 09:05] EliasCombarro opened #1248 "Implement selection of optimizer in the QGAN algorithm"
I have been looking at the source code of the QGAN.set_generator method. Apparently, it accepts a parameter (generator_optimizer) that is the optimizer to be used when training the generator. However, I don't see that it is used anywhere in the code (https://qiskit.org/documentation/_modules/qiskit/aqua/algorithms/distribution_learners/qgan.html#QGAN.set_generator). Is this a non-implemented featu

[2020-09-15 09:48] omarcostahamido opened #1249 "Invalid ml tutorial link in readme"
### Information

- **Qiskit Aqua version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?

apologies in advance if I am opening this in the wrong place.
From Aqua's repo readme, second link in Machine Learning [Further examples](https://github.com/Qiskit/qiskit-aqua#further-examples-3) section is gone.

Last time I saw that, it looked something like [this](https:

[2020-09-15 21:46] woodsp-ibm commented on #1249
Hi, the former tutorials are being refactored and migrated into the documentation such that the original tutorials, that had not be migrated yet, are in legacy folder. Some of the sub-categories have been dropped during the migration too. So that the tutorial you refer to can be seen here https://qiskit.org/documentation/tutorials/finance/index.html as one of the finance set.

[2020-09-15 21:54] #1249 closed

[2020-09-16 10:42] Zoufalc commented on #1248
The required feature is implemented in [PR #1253](https://github.com/Qiskit/qiskit-aqua/pull/1253).

[2020-09-16 11:13] EliasCombarro commented on #1248
Thank you!

[2020-09-16 11:13] #1248 closed

[2020-09-16 17:09] rochisha0 opened #1255 "qiskit.optimization.applications.ising.common documentation is not being auto generated"
### Information

- **Python version**: 3.8.5
- **Operating system**: Ubuntu 18.04

### What is the current behavior?
I do not seem to find the documentation of `qiskit.optimization.applications.ising.common` and this has been given in the portfolio optimization tutorial - https://qiskit.org/documentation/tutorials/finance/01_portfolio_optimization.html and also gives no error when I use it.

Basic

[2020-09-17 15:51] mrossinek opened #1257 "[Feature] HF/DFT Embedding Schemes"
### What is the expected improvement?

To add an implementation of the HF and DFT embedding schemes proposed in this paper: https://arxiv.org/abs/2009.01872.

The aforementioned paper provides an algorithm which allows embedding a quantum computing calculation into a DFT calculation. We already have a basic implementation based on the development version of Qiskit which we will open a PR for once

[2020-09-17 15:51] mrossinek opened #1258 "[Feature] HF/DFT Embedding"
### What is the expected improvement?

To add an implementation of the HF and DFT embedding schemes proposed in this paper: https://arxiv.org/abs/2009.01872.

The aforementioned paper provides an algorithm which allows embedding a quantum computing calculation into a DFT calculation. We already have a basic implementation based on the development version of Qiskit which we will open a PR for once

[2020-09-17 15:51] mrossinek commented on #1258
Sorry for the duplicate.

[2020-09-17 15:51] #1258 closed

[2020-09-21 12:52] shifubear commented on #1096
Hey! I might have come up with a new method to resolve this problem. Can I open a pull request?

[2020-09-21 13:11] JosDenmark commented on #1096
@shifubear I just finished implementing it. I'm tidying it up, then I'll have a PR out.

[2020-09-21 13:19] shifubear commented on #1096
@JosDenmark Dang, I was in the process of writing tests as well. I'll let you take this one though and find something else to work on :)

[2020-09-21 13:25] shifubear commented on #1091
Is anyone working on this currently? If not, I'd like to work on this over the next few days.

[2020-09-21 13:27] JosDenmark commented on #1096
Many thanks :pray:

[2020-09-22 09:24] Zoufalc opened #1264 "CircuitSampler Parameter Binding"
### What is the expected enhancement?

Currently, the `CircuitSampler` requires a parameter binding dictionary in the following format
` {‘a’: [0]}`, i.e. it requires an iterable to be assigned to a parameter.
The following format ` {‘a’: 0}` is compatible with `operator.assign_parameters` but wouldn’t work with the` CircuitSampler`.

[2020-09-22 14:00] omarshehab opened #1265 "multi-CPU usage stuck at around 25% for the QSVM example"
I have repurposed [the QSVM example](https://github.com/Qiskit/qiskit-tutorials/blob/master/legacy_tutorials/aqua/machine_learning/qsvm_classification.ipynb).

Following is my version info:
`
{'qiskit-terra': '0.15.1', 'qiskit-aer': '0.6.1', 'qiskit-ignis': '0.4.0', 'qiskit-ibmq-provider': '0.8.0', 'qiskit-aqua': '0.7.5', 'qiskit': '0.20.0'}`

Following is my CPU info:

[code]

The dimensions of t

[2020-09-22 20:25] woodsp-ibm commented on #1265
QSVM code uses parallel map from Terra (which uses Python multiprocessing) in some instances where the computation can be done in parallel. For instance here where its computing matrix elements for the kernel matrix https://github.com/Qiskit/qiskit-aqua/blob/63b5029f739e30dfd08bb6321d3567b1f08c40a6/qiskit/aqua/algorithms/classifiers/qsvm/qsvm.py#L351-L354

I expect it was determined, when this was

[2020-09-23 15:42] omarshehab opened #1267 "Modified aqua_globals.num_processes value cached in Jupyter notebook"
### Information

- **Qiskit Terra version**:0.15.1
- **Python version**:3.8
- **Operating system**:MacOS 10.15.6 (19G2021)

### What is the current behavior?
If I interrupt and rerun a Jupyter notebook after assigning a new value to `aqua_globals.num_processes`, it seems to retain that in the next execution session. Is this caching is an expected behavior?

### Steps to reproduce the problem
Step

[2020-09-24 12:03] molar-volume opened #1269 "MatrixEvolution and PauliTrotterEvolution return different results for the same underlying operator."
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.7
- **Operating system**: OSX

### What is the current behavior?
For the same underlying operator, ```MatrixEvolution.convert``` and ```PauliTrotterEvolution.convert``` return different results.

### Steps to reproduce the problem
[code]

### What is the expected behavior?
Evolved operators (represented by ```matrix_1``` and

[2020-09-25 03:10] jlapeyre opened #1271 "`StateFn` makes `OperatorStateFn` out of `PauliOp` or `ListOp` containing anything"
`StateFn` is meant to construct something representing a quantum state, pure or mixed.
`OperatorStateFn` is meant to represent a density operator. But, for some objects, such as a `PauliOp` or a `ListOp` containing anything, `StateFn` constructs a `OperatorStateFn`, which does not agree with these semantics.

[code]

This behavior is more or less relied on in the test suite. For example here https

[2020-09-25 03:22] jlapeyre commented on #1269
`MatrixEvolution` returns the correct result. `matrix_3` computed as follows gives the correct result, which agrees with `matrix_2`
[code]

[2020-09-25 04:12] woodsp-ibm commented on #1267
If you update the global variable it will persist while that Python session is running. You will need to set it explictly again to update it or simply restart the Jupyter kernel which will re-load all the classes again and it will be restored back to default.

[2020-09-25 04:20] molar-volume commented on #1269
If we take different operator
[code]
then for ```matrix_1 / matrix_3```, we get
[code]

[2020-09-25 05:15] jlapeyre commented on #1269
Are you sure ? With that operator, I get close to the same result with all three methods. The first is even better if I use `PauliTrotterEvolution(trotter_mode='suzuki', reps=6)`

[2020-09-25 07:25] johannes-weidenfeller opened #1272 "Convert samples of MinimumEigenOptimizationResult"
### What is the expected enhancement?
When solving a quadratic program using a `MinimumEigenOptimizer`, the user has access to the samples of the algorithm via the `samples` property of the returned `MinimumEigenOptimizationResult` object. However, in case a quadratic program converter has been applied to the quadratic program, these refer to the samples of the converted problem and are never inte

[2020-09-25 09:48] anedumla commented on #1269
[code]

I also have the same problem. When I run this code `matrix_1` and `matrix_3` (which would be the right one) are the same, while `matrix_2` is something completely different and it does not matter how many `reps` are used.

`matrix_1` and `matrix_3`:
[code]

while `matrix_2`:
[code]

[2020-09-25 13:00] omarshehab commented on #1267
Understood.

[2020-09-25 14:21] woodsp-ibm opened #1274 "Replace soon to be deprecated use of U1/U2/U3 gates by respective equivalents"
The U1/U2/U3 circuit methods are being deprecated to in favor of the more commonly known U and Phase gates. See  https://github.com/Qiskit/qiskit-terra/pull/5083 for more information and the gates that are being deprecated and their replacements - includes controlled versions of aforementioned gates too.

Wherever the above u1/2/3 gates and controlled versions thereof are used in circuits built ou

[2020-09-25 14:25] shifubear commented on #1091
Aren't both the Gate and Instruction class in qiskit-terra? Should this issue be moved to terra? @Cryoris

[2020-09-25 14:33] molar-volume commented on #1091
@shifubear see how ```to_instruction``` is implemented in OperatorBase subclasses. In the similar way, ```to_gate``` method can be implemented.
You can start in ```CircuitOp``` class, where the implementation is straightforward.

[2020-09-25 14:51] woodsp-ibm commented on #1267
Ok, I close this issue off then.

[2020-09-25 14:51] #1267 closed

[2020-09-25 18:29] #1088 closed

[2020-09-25 18:29] #1143 closed

[2020-09-25 20:34] jlapeyre commented on #1269
I think you need `-1j` rather than`1j` here. But, other than that I get the same results from your code as in the previous examples. I also see that adding reps only changes the global phase difference. The real part appears to approach zero, but the imaginary part seems to approach $\approx 1.05$ . Eg `np.log(0.49531658+0.86862885j)`  -> `(-7.270854866734788e-05+1.052555650202321j)`

[2020-09-25 21:28] molar-volume commented on #1269
Hi @jlapeyre ,
just to make sure that we run the same version, could you please run the following code?
[code]
What is your output?

[2020-09-25 21:43] jlapeyre commented on #1269
This is `ratio1`
[code]

Terra 22adee6
Aqua 63b5029f

[2020-09-25 21:56] molar-volume commented on #1269
When I updated aqua, I get the same result as yours. Before I got matrix from my previous comment...

Thanks for your time @jlapeyre , I will close this issue.

[2020-09-25 21:58] molar-volume commented on #1269
Updating Aqua to latest version solves the issue.

[2020-09-25 22:04] #1231 closed

[2020-09-25 22:28] jlapeyre commented on #1269
I'm reopening the issue. There have been multiple bugs affecting evolution. I think updating solved one issue, but not both (or all). The Trotter evolution still disagrees with "matrix" evolution for some hamiltonians, in particular the one in your first example. This is the global phase problem I mentioned above.

In addition, if you execute the circuit, rather than converting to matrix, there ar

[2020-09-26 14:30] nahumsa opened #1276 "Circuit_state_fn raising a value error when it's not needed"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.6.8
- **Operating system**: Linux

### What is the current behavior?

Raises the following value error:
`ValueError: Qiskit circuit Initializer cannot handle non-positive statevectors.`

### Steps to reproduce the problem

- 1) Build a evolution operator:
[code]

- 2) Use a Trotter evolution:
[code]

- 3) Initialize a state

[2020-09-27 11:59] molar-volume commented on #1192
on hold until https://github.com/Qiskit/qiskit-aqua/issues/1269 will be resolved

[2020-09-28 00:52] #1041 closed

[2020-09-28 01:47] #1238 closed

[2020-09-28 16:29] willsimmons1465 opened #1279 "`GroverOptimizer` fails with `qasm_simulator`"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.8.5
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

Only some pathways of generating the circuit in `GroverOptimizer` add measurements, meaning an exception is thrown when trying to inspect the simulation result.

### Steps to reproduce the problem

Take the [Grover Optimizer tutorial notebook](https

[2020-09-28 17:57] #1274 closed

[2020-09-28 20:47] jlapeyre opened #1282 "Printing instance of `CircuitOp` mutates the instance"
### Problem
Printing an instance of a `CircuitOp` mutates the underlying `QuantumCircuit` object.

[code]
Now print the "primitive", that is, the `QuantumCircuit`, then the `CircuitOp`. Printing the ``QuantumCircuit` again shows it has been mutated.

[code]

### Cause

The problem is due to the following line.

https://github.com/Qiskit/qiskit-aqua/blob/cf648107c6cf03993e275a1a6e8bc33147e922eb/qis

[2020-09-28 21:06] woodsp-ibm commented on #1282
I am not sure why reduce in circuit_op does not return a reduced copy (like other operators) but rather self modifies which seems against the philosophy of opflow. Indeed the comment there on reduce even notes its doing this with a warning.

Either which way it would seem for most users that printing something different (a reduced version) instead of exactly what is there is misleading. Maybe it w

[2020-09-28 21:15] woodsp-ibm opened #1284 "Massive conversions in opflow - lack of control for algorithm users"
Opflow has several places where its conversion to matrix is gated via a `massive` param that defaults to False e.g here https://github.com/Qiskit/qiskit-aqua/blob/008337ec340946f5ef5872a60b5975096a6ec9bc/qiskit/aqua/operators/list_ops/list_op.py#L283

This is fine perhaps if directly working with opflow - however when coming from algorithms, such as VQE, such calls are inside the implementation th

[2020-09-28 22:10] jlapeyre commented on #1276
I agree. Commenting out this check allows the code to work. Furthermore, the class in question, `qiskit.extensions.Initializer` explicitly allows complex coefficients.

[2020-09-29 09:02] Cryoris opened #1287 "Replace generic 1q gates with specific angles by more readable gate names"
### What is the expected enhancement?

Right now, several gate calls use a bit cryptic looking calls to the general 1-qubit gate `U` instead of more readable gates like `X` or `H`. To produce circuits that are easier to look at we should try using the commonly known gate names.

Examples: Replace`U(pi, 0, pi)` by `X` and `U(pi/2, 0, pi)` by `H`.

[2020-09-29 09:40] shifubear commented on #1091
@molar-volume
Thanks! I was able to find what you were talking about. Should I also implement an abstract to_gate method in the OperatorBase class?

[2020-09-29 10:33] molar-volume commented on #1091
@shifubear I would implement ```to_gate``` only in classes with ```to_instruction``` implementation.

[2020-09-29 13:37] willsimmons1465 opened #1289 "Parameter conflicts when using a `PassManager` in a `QuantumInstance`"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.8.5
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

Providing a `PassManager` to a `QuantumInstance` will generate an exception whenever its `execute()` method is called (i.e. when it is used in any algorithm). `qiskit.transpile()` is called with a custom `PassManager`, which conflicts with the backe

[2020-09-29 13:59] adekusar-drl opened #1290 "Exception is raised when debug a code that calls an optimizer from qiskit.aqua.components.optimizers"
### Information

- **Qiskit Aqua version**: build from the sources
- **Python version**: 3.7, 3.8
- **Operating system**: Linux, Windows

### What is the current behavior?
There is an exception in the optimizers when they are run in the debugger:

[code]

### Steps to reproduce the problem
Debug in PyCharm `test_vqe.py` or any code that involves optimizers.

### What is the expected behavior?
No e

[2020-09-29 16:00] #1282 closed

[2020-09-29 21:28] #1290 closed

[2020-09-30 04:11] jlapeyre opened #1292 "PauliTrotterEvolution.evolution_for_pauli gives incorrect 1q circuit"
In the following code, `circ` is a `QuantumCircuit` equivalent to the identity, whereas it should be equivalent to `exp(-i Z * X)`.

[code]
The code path avoids much of the complexity of `PauliTrotterEvolution`, calling `PauliTrotterEvolution.evolution_for_pauli` on the `PauliOp` `Z @ X`.

Aqua: b8f865eb

[2020-09-30 14:04] HassanNaseri opened #1294 "LinearEqualityToPenalty converter: accept list of penalty terms as input"
## Requested Feature
LinearEqualityToPenalty converter only accepts a single scalar input as penalty factor. Better results can be usually obtained by applying higher penalty factors to broken constraints. This requires LinearEqualityToPenalty to accept a list of penalty terms as input, including separate penalty factor for each constraint. If user provide none or a single value for penalty, the e

[2020-10-01 07:19] #945 closed

[2020-10-01 07:21] Cryoris commented on #1017
Closing this since (1) the with the update of QAE this should work, but also (2) this tutorial doesn't exist anymore 🙂

[2020-10-01 11:27] georgios-ts commented on #1292
But is this a valid operation? I mean `Z@X` is not Hermitian,
[code]
therefore `exp(-i Z*X)` is not unitary.
Note that the following works as expected.
[code]

[2020-10-01 13:08] rochisha0 commented on #1287
Hey! Is the change to be done in the source code?

[2020-10-01 13:13] Cryoris commented on #1287
Hello! Yes it is 🙂

[2020-10-01 14:29] rochisha0 commented on #1287
@Cryoris I have created the PR, please check.

[2020-10-01 14:57] woodsp-ibm commented on #1017
The tutorial was moved over here in the mean time and was changed to use the IterativeAE which did not have the problem that the regular AE had - maybe you can check that this works with the regular AE now to assure the changes etc that have been done have eliminated the reported problem.
https://github.com/Qiskit/qiskit-tutorials/blob/master/tutorials/finance/09_credit_risk_analysis.ipynb

[2020-10-01 14:59] jlapeyre commented on #1292
Yes, you are correct!  I got lost in trying combinations of operators, and forgot to restrict to Hermitian ops.

[2020-10-01 14:59] #1292 closed

[2020-10-02 07:13] nkanazawa1989 opened #1305 "Increase set_max_evals_grouped of VQE optimizer"
### What is the expected enhancement?
When we set `SPSA` class as an optimizer of `VQE` instance, this implicitly sets `set_max_evals_grouped=1`. This is not mentioned in the class docstring and we cannot find this without scrutinizing its superclass `Optimize`. Because `SPSA` evaluates plus and minus in each iteration, this doubles the number of job to submit.

https://github.com/Qiskit/qiskit-aq

[2020-10-02 15:37] woodsp-ibm opened #1306 "MinEigOptimizer checking of min eig solver wrt state"
In #1295 filters have been added to the classical min eigensolver which can mean that a solution might not be returned. Since the MinEigOptimizer is already dependent on the mineigsolver returning a state

https://github.com/Qiskit/qiskit-aqua/blob/b45f952e342398156e9ed61a2126a85b4d55effd/qiskit/optimization/algorithms/minimum_eigen_optimizer.py#L176

which not all do arguably it would be an impro

[2020-10-02 16:22] #1255 closed

[2020-10-02 16:44] woodsp-ibm commented on #1305
The objective function would normally take a single point (list of floats). Normally an optimizer will evaluate the landscape point by point, which may be a set of very local points to do a gradient.

Now if an optimizer did a gradient say with finite diff then we wanted to allow (some of) these to be grouped together. This allows them to be packed into a single job, and/or run in parallel potenti

[2020-10-02 17:02] #1287 closed

[2020-10-02 20:15] nonhermitian commented on #862
Closing as will do myself.

[2020-10-02 20:15] #862 closed

[2020-10-02 22:54] #1269 closed

[2020-10-03 00:39] jansennathan opened #1308 "Name error in pyscfd integrals.py"
### Information

- **Qiskit Aqua version**:
- **Python version**: 3
- **Operating system**: Windows

### What is the current behavior?
When trying to run the pyscf driver integrals the following error appears:

~\anaconda3\lib\site-packages\qiskit\chemistry\drivers\pyscfd\integrals.py in compute_integrals(atom, unit, charge, spin, basis, hf_method, conv_tol, max_cycle, init_guess, max_memory)

[2020-10-03 14:50] hay-k opened #1311 "The sample() method in DictStateFn does not handle complex amplitudes"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.7.4
- **Operating system**: Windows 10

### What is the current behavior?
Throws the following exception
[code]

### Steps to reproduce the problem
[code]

### What is the expected behavior?
It is expected to return `{'0': 1.0}`

### Suggested solutions
The line `probs = np.array(list(self.primitive.values()))**2` in `dict_s

[2020-10-05 03:59] woodsp-ibm commented on #1308
You list Windows as the platform. You built PySCF yourself ? The param is imported as per this
[code]
Which you will see in this file https://github.com/pyscf/pyscf/blob/master/pyscf/lib/__init__.py

[2020-10-05 08:41] hay-k opened #1313 "Error message enhancement in MatrixOp"
### What is the expected enhancement?

The `__init__` function for `MatrixOp` in `aqua/operators/primitive_ops/matrix_op.py` contains the following lines
[code]
I believe that this error message needs an improvement since it is misleading and incorrect for the following two reasons

**1.** Currently the only thing called `MatrixOperator` in qiskit seems to be the legacy matrix operator class in Aq

[2020-10-05 17:55] jansennathan commented on #1308
Hi thanks for your response,

I have installed it but as I am talking to a tech person they think I have something wrong in my python package. So it is likely not a bug but I didn't know where else to go. Sorry and thank you for your time!

[2020-10-05 17:55] #1308 closed

[2020-10-05 22:52] oneTimePad opened #1314 "GroverOptimizer doesn't add a measurement to 'a_operator' when 'rotation_count' is 0"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**:  3.6.10
- **Operating system**:  Linux

### What is the current behavior?
In optimization/algorithms/grover_optimizer.py lines 214-221:
[code]
when `rotation_count` is 0, no measurement operation is applied to the `a_operator`. This causes an error to be produced saying "No counts for experiment" when using the QASM simulator.

[2020-10-06 02:46] woodsp-ibm commented on #1314
See issue #1279, which ends up covering the issue described here,  and #1312 which addresses that and will fix this too.

[2020-10-06 11:14] johannes-weidenfeller opened #1315 "Randomize initial point for QAOA Variational Form"
### What is the expected enhancement?
In the current initialiser of `QAOAVarform`, the preferred initial point for the optimization parameters is set to a zero vector:
`self._preferred_init_points = [0] * p * 2`.
This is problematic because the zero vector is actually a saddle point for any cost function based on measurements of the QAOA Variational Form. (Currently the optimization process still

[2020-10-07 06:42] hay-k opened #1317 "Trotter class does not use the reps argument in initialization"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.7.4
- **Operating system**: Windows 10

### What is the current behavior?

The `__init__` method in the `Trotter` class at `aqua/operators/evolutions/trotterizations/trotter.py` accepts an argument called `reps`, but does not use it.

The code snippet below prints `1`.

### Steps to reproduce the problem

[code]

### What is

[2020-10-07 16:43] AzizNgoueya opened #1318 "Allow recovery of time_taken for jobs on private hubs"
### What is the expected behavior?
When we run a vqe/qaoa algorithm on a real quantum device assigned to a private hub, we cannot check the time_taken of the jobs on qiskit. The result object can be viewed once and since the results are pulled at the end of each iteration of vqe/qaoa, so we can no longer access to this information. Is it possible to add the time_taken like metadata in the job(job.

[2020-10-08 06:10] TDHTTTT commented on #1294
Can I work on this?

[2020-10-08 06:38] TDHTTTT commented on #1294
Just to clarify, when the user provides a single value for penalty, should they use float or a a list with one float or it doesn't matter?

[2020-10-08 06:59] a-matsuo commented on #1294
Sure. If you can help us, that would be great. It doesn't matter that much, but just a single float seems more reasonable.

[2020-10-08 08:39] HassanNaseri commented on #1294
I agree that single float is better. It will be then backward compatible. I added the following code to `convert` function (not committed) to create the list when it does not exist. You may use a similar approach or something better.

        # Create penalties list if a single penalty value is given
        num_constraint = len(self._src.linear_constraints)
        if not hasattr(penalty, "__len_

[2020-10-08 15:22] woodsp-ibm commented on #1318
See #1243

[2020-10-08 15:59] hay-k opened #1321 "CircuitSampler fails on expressions consisting only of OperatorStateFns"
### Information

- **Qiskit Aqua version**: Latest source code from github

### What is the current behavior?

When the `convert` method of `CircuitSampler` at `aqua/operators/converters/circuit_sampler.py` is called with such an operator which neither contains any `CircuitStateFn`, nor any of the contained operators can be converted to `CircuitStateFn`, the following error is raised
[code]

### S

[2020-10-08 18:07] TDHTTTT commented on #1294
Hey @a-matsuo @HassanNaseri could you guys take a look at #1322? Thanks!

[2020-10-08 23:11] oneTimePad commented on #1314
Ok thanks. I didn't see that one already open.

[2020-10-09 08:55] Cryoris commented on #1017
Thanks! Yes I just tried it and it works fine now 👍

[2020-10-09 09:09] hay-k opened #1324 "Coefficient issue with the to_circuit_op method in VectorStateFn"
### Information

- **Qiskit Aqua version**: Latest source code from github

### What is the current behavior?

I was playing around with the `CircuitSampler` and noticed that sometimes it produces different results, depending on whether a `VectorStateFn` is used as initial state versus `DictStateFn`.

[code]
This code outputs the following
[code]
`8.0` is correct, but `32.0` is not. `v1` and `v2`

[2020-10-09 09:10] omarshehab opened #1325 "VectorStateFn.to_matrix() should have the option for setting massive = True"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.8.2
- **Operating system**: Darwin

### What is the current behavior?
When I try to solve in integer programming problem which requires more than 16 qubits, I see the following error.
`
ValueError: to_vector will return an exponentially large vector, in this case 524288 elements. Set massive=True if you want to proceed.`

##

[2020-10-09 09:12] Cryoris commented on #1017
Ok -- actually I think there are still bugs if the CircuitFactory is used (I tried running it on circuits) since it uses Aqua's internal control mechanism. We have two options here I think: convert the circuit factories to circuits, or leave it as is since the circuit factories are deprecated. Option 1 would be better if we can do it before release I think, but since I have the tutorials updated t

[2020-10-09 09:20] Cryoris opened #1326 "Deprecate the uncertainty models components"
### Summary

_Part of the circuit factory deprecation_

Deprecate the circuit factory uncertainty models in favor of the circuit library objects, introduced in Qiskit/qiskit-terra#5068.
The variational distributions can be replaced by parameterized circuits and the finance specific distribution (the gaussian conditional independence model) is moved to `finance/applications`.

[2020-10-09 09:23] Cryoris opened #1327 "Move finance-specific circuits to finance/applications"
### Summary

_Part of the circuit factory deprecation_

Move the finance-specific `CircuitFactory` objects to `finance/applications` and port them to being `QuantumCircuit`s. After discussing with @stefan-woerner we decided to leave these circuits as building blocks in the applications module until we properly set up application workflows.

This includes:
* all objects in `qiskit.finance.component

[2020-10-09 14:04] Zoufalc opened #1328 "Enable max_evals_grouped for custom gradient functions"
### What is the expected behavior?

Right now the max_evals_grouped argument used by the optimisers is only compatible with an integrated finite difference gradient implementation.
It would be great if this would work for arbitrary gradient functions.

[2020-10-09 14:26] omarshehab opened #1329 "Add support for docplex.mp.constr.IndicatorConstraint"
### What is the expected enhancement?
It would be nice if QuadraticProgram.from_docplex() supports docplex.mp.constr.IndicatorConstraint.

[2020-10-09 18:39] woodsp-ibm commented on #1325
See #1284 which would address this more generally

[2020-10-09 18:49] woodsp-ibm commented on #1328
I think the way that multiple points are evaluated for the gradient should indeed have commonality if control is still needed over grouping these. Grouping was intended to potentially allow simulation to parallelize execution, plus grouping reduces overhead of remote communication by sending/receiving fewer jobs. Grouping pre-dates parameterized circuits and was restricted in the past to avoid mem

[2020-10-09 19:00] woodsp-ibm commented on #1327
I am going to ask why we would not leave them where they are and just move/deprecate them once when things are better sorted out with the application workflows as it seems that is still in progress. They have to be deprecated where they currently are and 'copied' to new locations in order to "move" them. This mistakenly did not happen with the ising models but that mistake should not be replicated

[2020-10-09 19:40] #1279 closed

[2020-10-09 19:40] #1314 closed

[2020-10-09 20:17] #1306 closed

[2020-10-10 08:58] omarshehab commented on #1284
@woodsp-ibm , do we have an understanding about the priority of this issue?

[2020-10-12 13:37] gabrieleagl opened #1333 "qGAN - Different behavior of numpy vs pytorch implementations of the discriminator"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.8.5
- **Operating system**: MacOS 10.15.7 (19H2)

### What is the current behavior?
I'm running a script, based on the tutorial for distribution learning with qGAN's.
I have two variants of the script, grounded on the two different implementations of the qGAN discriminator, namely the `NumPyDiscriminator` and the `PyTorchDis

[2020-10-12 13:44] gabrieleagl commented on #1333
@Zoufalc this is the issue, if you can give it a look!

[2020-10-12 14:12] Supers25 opened #1334 "ValueError in qp_solver.py"
I have been trying to train a qsvm with my own dataset. But It returns this ValueError from qp_slover.py
`ValueError: cannot reshape array of size 1 into shape (1614,1)`
I have tried to run the model with different feature_maps, but the problem persists. Would you please tell me what the issue could be and how to solve it?

[2020-10-12 15:45] woodsp-ibm commented on #1334
This has been noticed recently that with some sizes of data the optimization that is done in qp_solver can fail and that is the result. We are thinking of adding some additional regularization term that allows the optimization a better chance of success. It has worked for the data sets and sizes we tried. Until that is added my only suggestion would be to try a different size for a your data set -

[2020-10-12 15:52] Supers25 commented on #1334
Thank you for your quick reply. I will try that.

[2020-10-12 16:19] edwinagnew opened #1336 "Grover's algorithm error correction"
I have found a way to conditionally measure a circuit if and only if its output will be the desired result according to a single oracle call and n+1 ancilla qubits. I would like some help integrating this into Grover's algorithm.

Typically, measuring a uniform superposition on 3 qubits gives:
![image](https://user-images.githubusercontent.com/42814611/95767791-2c79fe00-0cad-11eb-804c-92509829e662

[2020-10-13 03:25] dongreenberg opened #1338 "backend arg to CircuitSampler should either be required or default to BasicAer"
`of.CircuitSampler()` fails. I think I personally prefer default to BasicAer, but either is fine.

[2020-10-13 03:50] dongreenberg opened #1339 "CircuitSampler drops is_measurement status when converting StateFns"
If you look at the code below, you'll find that the measurements have been replaced with StateFns, making the ComposedOps invalid and unable to eval. The same is true for statevector mode.
![image](https://user-images.githubusercontent.com/15992114/95812897-81853680-0ce4-11eb-974c-42959a8c6654.png)

Code:
[code]

I believe the issue is that on lines 309, 311, and 314 of the CircuitSampler the resu

[2020-10-13 05:03] a-matsuo commented on #1336
Hi edwinagnew,
It sounds interesting. Could you please put your code and error messages?

[2020-10-13 07:40] molar-volume commented on #1338
If you default BasicAer, you still need to chose a simulator (```quasm_simulator```, ```statevector_simulator``` or ```unitary_simulator ```).

[2020-10-13 11:52] woodsp-ibm commented on #1338
For sure it should not default to None - the typehint does not include Optional to denote this yet it is assigned None.
[code]
Removal of  the  ` = None` seems like the thing to do.

[2020-10-13 15:15] woodsp-ibm commented on #1327
Whatever is done the the main qiskit tutorials, as they currently are, should really still run, potentially emitting deprecation warnings. Maybe this has to be a breaking change if as you say deprecation is problematic - all I know is that the tutorials will be run, deprecations are fine since they ensure that user's have time to transition. If not maybe it needs to be brought up ahead of time sin

[2020-10-13 15:43] nelimee opened #1343 "Implement the Variational Quantum Linear Solver (VQLS)"
The VQLS algorithm [Variational Quantum Linear Solver] aims at solving linear systems of equations using a variational approach.

I think adding VQLS to Qiskit would be beneficial as it would enrich the library with another variational algorithm. Moreover, linear systems of equations are a fundamental problem in a lot of areas and having such an algorithm implemented in Qiskit might attract some n

[2020-10-13 16:12] molar-volume commented on #1339
After setting ```is_measurement=op_c.is_measurement```, it is possible to eval, and for that particular example we get
[code]
@jlapeyre If you did not start already, I can make the PR for this issue and https://github.com/Qiskit/qiskit-aqua/issues/1338 .
But if you think that problem is more tricky, I can leave it up to you.

[2020-10-13 21:13] edwinagnew commented on #1336
@a-matsuo sure, here's the code for the c-measurement by itself:
[code]
Which is just this diagram:
![image](https://user-images.githubusercontent.com/42814611/95915807-a38fbf00-0d9f-11eb-9d94-6b0529979fba.png)

I just realised that it wasn't working with the grover's before because I wasn't using enough qubits, so here is a 5 qubit case with the solution being 11111. The diagram is:
![image](http

[2020-10-13 21:15] edwinagnew commented on #1336
The code is:
[code]

[2020-10-13 21:26] #1324 closed

[2020-10-14 00:32] ikkoham commented on #1324
Sorry, I forgot a comment on this issue.

Thank you for the report.
I fixed this, as you suggested.
Your advice was very helpful.

[2020-10-14 03:53] jlapeyre commented on #1339
@molar-volume , I won't start it myself. I'll look at your PR

[2020-10-14 13:17] omarshehab opened #1347 "DOcplex constraint to Sympy expression conversion"
### What is the expected behavior?

Ideally, it should be a feature within the DOcplex library. However, we can have an utility function which will convert the expression of a constraint into a symbolic Sympy expression so that we can leverage the symbolic manipulation capability of Sympy.

[2020-10-14 20:10] #1284 closed

[2020-10-14 20:36] woodsp-ibm commented on #1325
#1337 addressed this to allow the gate to be opened to permit larger matrices - you can now set a flag in aqua_globals to globally control this. By default its closed so you will see a similar massive message unless changed. Note memory requirements for these are still in play but now you may be able to have larger matrices depending on your machines capacity.

[2020-10-14 20:36] #1325 closed

[2020-10-14 20:54] #1276 closed

[2020-10-14 21:55] #1327 closed

[2020-10-15 07:16] #944 closed

[2020-10-15 07:17] #1326 closed

[2020-10-15 13:09] Cryoris commented on #1338
I think we should ask users to define the backend they want to use -- if they don't want to specify one we already have the plain `eval`  😄

[2020-10-15 13:09] #1338 closed

[2020-10-15 14:30] Domceng opened #1353 "GroverOperator import error"
### GroverOperator import error

- **Qiskit Aqua version**: 0.8.0
- **Python version**: 3.6
- **Operating system**: Ubuntu 18.04

### What is the current behavior?
When I run

**python test/aqua/test_grover.py**

I get the error:

Traceback (most recent call last):
  File "test/aqua/test_grover.py", line 28, in <module>
    from qiskit.circuit.library import GroverOperator
ImportError: cannot impo

[2020-10-15 16:19] dongreenberg commented on #1338
That's fine. Just a nit that in this case I actually passed an empty backend expecting BasicAer qasm so that it would actually  sample my evaluations. I already did eval() to get the exact answer, and wanted a sampled one.

[2020-10-15 18:45] #1339 closed

[2020-10-15 18:58] dongreenberg commented on #1339
Thanks gang! When's the next release?

[2020-10-15 21:03] woodsp-ibm commented on #1353
The master branch here is only guaranteed to work with the master branches of the the other dependent parts of qiskit, such as qiskit-terra in this case where you will find GroverOperator. If you install the latest from master you should find that works.

[2020-10-15 21:10] woodsp-ibm commented on #1305
This was answered above, where the algorithms that use SPSA give flexibility to control the behavior, so I am closing this. If you feel there still is some problem then please feel free to re-open in order it can be addressed.

[2020-10-15 21:10] #1305 closed

[2020-10-15 21:24] #1353 closed

[2020-10-15 22:52] #739 closed

[2020-10-15 22:53] pbark commented on #1044
PR #1352 closes this

[2020-10-15 22:53] #1044 closed

[2020-10-15 23:49] pbark commented on #880
PR #1354 willl close this

[2020-10-15 23:49] #880 closed

[2020-10-15 23:50] pbark commented on #1042
moved to backlog and expose this only as a demo notebook.

[2020-10-16 09:33] SrSoto opened #1360 "IndexError in Credit Risk Analysis tutorial"
### Information

- **Qiskit Aqua version**: 0.8.0.dev0+99394e5
- **Python version**: 3.7.4 (default, Aug 13 2019, 15:17:50) [Clang 4.0.1 (tags/RELEASE_401/final)]
- **Operating system**: Ubuntu 18.04.5 LTS

### What is the current behavior?

The Credit Risk Analysis is indexing badly the CDF and PDF, using variables meant for values (`losses` or `exact_var`) instead of indexes (like `i_var`). This

[2020-10-16 12:41] molar-volume commented on #1321
```to_circuit_op()``` is defined for ```PrimitiveOp``` and ```ListOp```, so maybe it can be defined straightforwardly for OperatorStateFn as well, something like
[code]

[2020-10-16 16:02] Cryoris opened #1363 "Add inline comments in the Gradients framework"
### What is the expected enhancement?

What the Gradient framework does is nicely documented. However looking through the code it can be quite challenging to understand the individual steps involved in the computation. We should add inline comments explaining what's going on so future developers have an easier time maintaining and developing the code.

[2020-10-16 16:05] Cryoris opened #1364 "Gradients performance: deepcopies"
### What is the expected enhancement?

The current gradient framework applies copies and deepcopies in several places. We should revisit these parts of the code and check whether expensive copying is actually necessary or if we could improve the perfomance by not copying.

[2020-10-16 16:08] Cryoris opened #1365 "Gradients docstring overhaul"
### What is the expected enhancement?

The class docstrings in the framework should contain examples to show how they are used and references to a paper where these techniques are introduced.

[2020-10-16 19:23] BryceFuller commented on #1363
I will help with this.

[2020-10-18 05:15] yaelbh commented on #1015
I see that the issue has been tagged "enhancement". In my opinion this is a bug. A circuit should not contain gates without a reason.

[2020-10-18 05:28] yaelbh opened #1366 "Pointing on issues in performance of VQE"
I'd like to raise the awareness for two known bugs in the performance of VQE:
1. https://github.com/Qiskit/qiskit-aqua/issues/1015 - when running with a simulator, the circuit sometimes contains redundant gates, which slow down the execution of the simulator.
2. https://github.com/Qiskit/qiskit-terra/issues/5236 - transpilation is not working well when running UCCSD with custom connectivity. This

[2020-10-19 12:32] ikkoham commented on #1015
The benchmark shows that this may not improve the performance significantly.
The measurement gates take time, but may not be a bottleneck.

[code]

For all measurement,
[code]
6.27 s ± 74.8 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

For one measurement,
[code]
6.07 s ± 18.8 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

[2020-10-19 12:34] Supers25 commented on #1334
I have tried different dataset sizes, but none of them worked. Is there anything else I could do? Should I do something different if the dataset is nonlinear separable?

[2020-10-19 12:37] ikkoham commented on #1015
I think we should make better transpilers to optimize such a circuit. For example, one removes unnecessary gates (not only measurement gate, but also pre-rotation unitary gates, and ansatz circuits)

[2020-10-19 12:43] yaelbh commented on #1015
How will the transpiler know if the measurement results are going to be used?

[2020-10-19 12:53] ikkoham commented on #1015
You are right. Before improving the transpiler, this issue is necessary.
OK, I can fix this (maybe until next release 0.9) (if no one has started)

[2020-10-19 13:53] yaelbh commented on #1015
Thanks a lot!  There were some people who started looking at this, you can see in the comments here above, but I think they stopped at some point. Same goes also for @molar-volume. In addition PR #1344, which has been merged three days ago, shares many terms with us; I don't know whether this is a coincidence, or maybe that PR handles this issue as well.

[2020-10-19 14:10] hay-k opened #1370 "PauliTrotterEvolution fails on certain combinations of pauli operators"
### Information

- **Qiskit Aqua version**: 0.8.0
- **Python version**: 3.7.4

### What is the current behavior?

`PauliTrotterEvolution` exits with error when asked to convert operators of certain structure. Here is the error message

[code]

### Steps to reproduce the problem

The following code snippet will reproduce the error message above

[code]

### What is the expected behavior?
The code s

[2020-10-19 15:02] dongreenberg opened #1371 "Array indexing of ListOp should return ListOp"
Right now mylistop[0:5] returns mylistop.oplist[0:5], not ListOp(mylistop.oplist[0:5]). This is unintuitive and loses the other state (coeff), if the user wants the raw list, they can just do mylistop.oplist[0:5].

[2020-10-19 15:56] dongreenberg commented on #1371
Actually, also worth noting that __getitem__ should still return the single item, not a listop with a single item (reflecting how python does indexing).

[2020-10-19 17:57] aeddins-ibm opened #1372 "VQE: stop iteration on-demand; more shots on last iteration"
### What is the expected behavior?
Two independent but related VQE feature requests important for experiments on quantum hardware:

1) **More shots on final cost-function evaluation**
There should be an option to increase the number of shots for the final evaluation of the cost function in VQE. For example, in this modern IBM experiment: https://arxiv.org/pdf/1805.04492.pdf, they set the number of

[2020-10-19 21:21] woodsp-ibm commented on #1372
For 1. The shots are currently set in the execution environment of the algorithm. In this case the QuantumInstance. Certainly it seems doable to have it re-run with the optimal parameters at a different shot count - the algorithm has visibility to and can set the number of shots as well. This is actually something that can be done today outside of the algorithm by using the optimal parameters as t

[2020-10-19 21:25] woodsp-ibm commented on #1015
It seems the ball got dropped on this one. @ikkoham if you are able to look at this it would be great.

[2020-10-19 22:17] stefan-woerner commented on #1360
The tutorials have not been migrated yet to Qiskit Aqua 0.8, but this will happen soon.
Qiskit/qiskit-tutorials#1054 should fix this once merged.

[2020-10-20 09:24] Cryoris commented on #1360
I can confirm the above, in the PR @stefan-woerner mentioned this error does not occur anymore.

[2020-10-20 15:18] EliasCombarro opened #1375 "PyTorchDiscriminator does not load a model from file"
### Information

- **Qiskit Aqua version**: 0.8.0
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?

When trying to load a model from file to a PyTorchDiscriminator object, nothing happens (the parameters of the object are not modified)

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

Substitute line 93 of file

[2020-10-20 16:30] Cryoris opened #1376 "Use the ``classical_function`` compiler instead of Oracle components"
### What is the expected enhancement?

In the last release of Terra, the classical function compiler has been added which uses the `tweedledum` library to compile a classical function to a circuit. This compiler yields much more efficient circuits than the Oracle components `LogicalExpressionOracle` and `TruthTableOracle`.

Oracle for the logical expression `not a or (b and c)`:
[code]
yields
[cod

[2020-10-20 18:06] woodsp-ibm commented on #1376
How does it do with the 3-Sat example?

Is the Truth Table function able to alleviate the memory issue here #1186 such that it can be done.

If the functionality is able to cover what the existing Oracles and more efficiently then it certainly seems like its a good case to deprecate the current ones in favor of this. Can you confirm the existing Oracle capabilities are covered? And as you suggest

[2020-10-20 18:11] jlapeyre commented on #1370
The immediate cause of the error is that in `circuit_no_identities.primitive.global_phase = -sum(identity_phases)` it is assumed that `circuit_no_identities` is a `QuantumCircuit`. But in the present case, it is not. This error can be avoided in some cases, such as the present one, by adjusting the phase only if it is non-zero. But, then the evolution does not return a circuit as promised in the d

[2020-10-20 22:12] gonzaarcr commented on #1371
I think you mean a slice, right?

Can I work on this?

[2020-10-20 22:32] dongreenberg commented on #1371
Exactly. I no longer am on the dev team, so up to @woodsp-ibm . Make sure to add a test.

[2020-10-21 00:08] jlapeyre commented on #1370
To further clarify the PR mentioned above: You can rewrite the operator ` ((I + Z) ^ I) + ((I - Z) ^ X)` as `(I^I) + (Z^I) + (I^X) - (Z^ X)`. Using the latter, the `PauliTrotterEvolution` example above gives the same result as the `MatrixEvolution` example. Some logic in aqua operators may perform this rewriting. Or, if not, it could be added in principle. But, it is currently not done by `PauliTr

[2020-10-21 09:47] Cryoris commented on #1376
The 3-SAT example from the readme sample with the current Oracle is:
[code]
versus Tweedledum:
[code]

And it seems to work with Grover's algorithm, though it needs some pre-processing to convert the bit-flip oracle to a phase-flip and define the `good_state` function.

[2020-10-21 15:04] woodsp-ibm commented on #1376
In regards of

another alternative is to provide some utility capabilities here to facilitate building out oracles, such as parsing the cnf and giving back the classical function, same for a truthtable as otherwise it looks awkward to build out the more bits there given the above example of an equivalent. Maybe this nets out to be similar to custom classes for getting a circuit like is there today

[2020-10-21 15:15] Cryoris commented on #1376
I was discussing with @a-matsuo and we we're thinking of library circuits in Aqua that did this job, like
[code]
and possibly
[code]

We have a document on that that I'm happy to share!

[2020-10-21 18:44] Supers25 commented on #1334
@woodsp-ibm I have tried different dataset sizes, but none of them worked. Is there anything else I could do? Should I do something different if the dataset is nonlinear separable?

[2020-10-21 18:53] woodsp-ibm commented on #1334
I mentioned that we were thinking of adding an additional regularization term which solves the problem on the data sets that we have tried. It would mean replacing the qp_solver.py in your installation with an updated version that I could point you at - it is being worked on for a PR to Aqua to address this and was still being tested. Would you like to give this a try? Alternatively if the data se

[2020-10-21 19:32] Supers25 commented on #1334
Yes, please point me to the new version.

[2020-10-21 19:39] gonzaarcr commented on #1371
Should I add tests? I think the place would be `test/aqua/operators/test_op_construction.py` but I haven’t seen any for the array operations (like iter).

[2020-10-21 20:28] woodsp-ibm commented on #1334
Ok, here is the updated file. It has a lambda2 value in there which defaults to 0.001. Hopefully it works with the default value but if not just try changing it a little bit bigger. We are working to expose this via QSVM so in practice it will be easier to set. But for now I think this should be ok to test things. Let us know how you get on with it https://github.com/sternparky/qiskit-aqua/blob/QS

[2020-10-21 20:32] Supers25 commented on #1334
Thank you for the link! I will keep you updated.

[2020-10-21 21:49] woodsp-ibm commented on #1371
Yes, we should definitely add unit tests for the new function to ensure things work, and continue to work as expected. That file seems to have a lot in it but for now it does seem like the best place to add some tests for this.

By the way you can see the unit test coverage of each file by clicking on the coverage button, at the start of the readme text on the Aqua repository home page, so you can

[2020-10-22 07:38] ikkoham commented on #1321
@molar-volume Thanks. I think using `primitive.to_circuit()` for `to_circuit_op()` is not a desired behavior for `OperatorStateFn`.
For this case, we should validate in`PauliExpectation().convert()`, whether the input operator can be converted into an operator with the Pauli measurements`.

Do you continue this issue?

[2020-10-22 08:37] molar-volume commented on #1321
Hi @ikkoham, I have not work on it since the pull request, you can go ahead, if you want to continue :)

[2020-10-22 08:39] ikkoham commented on #1321
OK, thanks

[2020-10-22 20:07] #1313 closed

[2020-10-22 20:41] woodsp-ibm commented on #588
@BryceFuller I believe the new gradient logic that has just been added has product rule support. Presumably this issue could be addressed by allowing AQGD to support a gradient function that was passed in rather than just ignore it as today. Any thoughts - would the gradient need to be typed checked here to ensure it was an analytic gradient? Is this something you might be able to take a look at?

[2020-10-22 20:46] woodsp-ibm commented on #626
There has been an ongoing change with the circuits, that now support lazy construction. And several components/circuits have been moved over to a circuit library. I no longer think this specific issue is needed any more so am closing it.

[2020-10-22 20:46] #626 closed

[2020-10-22 22:29] #1371 closed

[2020-10-23 13:58] Brogis1 opened #1381 "Incorrectly generated matrix out of a list of Pauli strings after converting to opflow"
### Information

- **Qiskit Aqua version**:
 'qiskit-terra': '0.17.0',
 'qiskit-aer': '0.8.0',
 'qiskit-ignis': '0.6.0',
 'qiskit-ibmq-provider': '0.12.0',
 'qiskit-aqua': '0.9.0'

- **Python version**:
Python 3.6.11 | packaged by conda-forge | (default, Aug  5 2020, 20:19:23)

- **Operating system**:
macOS Cataline Version 10.15.5 (19F101)

### What is the current behavior?
Problem spotted when e

[2020-10-23 15:33] AzizNgoueya opened #1383 "Quantuminstance doesn't allow noise simulation on ibmq_qasm_simulator"
### Information
- **Qiskit Aqua version**: 0.8.0
- **Python version**: 3.8.1
- **Operating system**: Windows

### What is the current behavior?
I am not sure if it is an error but i wanted to clarify.
Adding a noise_model from a real backend on the ibmq_qasm_simulator on the cloud using the QuantumInstance produces an error: ```The noise model is not supported on the selected backend ibmq_qasm_sim

[2020-10-23 16:34] woodsp-ibm commented on #1334
@Supers25 Any update - did that help? As you can see a PR has been created that links to this issue. The PR locally fixes thing for the datasets we had seen the solver error but I was holding off merging to see if it solved things for you too. If so I will change the PR to have it auto-close this issue when it get merged.

[2020-10-23 17:05] #1289 closed

[2020-10-23 18:54] Supers25 commented on #1334
Thank you for checking in. The training is still running. I will keep you posted.

[2020-10-23 20:52] Supers25 commented on #1334
@woodsp-ibm It worked. Thank you for your help.

[2020-10-23 21:06] woodsp-ibm commented on #1334
Great, thanks for the update. I'll approve the PR so the fix can be merged and be part of a future release.

[2020-10-23 21:44] #1383 closed

[2020-10-23 22:50] #1334 closed

[2020-10-26 07:04] Cryoris commented on #1360
Since the tutorials have been updated this issue should be solved. Feel free to reopen if I'm missing something or the error occurs again!

[2020-10-26 07:04] #1360 closed

[2020-10-26 13:38] woodsp-ibm opened #1388 "Slicing List operators should return the same type not the ListOp class"
See #1379

A number of these also construct via self.__class__ so this can be an option too.

[2020-10-26 13:54] tgag17 commented on #1092
Hey! Should the documentation be updated with another example to convey a clear meaning?

[2020-10-26 14:08] ikkoham commented on #1381
Thanks for the issue.
I found that `to_opflow()` mistakenly converts a imaginary number to a real number.

minimal code
[code]
This returns a Pauli X.

I will fix this issue.

[2020-10-26 18:18] #1375 closed

[2020-10-26 18:26] EliasCombarro commented on #1375
Thanks!

[2020-10-26 20:14] gonzaarcr commented on #1388
Sorry, my bad ):

Yes, I think `self.__class__` seems be more convenient, since the same pattern has been used in a few other methods. Can I fix this?

[2020-10-26 20:47] woodsp-ibm commented on #1388
Sure, and please add a unit test(s) for these types to ensure we also end up with the type as expected - thx.

[2020-10-27 05:40] gonzaarcr commented on #1388
I was about to reuse the same branch that I use the other day, but I found that someone has merged a commit into it. I didn’t know that that was possible (I thought it was mine).

Should I use that branch or make another one to keep the merge cleaner?

[2020-10-27 13:55] adekusar-drl opened #1392 "Incorrect translation of integer variables in ADMMOptimizer"
### Information

- **Qiskit Aqua version**: 0.8
- **Python version**: Any
- **Operating system**: Any

### What is the current behavior?
An exception is thrown when trying to solve a problem with integer variables:
[code]

### Steps to reproduce the problem
The script to reproduce the problem:
[code]

### What is the expected behavior?
No exception should be thrown.

[2020-10-27 15:53] woodsp-ibm opened #1394 "ListOp grad_combo_fn should be preserved across methods like reduce."
When using ListOp methods, like reduce(), they can return a new ListOp containing an new updated operator. However the grad_combo_fn, newly introduced with the gradient capability, is not being set into the new ListOp in places where it should be - reduce() being one example.

Action is to ensure the ListOps grad_combo_fn is carried over into the new ListOp everywhere its appropriate.

[2020-10-27 17:29] #1392 closed

[2020-10-27 17:31] pbark commented on #1372
regarding point 1, we need the implementation of a resampling protocol in the evaluation of operators that can also be used for the VQE case. This is important also for chemistry (among many applications). We put it in the backlog and we need to start this implementation sooner than later. @aeddins-ibm if you are interested to contribute you are very welcome.

about point 2, I am not sure if this

[2020-10-27 17:35] pbark commented on #1366
discussion moved to #1015 . Shall we close this issue? @yaelbh please close if this is not needed.

[2020-10-27 17:39] pbark commented on #1318
Is this resolved? @AzizNgoueya  can you close the issue if not needed anymore?

[2020-10-27 18:08] pbark commented on #1343
Hi @nelimee , we are happy to see the contribution of Variational Quantum Linear Solver in qiskit aqua. We are currently working on refactoring and adding in the linear solvers so this would be a great addition. I think that a design proposal and a more concrete discussion would be of benefit here. I know that @anedumla and @stefan-woerner are working on this so you can have a follow up discussion

[2020-10-27 18:10] pbark commented on #588
Taging also @adekusar-drl to give his opinion on this.

[2020-10-27 19:18] woodsp-ibm commented on #1388
A PR cannot be merged if the branch is out-of-date so what happens when you do a PR is that if the branch is out of date, because other PRs were merged since you created the branch from the latest code, then update the branch button here will push a commit back to your fork to update it (it may not be able to sometimes if there are conflicts in the changed files which would require manual interven

[2020-10-27 22:22] pbark commented on #1042
Closing this issue in view of the merged tutorial in qiskit-tutorials. Will start a new one as long as we have an implementation that allow for larger than diatomic molecules to be supported.

[2020-10-27 22:22] #1042 closed

[2020-10-27 22:27] pbark commented on #599
@woodsp-ibm are we going to have a follow up on this or can we close this issue?

[2020-10-27 22:28] pbark commented on #596
Closing this issue in view of the recently merged algorithm pes_samplers, specific BOPES Sampler in #1352

[2020-10-27 22:28] #596 closed

[2020-10-28 07:54] Cryoris commented on #599
I think we should keep this open, this seems like an important feature we could implement in the future! 🙂

[2020-10-28 09:29] anedumla commented on #1343
Hi @nelimee , the HHL refactoring is taking place in my github within this new package: https://github.com/anedumla/qiskit-aqua/tree/hhlrefactoring/qiskit/aqua/algorithms/linear_solvers_new . What is clear is that the abstract class for all solvers will be `LinearSolver` and all solvers will contain a `.solve()` method, however we are still drafting everything else (including what should go inside

[2020-10-28 11:10] yaelbh commented on #1366
@pbark what about Qiskit/qiskit-terra#5236 - transpilation is not working well when running UCCSD with custom connectivity. This affects users that run on simulators as well as on real devices.

[2020-10-28 14:37] BryceFuller opened #1398 "Adding gradient support for MES Factory Implementations"
### What is the expected behavior?

The `MinimumEigenSolver` Factory Implementations within the Chemistry module do not yet support the gradients framework. This is the functionality I intent to add

[2020-10-28 18:38] woodsp-ibm commented on #599
The relevance of this depends on what happens with the FermionicOperator going forwards. h1/h2 are the one and two body spin integrals which so far, since only a smallish number of qubits (orbitals) can be supported, having dense matrices has not really been an issue to date.

[2020-10-29 13:31] ikkoham opened #1399 "PrimitiveOp is not hashable"
### Information

- **Qiskit Aqua version**: master
- **Python version**:
- **Operating system**:

### What is the current behavior?

This is spec bug.
Hashable is defined as follows:

Ref: https://docs.python.org/3.8/glossary.html#term-hashable

Current PrimitiveOp has [`__hash__`](https://github.com/Qiskit/qiskit-aqua/blob/6870c69273935836184b0981a9be09ed784f9367/qiskit/aqua/operators/primitive_o

[2020-10-29 14:59] woodsp-ibm commented on #1399
Hash is useful for other reasons too. I know there was discussion over equality - e.g. is a matrix form of the same operator equal or not. Logically this takes it further than the example above where the coeff type is different. Arguably for the coeff it seems more logical that they are equal (assuming identical primitive) if the value of the coeff is the same. As such the hash could be improved -

[2020-10-29 15:02] woodsp-ibm commented on #1398
I believe this is to add the gradient support to the MES Factory implementations so that they can take gradient objects when applicable.

[2020-10-29 15:44] #1388 closed

[2020-10-29 16:12] ikkoham commented on #1399
I have discussed with @t-imamichi. (If there are any corrections/supplements, please point them out.)

To implement `__hash__`, the object must be immutable. However, current PrimitiveOp is mutable.
[code]
[code]

So we have two choices.

1. Make PrimitiveOp immutable.
- Advantage:
  - Hash is useful as you said
  - Fast equality check in SummedOp (O(n))
- Disadvantage:
  - Copy cost.

2. Remove `

[2020-10-29 16:51] woodsp-ibm commented on #1399
PrimitiveOp is supposed to be immutable. Code makes new instance when things change - or at least should. The only code I was aware of the broke this rule is this in CircuitOp https://github.com/Qiskit/qiskit-aqua/blob/e581d8027b99c19de8e6022365a0917e0e7e42c7/qiskit/aqua/operators/primitive_ops/circuit_op.py#L209-L210 where I think it removes extra identity gates. I guess CircuitStateFn has the sa

[2020-10-29 23:07] dongreenberg commented on #1371
Awesome, thanks!!!

[2020-10-30 00:31] ikkoham commented on #1399
Is PrimitiveOp really supposed to be immutable?
[This](https://github.com/Qiskit/qiskit-aqua/blob/17c21272bce616918f021e90155fcc61b4b8818e/qiskit/aqua/operators/operator_globals.py#L36) implies an original PrimitiveOp is mutable.

Other example:
[code]
[code]

So should we choose changing PrimitiveOp immutable?

[2020-10-30 00:48] ikkoham commented on #1399
We need to take care this case.
[code]
[code]

[2020-10-30 01:08] jlapeyre commented on #1399
This is what makes the class immutable.
[code]

The data inside the properties can change.

[2020-10-30 01:10] ikkoham commented on #1399
Sorry, my word is bad. Please replace immutable to hashable.

[2020-10-30 13:02] woodsp-ibm commented on #1399
The intent is that the opflow, via the public API, the objects are immutable. It never copied primitives and states this in the docs so if you modify that external, or just poke around with Python on the objects fields, then clearly one can change these. You can see via the comment I referenced above on reduce()  the immutable aspect (I am not sure why reduce needed to be done in place in those pr

[2020-10-31 01:05] #1311 closed

[2020-10-31 01:05] #1317 closed

[2020-10-31 01:05] #1321 closed

[2020-10-31 01:05] #1381 closed

[2020-11-02 06:27] t-imamichi commented on #1399
Yes, I agree. We need to change `PauliOp.hash` `NotImplementedError` and implement `hash` for each child of `PrimitiveOp`, i.e., `MatrixOp`, `CircuitOp`, and `PauliOp`.

[2020-11-02 06:46] t-imamichi commented on #1399
`CircuitOp` has an issue due to `repr` too. Two `CircuitOp` with an identical circuit do not match the hash value as follows.
[code]
output
[code]

[2020-11-02 06:53] t-imamichi commented on #1399
Some primitives of `PrimitiveOp` are not hashable, e.g., `QuantumCircuit` and `numpy.ndarray`. I'm wondering how we make hashable `PrimitiveOp` using such primitives.

[2020-11-02 09:12] fishgoesbloop opened #1401 "SklearnSVM - ArpackNoConvergence"
### Information

- **Qiskit Aqua version**:
{'qiskit-terra': '0.16.0',
 'qiskit-aer': '0.7.0',
 'qiskit-ignis': '0.5.0',
 'qiskit-ibmq-provider': '0.11.0',
 'qiskit-aqua': '0.8.0',
 'qiskit': '0.23.0'}
- **Python version**:3.8.5
- **Operating system**:Windows

### What is the current behavior?
---------------------------------------------------------------------------
ArpackNoConvergence

[2020-11-02 09:45] nelimee commented on #1343
Hi @pbark and @anedumla,
Thanks for the answer. I will first have a look at the `hhlrefactoring` branch of @anedumla and familiarise myself with the package. I will come back to you on this issue during the week and try to give you an interface V1 for the VQLS so that we can iterate on this.
@anedumla if you feel the need, I would also be happy to help with the refactoring. I am not sure this issu

[2020-11-02 15:04] #1243 closed

[2020-11-02 15:04] #1318 closed

[2020-11-02 17:27] woodsp-ibm commented on #1399
Some ideas perhaps: I think we should be able to get representative aspects from say the QuantumCircuit like width, depth, gate counts and build out a hash from that, including coeff of course for the CircuitOp overall containing that. As long as a reasonable set of properties are chosen there should not be too much collision of hash values. Same goes for the numpy array, a hash from say shape, le

[2020-11-03 09:38] t-imamichi commented on #1399
I don't think implementing `hash` for all primitives is an easy task. I know hash is useful, but, it would be good to leave removing `hash` of `PrimitiveOp` as an option. As for QuantumCircuit, we may need the global phase too.

[2020-11-03 09:41] t-imamichi commented on #1399
We have to take care of the following objects.
- `coeff: Union[int, float, complex, ParameterExpression]`
- `CircuitOp.primitive: Union[Instruction, QuantumCircuit]`
- `MatrixOp.primitive: Union[list, np.ndarray, spmatrix, Operator]`
- `PauliOp.primitive: Pauli`

[2020-11-03 10:21] vbelis opened #1402 "QSVM error with state vector simulator and breast cancer dataset"
### Information

- **Qiskit Aqua version**:  Using the IBM Quantum experience platform
- **Python version**:  3.7
- **Operating system**: Using the IBM Quantum experience platform

### What is the current behavior?

qsvm.run(quantum_instance, verbose=True) gives an error when used for the breast cancer dataset.

The error comes from the cvxpy optimizer used in the qsvm. This issue is similar to th

[2020-11-03 10:43] EliasCombarro commented on #1402
I am having similar issues. It might be linked with a problem of non-separability in the data, since this also happens with the classical SVM as reported by another user here: https://github.com/Qiskit/qiskit-aqua/issues/1401

Is it possible that the classical solver used to obtain the support vectors and alphas is in "hard margin" mode or something?

[2020-11-03 10:47] EliasCombarro commented on #1401
To me, this seems related to similar issues me and other users (see, for instance https://github.com/Qiskit/qiskit-aqua/issues/1402) are having with QSVM. To me, it seems to be related to non-separability in the data. In this case, with the SklearnSVM, some warnings start appearing when the training size is set to 16, which is exactly the moment in which a point is added that makes the data not li

[2020-11-03 13:44] woodsp-ibm commented on #1402
I am not sure about #1401 but this issue seems like it should be fixed in the current master via #1378 which addressed the issue as described above. Try running off an install from master here

[2020-11-03 13:58] woodsp-ibm commented on #1399
QuantumCircuit has an equals method. It checks the DAGs from what I saw. As to the hash method it does not need to include every aspect - if fact if every PrimitiveOp, like say CircuitOp returned the exact same hash it would still satisfy the hash(a) == hash(b) and a ==b requirement. It just would be terrible for doing lookups via the hash. Hashes do not have to be unique if the items are differen

[2020-11-03 16:29] anedumla commented on #1343
@nelimee I would be happy to take the discussion offline but cannot find how to contact you, you can ping me on Slack (Almudena Carrera Vazquez).

[2020-11-03 17:44] woodsp-ibm opened #1403 "AQGD fails with no len() using eta=3"
If the optimizer is built thus `AQGD(maxiter=60, eta=3)` it fails as follow

[code]
Given eta states it is of type float the expectation is that I should be able to give an integer such as the above and not have to explicitly make it a float

### What is the expected behavior?

I should be able to supply a value of `3` rather than have to supply `3.`

### Suggested solutions
Change the tests below

[2020-11-03 23:35] MariaSapova opened #1405 "QASM simulator time issue"
### Information

- **Qiskit Aqua version**: 0.19.0 - 0.23.0
- **Python version**: 3.6
- **Operating system**: Ubuntu

### What is the current behavior?

Function evaluation takes inadequate time in recent versions of Qiskit.
I checked Qiskit performance for VQE-UCCSD simulation of LiH molecule. Full simulation with 12 qubits can not be performed starting from version 0.19.4 (at least first functio

[2020-11-04 00:28] MariaSapova opened #1406 "VQE parameter bounds"
### Information

- **Qiskit Aqua version**: 0.19.0
- **Python version**: 3.6
- **Operating system**: Ubuntu

### What is the current behavior?

In VQE implementation circuit parameters are bounded automatically (-pi, pi). During optimization process parameter might stuck in the bound even if it is not an optimal point. Below I demonstrate it on the simple example of H2 molecule. If I simply remove

[2020-11-04 03:40] fishgoesbloop commented on #1401
I ran the same training samples on the [sklearn version of svm](https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html) and managed to successfully train and test the model though.

Hmm, I had thought qiskit's SklearnSVM was based on it. Maybe there are slight differences?

[2020-11-04 09:51] vbelis commented on #1402
Thank you for the prompt answer. It seems that adding lambda2 hyperparameter to make the SVM a soft margin one, has fixed my issue of convergence. It would be really nice as you mention in #1378  if this parameter could be tweaked from the QSVM class :)

[2020-11-04 09:56] vbelis commented on #1401
Try using the latest version of the qp_solver.py, from qiskit aqua master branck and see if it converges. As stated #1378, a L2 regularization term was added to the SVM optimizer. Maybe the sklearn svm is soft margin by default (i.e. has L2 regularization) and the qiskit SklearnSVM until the aforementioned recent change was not. Let us know if this change fixes your issue. It fixed mine #1402

[2020-11-04 13:05] woodsp-ibm commented on #1402
Adjusting the value, when you use QSVM, is already there - see lambda2 param https://github.com/Qiskit/qiskit-aqua/blob/36ffb11a08669f04ff6f7d44741c76eec8afeb2c/qiskit/aqua/algorithms/classifiers/qsvm/qsvm.py#L78-L95

As this seems to have fixed your issue - and also you have the means to adjust it as you suggested I will go ahead and close this issue.

[2020-11-04 13:05] #1402 closed

[2020-11-04 14:21] t-imamichi commented on #1399
I see. `QuantumCircuit.__eq__` compares only DAGs. So, we should ignore global phase for hash.

[2020-11-04 15:34] willsimmons1465 opened #1408 "Setting `seed_simulator` on `QuantumInstance` does not seed the simulator"
### Information

- **Qiskit Aqua version**: master, commit 36ffb11a08669f04ff6f7d44741c76eec8afeb2c
- **Python version**: 3.8.5
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

Given a simulator backend that can accept a seed, wrapping it in a `QuantumInstance` and giving it a `seed_simulator` value still gives non-deterministic results.

### Steps to reproduce the problem

[2020-11-04 16:01] willsimmons1465 opened #1409 "Assertion failure in `GroverOptimizer._twos_complement`"
### Information

- **Qiskit Aqua version**: master, commit 36ffb11a08669f04ff6f7d44741c76eec8afeb2c
- **Python version**: 3.8.5
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

On some runs of `GroverOptimizer`, it may fail a range assertion in `GroverOptimizer._twos_complement`.

### Steps to reproduce the problem

[code]

This code executes non-deterministically since we

[2020-11-04 16:47] Cryoris commented on #1408
That's actually a bug only occuring for the seed `0`, since in the `QuantumInstance` it says:
[code]
when instead it should say
[code]

If you change the seed to something nonzero it works 🙂

[2020-11-05 00:44] ikkoham commented on #1399
It's not impossible to make a non-hashable object hashable, but it's hard.

We also need to think about maintainability. The equivalence condition of QuantumCircuit (or other objects) may change in the future. At this time, we have to change the definition of `__hash__`.
This means `__hash__` has highly dependent to primitives and the classes are tight coupling.
Hash is useful in general, but we h

[2020-11-05 05:03] t-imamichi commented on #1399
I found another issue related to hashable. It is mainly used in `SummedOp.equals`. https://github.com/Qiskit/qiskit-aqua/blob/36ffb11a08669f04ff6f7d44741c76eec8afeb2c/qiskit/aqua/operators/list_ops/summed_op.py#L244

The main issue caused because `SummedOp.oplist` is `List[OperatorBase]` and `OperatorBase` does not have `__hash__` in general. Currently, only `PauliOp` has hash though the implement

[2020-11-05 09:23] t-imamichi commented on #1399
I made PoC of removal of hashable. It fixes `SummedOp.equals` with the naive comparison and adds a unit test.
https://github.com/t-imamichi/qiskit-aqua/commit/5e382794c5e89ed9d05fc530f27c71ce19ca6cc3

[2020-11-05 13:33] Zoufalc opened #1412 "Update qGAN algorithm with analytic Gradients"
### What is the expected enhancement?

The current qGAN implementation employs numerical gradients.
Employing the gradient framework would enable to run this QML algorithm with analytic gradients.

[2020-11-05 13:54] woodsp-ibm commented on #1406
Since the parameters end up in gate rotations having a larger range (bound) will just replicate the core bound - e.g. rotation `x` is same as `2pi + x`. An optimizer might get stuck in a local minima anywhere of course.

Your gist uses the qasm_simulator which will have shot noise which will give the optimizer difficulty - especially if its trying to compute a finite difference gradient. The SPSA

[2020-11-05 16:44] MariaSapova commented on #1406
@woodsp-ibm thank you for the answer. I still think that the current implementation has a bug. In my simple H2 example (see the plot), if we fix the first parameter, there are two initial points for the second parameter: -1.0 (green) and 1.0 (red).  The optimal values for the second parameter are roughly -2.9 and 3.4. As you can see on the plot, from the -1.0 initial point, gradient descent optimi

[2020-11-05 17:23] woodsp-ibm commented on #1399
I agree that when the hash is dependent on some non-hashable underlying complex primitive where the equals we create depends on using its equal method too then it can be problematic and as you indicate any solution that may be found (e.g. hash based on gate counts for QuantumCircuit that I think would be good enough) may need to change if the underlying primitive changes.

As I indicated above we

[2020-11-05 18:40] woodsp-ibm commented on #1406
Currently bounds are informed from the variational forms. I think the general ones we have supply -pi,pi for bound of each parameter so that is passed onto the optimizer. In your example above, with the minimum being reproducible on a cyclic basis if the optimizer does not search the other way from the bound then it will get stuck - as it seems you are seeing.

I will note that when no initial poi

[2020-11-05 20:04] MariaSapova commented on #1406
@woodsp-ibm, @Cryoris thank you! I should note that the optimization fails with SLSQP optimizer if I remove bounds completely, but COBYLA works fine in that case. Also for larger systems this issue complicates calculations with heuristic ansatzes, because parameters frequently stuck in the bounds and it is not obvious whether the points -pi or pi are optimal or it is just a failure.

[2020-11-05 20:20] MariaSapova opened #1413 "Evolutionary VQE"
### What is the expected behavior?

I found an interesting novel approach [Evolutionary variational quantum eigensolver](https://arxiv.org/pdf/1910.09694.pdf)
Do you have any plans to add it in Qiskit?

[2020-11-05 20:43] woodsp-ibm commented on #1406
With VQE and chemistry some evaluation of the state that is arrived at is possible. The aux operators are used for this. The chemistry module generates operators to measure total spin, num particles and total magnetization so knowing what these should be allows us evaluate the state based on the expectation values produced from these operators. It of course does not prevent things getting stuck bu

[2020-11-05 20:49] woodsp-ibm commented on #1413
That was a piece of work done by the team here a while back and we published it. Currently there is no specific plan to add it to Qiskit.

[2020-11-05 21:16] #1408 closed

[2020-11-05 21:29] woodsp-ibm commented on #1193
The above issue has not been seen in a while. An issue was fixed during Cvar implementation #1345 in SPSA that had potential to be the source of this failure. Since the issue has not been seen in a while the issue, that was noticed/fixed for a different problem, may indeed have been the source. I am therefore closing this issue since it no longer seems to be valid.

[2020-11-05 21:29] #1193 closed

[2020-11-05 22:31] manoelmarques commented on #1405
I made a small change to your script and ran it using qiskit 0.23.0, python 3.6.12 and Ubuntu 20.10
It is much faster if you use Aer and qasm_simulator with include_custom=True in VQE which gives the same result as statevector simulator (less than 7 minutes):
[code]
The results were:
[code]

[2020-11-06 09:05] t-imamichi commented on #1399
OK. I add reno and some test cases. Please take a look at the PR.

[2020-11-06 09:37] georgios-ts opened #1415 "Wrong commutation result in PauliOp"
### Information

- **Qiskit Aqua version**: master @ 367bc9d
- **Python version**: 3.7.5
- **Operating system**: osx

### What is the current behavior?
A, B commute but `commutes()` method of `PauliOp` gives `False`.

### Steps to reproduce the problem
[code]

### What is the expected behavior?

### Suggested solutions
[code]

[2020-11-06 15:14] t-imamichi commented on #1415
Thanks. I think
[code]
or
[code]
is intuitive.

[2020-11-06 15:29] georgios-ts commented on #1415
@t-imamichi

This will raise if
[code]

and this if
[code]

[2020-11-06 16:01] ikkoham commented on #1415
Current `commutes()` calculates a qubit-wise commutativity.
I am not sure why, but this is confusing.

[2020-11-06 16:07] ikkoham commented on #1415
Recently I have implemented `is_commutative` for Pauli in Terra.

https://github.com/Qiskit/qiskit-terra/pull/5299

[2020-11-06 16:20] georgios-ts commented on #1415
@ikkoham
Oh I see, though documentation is somewhat misleading.

[2020-11-06 16:20] #1415 closed

[2020-11-06 18:12] #1399 closed

[2020-11-07 03:48] t-imamichi opened #1416 "Deprecates `PauliOp.commutes`"
### What is the expected enhancement?

Only `PauliOp` has `commutes` method among all `OperatorBase`.
I notice that there are some problems with `PauliOp.commutes` thanks to #1415.

1. `PauliOp.commutes`  checks *qubit-wise* commutation because it was originally introduced for `AbelianGrouper`. The method name looks misleading. Note that `AbelianGrouper` does not use it anymore and no other Aqua m

[2020-11-07 04:55] xenoicwyce opened #1417 "QAOA no longer generates random initial points"
### Information
I've been using Qiskit 0.19 for quite some time until I recently upgraded to 0.23. Then I realized my QAOA is not working correctly. I'm not sure whether the problem is related to Aqua or not, but I hope someone can fix this.

The QAOA class in Aqua takes in an `initial_point` parameter. According to the Qiskit docs, a random initial point should be generated when `initial_point=No

[2020-11-07 05:02] xenoicwyce commented on #1417
Sorry, just realized it was a duplicate issue. #1315 #1316

[2020-11-07 16:06] woodsp-ibm commented on #1417
Your issue is certainly related but is a bit different. QAOA var form always indicated a preferred_init_points of 0's, which is still the case.
One thing which did change after 0.19 was released is that we changed the random number generation in Qiskit to use the newer numpy function for the random number generation. This no longer generates the same random numbers for the same seed, but I do not

[2020-11-08 23:18] xenoicwyce commented on #1417
Pretty sure I only seeded for the simulator and the transpiler. Does this affect the random initial points?

[2020-11-09 03:10] ikkoham commented on #1416
+1

Sorry, my `is_commutative` is not for this purpose. (I made a mistake in the previous issue)
To check the commutativity of Pauli, [`PauliTable.commutes`](https://qiskit.org/documentation/stubs/qiskit.quantum_info.PauliTable.commutes.html#qiskit.quantum_info.PauliTable.commutes) is useful.
[code]
(note that PauliTable will be deprecated.)

[2020-11-09 15:04] woodsp-ibm commented on #1417
VQE (and QAOA) take an `initial_point` which defaults to None if not supplied. So if you supply one it uses it. Otherwise with the default it first checks the variational form to see if it has a preferred initial point and if not will compute a random one. Now the QAOA var form has a preferred initial point of all zeros - it always has had this. Hence QAOA should not be computing a random initial

[2020-11-09 15:49] nonhermitian opened #1419 "Tutorial failure likely due to new docplex"
### Information

- **Qiskit Aqua version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?

In `02_gradients_framework.ipynb`:

[code]

seem likely to be caused by new docplex released two hours ago: https://pypi.org/project/docplex/

### Steps to reproduce the problem

### What is the expected behavior?

### Suggested solutions

[2020-11-09 19:20] #1419 closed

[2020-11-10 00:22] xenoicwyce commented on #1417
I've tried with a few configurations. Not seeding the quantum instance seems to solve the problem for COBYLA, but will cause NELDER_MEAD to exceed the max function evaluation (I think that's the reason I seeded the quantum instance at the first place). However, in 0.19, even if the quantum instance is seeded, it still gives different values every run, which is not the case in 0.23.

The results ar

[2020-11-10 00:23] xenoicwyce commented on #1417
## Code
[code]

[2020-11-11 15:17] #1315 closed

[2020-11-11 15:17] #1417 closed

[2020-11-11 15:25] woodsp-ibm opened #1425 "Improved support for creating summed pauli operator from expressions"
The ability to easily create a summed pauli operator from expressions has come up more than once. Here is an excerpt from one such Slack discussion

Links to Slack discussions for more info:
* https://qiskit.slack.com/archives/CB6C24TPB/p1602003600176200
* https://qiskit.slack.com/archives/CB6C24TPB/p1604069241350600

[2020-11-11 15:29] woodsp-ibm commented on #1425
@t-imamichi @ikkoham I do not know if what you are looking at would address such a feature enhancement request. Something to perhaps bear in mind, even if this is not directly addressed in the near term by the summed pauli op function you are looking at.

[2020-11-11 16:42] woodsp-ibm opened #1427 "PauliSumOp for opflow based on SparsePauliOp"
Add a dedicated SummedPauliOp class to opflow, for efficiency and functionality, based on quantum_info SparsePauliOp.

The new operator class should be part of opflow and respect the pratice, design of opflow etc. Have operator math, and other operations commensurate with the rest of opflow.

In order to allow legacy operators to be deprecated and internal logic moved fully over to opflow addition

[2020-11-11 21:03] #1403 closed

[2020-11-11 21:56] woodsp-ibm opened #1428 "MES Factory setter/getters should allow Optional where applicable"
In looking at the setters/getters in MES factories, during the gradient addition #1421 , I notice the original getter/setters for initial_point, expectation, optimizer, that default to None in factory constructor, do not show in typehing that None is a valid value to set these too, via setter, or one would expect to have None back from getter, ie. are Optional as has now been done for gradient. I

[2020-11-11 22:26] #1398 closed

[2020-11-12 01:03] ikkoham commented on #1425
Thank you, I think we can support this. I will try it.

[2020-11-12 01:11] amitracal opened #1429 "RQAOA erroring out"
### Information

- **Qiskit Aqua version**:
 'qiskit-terra': '0.16.0',
 'qiskit-aer': '0.7.0',
 'qiskit-ignis': '0.5.0',
 'qiskit-ibmq-provider': '0.11.0',
 'qiskit-aqua': '0.8.0',
 'qiskit': '0.23.0'

- **Python version**:
3.7.6
- **Operating system**:
Windows 10

### What is the current behavior?
Recursive QAOA is erroring out

This is the code failing -
rqaoa_result_q = rqaoa_qaoa.solve(qubo)
p

[2020-11-12 14:55] woodsp-ibm commented on #1429
@adekusar-drl This was running Aer backend but judging by the error message it seems more related to circuit parameterization circuits so perhaps I can ask @hhorii to take a look.

[2020-11-12 16:14] hhorii commented on #1429
I was able to reproduce this issue with the following script:
[code]

Let me take a look.

[2020-11-13 12:16] dgiannelli opened #1431 "Not expected ordering of parameters in energy evaluation call"
### Information

- **Qiskit Aqua version**: 0.7.*, 0.8.* up to latest 0.8.1

### What is the current behavior?
Using VQE class with a parametrized quantum circuit (i.e. efficientsu2), the energy evaluation function is called with parameters in alphabetical order, and not in numerical order as it happens with method assign_parameters of parametrized quantum circuit.

This leads, for example, to par

[2020-11-13 15:34] patdenim opened #1432 "HHL Tutorial - Class EigsQPE - Eigenvalues using Quantum Phase Estimation - kernel Crash"
### Information

- **Qiskit Aqua version**:   Aqua | 0.8.0  Qiskit | 0.23.0
- **Python version**:  Python | 3.8.3 (default, May 19 2020, 06:50:17) [MSC v.1916 64 bit (AMD64)]
- **Operating system**: OS | Windows

### What is the current behavior?
Running HHL tutorial https://github.com/Qiskit/qiskit-tutorials/blob/master/legacy_tutorials/aqua/linear_systems_of_equations.ipynb on **windows** platfo

[2020-11-15 09:47] SashwatAnagolum commented on #1412
Hi @Zoufalc !

If it's not a problem, I would like to work on this - is there anything you feel I could take a look at that would help me get started?

[2020-11-16 04:04] amitracal opened #1433 "MPS (Matrix Product State) giving wrong result for QAOA"
### Information

- **Qiskit Aqua version**:
'qiskit-terra': '0.16.0',
'qiskit-aer': '0.7.0',
'qiskit-ignis': '0.5.0',
'qiskit-ibmq-provider': '0.11.0',
'qiskit-aqua': '0.8.0',
'qiskit': '0.23.0'

- **Python version**:
3.7.6

- **Operating system**:
Windows 10

### What is the current behavior?
Cplex provides optimized value as -23.5 when MPS is producing values above +50 (see the attached notebook

[2020-11-16 04:14] amitracal opened #1434 "QAOA results becoming more and more incorrect with increasing problem size on QASM"
### Information

- **Qiskit Aqua version**:
'qiskit-terra': '0.16.0',
'qiskit-aer': '0.7.0',
'qiskit-ignis': '0.5.0',
'qiskit-ibmq-provider': '0.11.0',
'qiskit-aqua': '0.8.0',
'qiskit': '0.23.0'

- **Python version**:
3.7.6

- **Operating system**:
Windows 10

### What is the current behavior?
As shown in the attached excel and notebook QAOA is giving wrong results as the QUBOs and qubits start in

[2020-11-16 08:05] ikkoham commented on #1427
I will make at least 3 Pull Requests for SummedPauliOp because this has a large influence.

1. Add SummedPauliOp
2. Optimize AbelianGrouper, CircuitSampler, AerPauliExpectation, and EvolvedOp(Trotterizatoin) for SummedPauliOp
3. Support Z2 symmetry

[2020-11-16 08:55] Zoufalc commented on #1412
Hi @SashwatAnagolum,

Great!
As a starting point, I would suggest the qGAN [paper](https://arxiv.org/abs/1904.00043), as well as the [gradient tutorial](https://github.com/Qiskit/qiskit-tutorials/blob/master/tutorials/operators/02_gradients_framework.ipynb).

[2020-11-16 13:04] adekusar-drl opened #1435 "Warm Start QAOA"
### Warm Start QAOA
Add support for warm start QAOA as in the paper: https://arxiv.org/abs/2009.10095

[2020-11-16 15:25] adekusar-drl opened #1438 "Remove references to internal methods of DOCplex in the optimization stack"
Methods marked as INTERNAL in the DOCplex sources must not be used in the optimization stack. Such methods may suddenly disappear one day as in #1419.

[2020-11-16 15:52] woodsp-ibm commented on #1433
Is this really just just #1434 taken further because with MPS you can get to even more qubits?

At smaller qubit sizes does the MPS simulator produce a correct result that is line with the other simulation modes?  - I would hope it does.

[2020-11-16 15:59] woodsp-ibm commented on #1432
I will note that HHL is in the process of being refactored/rewritten so looking at a platform specific issue with it in the interim is unlikely to get any priority. Do you have any clue as to why the kernel crashed? Some of the libraries that are relied upon, like numpy, have native dlls. Have you tried say updating your environment?

[2020-11-16 16:05] woodsp-ibm commented on #1427
I will note that deprecating the legacy operators, mostly the WeightedPauliOperator, needs a set of changes in the application modules as well to move away from using these - mostly in chemistry FermionicOperator. Once the SummedPauliOp is in place, with the Z2 symmetry support, then that code can be changed to use it and the legacy operators then deprecated.

[2020-11-16 16:59] patdenim commented on #1432
I don't exactly know why the kernel crashes, i just guess that this might be related to the size of the circuit for the engeinvalues that is too big to handle.   The eigenvalues circuit cost increases with the matrix size but even much more with the increase of the number of ancilla qubits and time slice value....
as an example for a 4x4 matrix, 5 ancilla qubits and 5 time slice the eigenvalue cir

[2020-11-16 21:04] woodsp-ibm commented on #1432
It may be that more opensource products are used/tested more often on Linux than Windows and some bug has gone unnoticed around the native code. Its hard to say. I notice the tutorial uses the Aer backend. You could try using BasicAer in case it has anything to do with Aer native code.

The HHL rework is ongoing at present and we would hope to have this in the next major release. We do not have a

[2020-11-17 15:12] #1438 closed

[2020-11-17 15:47] #1429 closed

[2020-11-18 09:49] SashwatAnagolum commented on #1412
Awesome, done!

What I've got so far is that we want to replace the numeric differentiation in the optimizer used [here](https://github.com/Qiskit/qiskit-aqua/blob/11b164601b884f6159841b8e58986cbb76ef9492/qiskit/aqua/components/neural_networks/quantum_generator.py#L106-L108) with one that uses a function that returns analytically computed gradients - does that sound right?

Also, if you're Christa

[2020-11-18 21:26] aeddins-ibm opened #1444 "SPSA: occasionally evaluate at unperturbed parameters"
### What is the expected behavior?
SPSA is an efficient optimizer that approximates the gradient each iteration using only two evaluations of the cost-function `f(theta)`. These evaluations occur at `f(theta+delta)` and `f(theta-delta)`, where `delta` is a perturbation along a chosen axis in parameter space.

Notably, the cost function at the unperturbed parameters, `f(theta)`, is not evaluated un

[2020-11-18 22:44] woodsp-ibm commented on #1444
Since this seems related SPSA behavior you also made in #1372 I am making this comment to link to that too.

[2020-11-20 02:05] jason-jk-kang opened #1446 "Questions about VQE tweaking minimum eigenvalues calculation"
Hi,

I am relatively new to qiskit implementations and have two questions.

First off, I am confused how qiskit implements the VQE minimum eigensolver. In the [documentation](https://qiskit.org/documentation/_modules/qiskit/aqua/algorithms/minimum_eigen_solvers/minimum_eigen_solver.html#MinimumEigensolver.compute_minimum_eigenvalue) it appears to be instantiated as an abstract class without the ac

[2020-11-20 09:41] Cryoris commented on #1446
Hi @jason-jk-kang,

the VQE documentation is actually here: https://qiskit.org/documentation/stubs/qiskit.aqua.algorithms.VQE.html?highlight=vqe#qiskit.aqua.algorithms.VQE.

You found the `MinimumEigensolver` documentation, which is not the same as the VQE. Since there are several algorithms that can find the minimum eigenvalue of a system (VQE, QPE, classical solvers like ones from NumPy) we have

[2020-11-20 11:29] Zoufalc commented on #1412
Thanks a lot :)

Yes exactly. What now needs to be done is the definition of an analytic gradient function that is passed into the optimizer.
In order to get this gradient you need to get the probability gradients.
More explicitly, if you have a look at Eq. 8 and 9 in the [qGAN paper](https://arxiv.org/pdf/1904.00043.pdf).
These equations can be rewritten (using a frequentist perception of probabi

[2020-11-20 17:56] Cryoris commented on #1409
I can confirm this issue and also that using the two's complement of `v` is not required, that's also what #1386 tackled. I'm pulling up a PR to remove that part.

[2020-11-20 21:55] mbozzore commented on #1409
we planned to use this as part of a TKET seminar next week, any workaround/quick solution would be highly appreciated :-)

[2020-11-22 07:27] amitracal commented on #1433
I did some more experiment and wanted to enlist the result here, head to head seems to me MPS is having more fluctuations and error around 9-10 qubits than default QASM simulator. Please see the "Final" tab.
[Cplex vs QAOA on simulators.xlsx](https://github.com/Qiskit/qiskit-aqua/files/5579122/Cplex.vs.QAOA.on.simulators.xlsx)

[2020-11-22 07:29] amitracal commented on #1434
I did more extensive comparative study across the modes and attached the excel ("Final" tab) to #1434. Attaching it here as well for QASM behavior without MPS.
[Cplex vs QAOA on simulators.xlsx](https://github.com/Qiskit/qiskit-aqua/files/5579125/Cplex.vs.QAOA.on.simulators.xlsx)

[2020-11-22 07:30] amitracal commented on #1434
Please let me know if anything else like code I am using will be helpful to look at the problem on either #1433 or #1434

[2020-11-22 07:31] amitracal commented on #1433
Please let me know if anything else like code I am using will be helpful to look at the problem on either #1433 or #1434

[2020-11-22 07:41] yaelbh commented on #1433
What happens when a simulator reaches timeout?  What will a QAOA user see?

[2020-11-22 15:31] woodsp-ibm commented on #1433
@yaelbh If running the circuits on the backend returns failure if it times out then the user will see a circuit execution error raised from Aqua https://github.com/Qiskit/qiskit-aqua/blob/858305641429197560da2e31eb89bf362c8e6210/qiskit/aqua/utils/run_circuits.py#L338 (If it raises an error internally itself then that should be seen)

[2020-11-22 15:34] yaelbh commented on #1433
Thanks @woodsp-ibm. @amitracal can you please share the code.

[2020-11-22 15:38] woodsp-ibm commented on #1433
@yaelbh There is a zip attached with a jupyter notebook, that I believe demonstrates the problem, at the end of the issue description above

[2020-11-22 16:17] yaelbh commented on #1433
Yes I know, but I think there is another piece of code for the last spreadsheet.

[2020-11-23 10:05] #1409 closed

[2020-11-23 10:07] Cryoris commented on #1409
This should be fixed now, let us know if it's working now!

[2020-11-23 11:40] richard-clements opened #1451 "Improve install message for packages like 'qiskit-aqua[cvx]'"
When using the QSVM without 'qiskit-aqua[cvx]' installed, you get a message telling you how to install the dependency:
[code]

Copying and pasting this into a zsh terminal responds with 'no matches found: qiskit-aqua[cvx]'.

If you instead, use
[code]

It works 🎉

Therefore, the message should be changed to "pip install 'qiskit-aqua[cvx]'", as this will work with all shells

[2020-11-23 14:53] EliasCombarro opened #1452 "QGAN gives very bad results in Qiskit Aqua 0.8.1 and good results in Qiskit Aqua 0.7.3"
### Information

- **Qiskit Aqua version**: 0.8.1 and 0.7.3
- **Python version**: The one on the IBM Quantum Experience
- **Operating system**: The one on the IBM Quantum Experience

### What is the current behavior?

The same example of QGAN training works well with an old version of Qiskit Aqua (0.7.3) but gives very bad results with Qiskit Aqua 0.8.1

In fact, when run on Aqua 0.8.1, the code b

[2020-11-23 21:26] amitracal opened #1453 "RQAOA producing wrong results"
### Information

Qiskit Aqua version:
'qiskit-terra': '0.16.0',
'qiskit-aer': '0.7.0',
'qiskit-ignis': '0.5.0',
'qiskit-ibmq-provider': '0.11.0',
'qiskit-aqua': '0.8.0',
'qiskit': '0.23.0'

Python version:
3.7.6

Operating system:
Windows 10

### What is the current behavior?
RQAOA results are wrong as shown in the "Final" tab of the excel inside attached zip file, values should match with Cplex (

[2020-11-23 21:38] amitracal commented on #1433
@yaelbh @woodsp-ibm I am attaching another zip with code and latest excel which I have attached in the new raised RQAOA issue as well https://github.com/Qiskit/qiskit-aqua/issues/1453.
[Github Issues batch Nov 23 2020.zip](https://github.com/Qiskit/qiskit-aqua/files/5585910/Github.Issues.batch.Nov.23.2020.zip)

[2020-11-23 21:38] amitracal commented on #1434
@yaelbh @woodsp-ibm I am attaching another zip with code and latest excel which I have attached in the new raised RQAOA issue as well https://github.com/Qiskit/qiskit-aqua/issues/1453.
[Github Issues batch Nov 23 2020.zip](https://github.com/Qiskit/qiskit-aqua/files/5585910/Github.Issues.batch.Nov.23.2020.zip)

[2020-11-24 04:58] woodsp-ibm commented on #1451
Yes you need quotes around that part for zsh - a similar example is noted in the Qiskit install for visualization https://qiskit.org/documentation/install.html

[2020-11-24 10:11] yaelbh commented on #1433
Based on the notebooks, I created the following code:
[code]

For this code, the printed results are identical between the simulators, in all the runs.

Questions and comments that will help me proceed with investigation:
1. I'm using Aer simulator, not sure if it's exactly the same as the cloud one.
2. In the Excel file, what is the meaning of multiple rows for the same number of qubits?
3. In th

[2020-11-24 12:45] SashwatAnagolum opened #1454 "Change optimizer / gradient function when calling QGAN.run()"
### What is the expected enhancement?
Currently, the QGAN algorithm only allows you to set an optimizer when you instantiate a QGAN object - it would be nice if we could change optimizers / gradient functions whenever we call QGAN.run(), just like with the [VQE](https://github.com/Qiskit/qiskit-aqua/blob/master/qiskit/aqua/algorithms/minimum_eigen_solvers/vqe.py).

[2020-11-25 01:08] amitracal commented on #1433
1. I'm using Aer simulator, not sure if it's exactly the same as the cloud one.
1. I do not know. May be @woodsp-ibm can help ?

2. In the Excel file, what is the meaning of multiple rows for the same number of qubits?
2. For some options I ran the QUBO in a loop (specially for QASM and MPS) just to get a better sample and they came up with different values but because these are all for the same n

[2020-11-25 01:11] amitracal commented on #1433
[RQAOA20_MPS.zip](https://github.com/Qiskit/qiskit-aqua/files/5593710/RQAOA20_MPS.zip)

[2020-11-25 01:22] amitracal commented on #1433
@yaelbh @woodsp-ibm I also had an observation today which I think I should mention to you, as I ran a different QUBO from an actual business problem through real hardware, MPS, QASM and RQAOA. Actually MPS did very similar to QASM although both were wrong with respect to Cplex the classical solver which I consider to be my north star. Let me attach those results and notebooks as well. I only did t

[2020-11-25 07:50] yaelbh commented on #1433
I'm able to restore the results for 20 qubits, add see the difference between the simulators. I'm checking it now.

[2020-11-25 12:48] yaelbh opened #1457 "10x factor in run time between master and stable"
### Information

- **Qiskit Aqua version**: master, stable
- **Python version**: 3.6.8
- **Operating system**: Linux

### What is the current behavior?

Running QAOA with the master branch takes 10 times longer than the stable branch.

### Steps to reproduce the problem

[code]

Output of machine: 345 seconds with master, 38 seconds with stable.

### Suggested solutions

Maybe compare transpilatio

[2020-11-25 13:58] ikkoham commented on #1457
Is this Aqua's issue? (Which did you use Terra master or Terra stable?)

Perhaps, https://github.com/Qiskit/qiskit-terra/pull/5429 https://github.com/Qiskit/qiskit-terra/pull/5431 may be related.
These are recently found performance problem.

[2020-11-25 16:59] yaelbh commented on #1457
I used master branches of Aqua, Aer, and Terra. Compared to stable branches of all three.

[2020-11-26 08:00] ikkoham commented on #1457
I have checked this. My environment is master and stable/0.8 of Aqua, and master of Terra and Aer for both.

227s (stable/0.8) -> 27s (master)

stable
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/6814928/100323253-c9e48380-3008-11eb-9a95-70cb07cf3697.png">
master
<img width="1439" alt="image" src="https://user-images.githubusercontent.com/6814928/100323226-bf29ee80-

[2020-11-26 11:23] yaelbh commented on #1457
This is opposite to my findings...

[2020-11-26 11:24] ikkoham commented on #1457
Ah sorry my wrong

[2020-11-26 13:09] pineenguyen opened #1560 "TypeError: result() got an unexpected keyword argument 'wait'"
### Informations

- **Qiskit version**: '0.16.1'
- **Python version**: Python 3.7.6
- **Operating system**: Ubuntu 20.04

### What is the current behavior?
TypeError: result() got an unexpected keyword argument 'wait'

### Steps to reproduce the problem
###%matplotlib inline
import qiskit
from qiskit import QuantumCircuit, execute, Aer, IBMQ, BasicAer
from qiskit.providers.aer import QasmSimulator

[2020-11-29 15:15] yaelbh commented on #1433
Here's an update.
- Some of the differences are because in the QASM notebook, the options in the `set_options` line (of the optimizer) are different from the MPS notebook.
- The circuits are not transpiled the same way for the two simulators in the stable branch. I don't see that it can cause differences. In the master branch the transpilation is identical.
- I have a case (20 qubits, p=20) where

[2020-11-30 05:11] #981 closed

[2020-11-30 10:11] Zoufalc commented on #1452
@Cryoris Can you check the uncertainty models?

[2020-11-30 22:19] MariaSapova opened #1460 "QEOM energies differ for Statevector and Qasm simulator"
### Information

- **Qiskit Aqua version**: 0.8.1
- **Python version**: 3.6.8
- **Operating system**: Ubuntu

### What is the current behavior?

For H2 molecule QEOM excited state energies differ running with Statevector and Qasm simulators.

### Steps to reproduce the problem

Please, run the [gist](https://gist.github.com/MariaSapova/0912242cfb0b6e344d86367330f5e94d)

### What is the expected be

[2020-11-30 23:21] PabloAMC opened #1461 "TruthTableOracle producing incorrect logic for large oracles in some quantum walks [Please ignore it for the moment while I run additional checks]"
### Information

- **Qiskit Aqua version**: 0.8.1
- **Python version**: 0.16.1
- **Operating system**: IBM Quantum Experience

### What is the current behavior?

The following code is part of a quantum walk algorithm in a two-dimensional space. We analyze the oracle that tells with what probabilities steps are accepted and determine there is an error in the output of the oracle.

Some comments:

1

[2020-12-01 02:57] t-imamichi opened #1462 "Revise the batch generation of optimization variables"
### What is the expected enhancement?

#1262 was merged, but some comments are still left.
We need to make another PR to fix the comments.

I found that the following issue.
- `{binary, integer, continuous}_var_{list, dict}` has a default argument value `keys=1`. But, if keys=1, users should use the corresponding method `{binary, integer, continuous}_var`. This order of arguments differs from that

[2020-12-01 05:46] amitracal commented on #1433
Thank you @yaelbh, please let me know if you need any help

[2020-12-01 06:00] ikkoham commented on #1460
How about using Aer for statevector simulator instead of BasicAer?

[2020-12-01 09:45] yaelbh commented on #1433
I understand now what's going on. The bottom line is a numerical difference 10 positions after the decimal point, which propagates to totally change the flow of QAOA. Note that this implies something to be improved in the sensitivity of QAOA.

This is the instance where we see differences:
[code]

Note that I work with the master branches of all the repositories.
What is happening:
- I'm not famil

[2020-12-01 11:26] MariaSapova commented on #1460
@ikkoham Hello! Aer for statevector simulator provides the same results as BasicAer and they are equal to exact diagonalization results. But still there is some problem with qasm.

[2020-12-01 11:37] yaelbh commented on #1460
Qasm by default performs measurements, so you obtain statistical errors. This is its default behavior, because users often use it to mimic a real device. If you want exact diagonalization, try setting the parameter `initial_custom` to `True`.

[2020-12-01 12:03] MariaSapova commented on #1460
Hello @yaelbh!
I use `include_custom = True` with qasm simulator.
Still excited state energies deviate greatly.
![image](https://user-images.githubusercontent.com/71624472/100737982-fe2fb980-33e5-11eb-9548-8ca5fb9b5efb.png)
And also there is some obvious error in matrix element calculations.
![image](https://user-images.githubusercontent.com/71624472/100738109-2fa88500-33e6-11eb-8c14-dd516d840b16.

[2020-12-01 12:31] yaelbh opened #1463 "High-level simulator random seed for circuit jobs"
Fixing the random seed when using Aqua consists, to my knowledge, of three steps:
1. Setting `aqua_globals.random_seed`.
2. Setting the `seed_transpiler` parameter in `QuantumInstance`.
3. Setting the `seed_simulator` parameter in `QuantumInstance`.

The fixing of the `seed_simulator` causes an undesired behavior, where each execution of the variational circuit begins with the same random seed. Si

[2020-12-01 14:37] woodsp-ibm commented on #1463
So don't set `seed_simulator` in that case, leave it as default which will be random,

I believe Aer and BasicAer behave differently in regards of the seed_simulator when there are multiple circuits in a job - or at least they did in the past, I do not know if it has been changed. Chris knew about the differences.

[2020-12-01 15:02] yaelbh commented on #1463
But, what if I want the entire QAOA run to be restorable?

[2020-12-01 15:45] woodsp-ibm commented on #1463
I take it that the expected outcome should be different but small. The sample size here means that this difference might be lost. Can you not increase the shot count? Or change the eps of the optimizer to make larger differences if its an issue with finite gradient. As I said Aer and BasicAer differ on what they do if these circuits are batched in job as to how seed_simulator is used. I cannot rec

[2020-12-01 19:26] PabloAMC commented on #1461
To see that the error is independent of my code, you may want to use the following string as a bitmap
[code]

We can check that the output at the positions starting by `'1101000101'`  is `1`using
[code]
which will output
[code]

We can try to see if we can actually get the output, which will be in register `ancilla`. We first create the circuit
[code]
Then we create the oracle
[code]
And finally w

[2020-12-02 01:08] amitracal commented on #1433
@yaelbh I can start working on it starting on Thursday because of other priorities, its great that you found the root cause, please let me know what changes you want me to do.

[2020-12-02 08:13] yaelbh commented on #1433
I think it's best to consult with someone from Aqua about the best way to use QAOA (for example, what is the recommended number of shots?). Also, following discussion in #1463, it may help to stop fixing the simulator seed (i.e., remove the parameter `seed_simulator` from `QuantumInstance`), and maybe also the transpiler seed.

[2020-12-02 08:18] yaelbh commented on #1463
I'm indeed thinking of a higher level seed, as you describe. It would help me if it existed. But if you disagree, then it's OK to close this issue, or label it as "enhancement" rather than "bug".

[2020-12-02 09:30] yaelbh commented on #1463
Once the experiment class is ready and integrated with Aqua, this request of a high level random seed will fit naturally there.

[2020-12-02 10:20] Cryoris commented on #1451
We could update the install hints from what it is now
[code]
to
[code]
to make it copy+pasteable 🙂

[2020-12-02 10:27] Cryoris opened #1465 "Allow access to the loss-function in VQC"
### What is the expected enhancement?

It would be nice to have a handle to the loss function of VQC if one doesn't want to go via `train` to optimize the parameters. Reasons for that could be just for playing around, getting a better feeling of the loss landscape or running custom optimizers not adhering to the `Optimizer` interface. While technically possible right now, it's not very straightfor

[2020-12-02 10:30] Cryoris opened #1466 "Improve handling of ``params`` argument in ``Gradient.convert``"
### What is the expected enhancement?

The `convert` method of the gradients takes a `params` argument specifying for which parameters the gradient should be computed. The error messages and supported input types of that argument vary between `Gradient`, `NaturalGradient`, `QFI` etc. For instance, `Gradient.convert` supports `ParameterVector`s but for the others the parameter vector must explicitl

[2020-12-02 15:41] #1425 closed

[2020-12-02 16:28] woodsp-ibm commented on #1463
A seed-experiment sounds fine for whatever integration becomes of QuantumInstance and experiment class. I am still doubtful of its applicability to your described problem. It seems that when things are close to somehow try to rely on different outcome from a different seed may not turn out as expected and still give the same outcome. For sure with the exact same seed there is no chance for a diffe

[2020-12-02 16:48] woodsp-ibm commented on #1433
SLSQP is a gradient based optimizer and by default its using a finite difference where eps (the epsilon distance from the current point to surrounding points) is very small. I can imagine that small perturbations here (ie sampling noise) can have quite an impact. Normally in such 'noisy' environments we suggest using an optimizer that is designed to work in the presence of noise such as SPSA. In t

[2020-12-02 17:47] yaelbh commented on #1433
Although `include_custom` is `True`, when I debug I see a circuit without snapshots, executed 1024 times.

[2020-12-02 17:49] yaelbh commented on #1463
I suggest to close the issue for now, and return to this topic later with the experiment class.

[2020-12-02 19:26] woodsp-ibm commented on #1433
Hmmm, I wonder if the check for Aer qasm simulator is not returning correctly when the QasmSimulator is given directly like that with the MPS method. To included snaphots the ExpectationFactory would need to select the AerPauliExpectation. Perhaps you would like to set the expectation manually and see if that works as expected - on QAOA constructor add `expectation=AerPauliExpectation()` - the lat

[2020-12-02 21:19] MariaSapova opened #1467 "ADAPT-VQE fails with Aer simulator"
### Information

- **Qiskit Aqua version**: 0.23.1
- **Python version**:  3.6.8
- **Operating system**: Ubuntu

### What is the current behavior?

Adapt-VQE works fine with BasicAer, but fails with Aer backends (both statevector_simulator and qasm_simulator).
In previous qiskit verstion VQEAdapt worked fine.
[code]

### Steps to reproduce the problem

After molecule definition I use built-in metho

[2020-12-03 06:00] ikkoham commented on #1427
I reopened. I will make 3 PR for this issue. (1/3 done)

[2020-12-03 08:01] mrossinek commented on #1467
Hi @MariaSapova! Unfortunately, I am unable to reproduce your error. But I am happy to try and help you debug this problem. I would like to clarify a few things first:
* What is your Qiskit Aqua version? Above, you wrote `0.23.1` but this version does not exist.
* Could you try a newer Python version? Python 3.6 is deprecated as of version `0.17.0`.
* Since this could be an Aer related problem, wh

[2020-12-03 08:15] mrossinek commented on #1467
Having found out about the meta package version numbering I know was able to reproduce your error with a stable-branch installation of Qiskit. Let me dig into this a little bit more and get back to you on this.

[2020-12-03 08:38] mrossinek commented on #1467
PR #1447 fixes this issue and was merged about a week ago. Thus, my initial attempt of reproducing the bug failed, because it is no longer present on the `master` branch.

This means that you have several options:
- wait for the next meta-package release
- install Qiskit Aqua manually at the commit 8583056 (even 0bf9873 is fine, but the commit after that will not work unless you install Terra from

[2020-12-03 15:34] rsln-s commented on #1246
Just wanted to bump this and tagging some active developers in the hope of getting some movement on this @woodsp-ibm @Cryoris @manoelmarques. I'm observing the same issue with operator exponentiation behaving inconsistently. The versions between which I observe the difference align with @danlkv. I'm not just getting different energies, I'm getting different amplitudes after the QAOA circuit execut

[2020-12-03 18:36] danlkv commented on #1246
It looks like the way to get the correct expectation is following:

[code]

[2020-12-03 18:40] rsln-s commented on #1246
@danlkv This does not address the issue with the _amplitudes_ being different; try running my example above with `qiskit==0.15.0` and `qiskit==0.23.1`

[2020-12-03 18:51] danlkv commented on #1246
I just wanted to share for anyone that could face this problem. The cost landscape is still similar, so maybe amplitudes are just rotated by some phase

[2020-12-03 18:53] rsln-s commented on #1246
Unless there's a mistake in the code I shared above, this is not just a global phase issue...

[2020-12-03 18:58] nonhermitian opened #1469 "VQE does not respect input variational form"
### Information

- **Qiskit Aqua version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
In going through this tutorial here: https://qiskit.org/documentation/tutorials/chemistry/03_ground_state_solvers.html it is clear that the `VQE` solver does not actually use the input variational form.  For example, I can do

[code]
which yields:

[code]

However thi

[2020-12-03 19:03] danlkv commented on #1246
Ah, I see, you already looked at `(qiskitversion23 / qiskitversion15)`. I don't know then:)

[2020-12-03 19:29] nonhermitian opened #1470 "SummedOp repr should be readable and executable"
### What is the expected enhancement?
Currently the repr of `SummedOp` is not very readable, especially at larger qubit counts where is ti dominated by boolean `True` / 'False` values.  Instead, this should be replaced by something similar to what is returned by `print(SummedOp)` but is actually executable if copied and pasted. E.g.

[code]

[2020-12-03 19:38] nonhermitian opened #1471 "pyscf driver does no checking on input arguments at instantiation"
### Information

- **Qiskit Aqua version**: lastest
- **Python version**:
- **Operating system**:

### What is the current behavior?
for example:
[code]
does not generate an error when the object is built.  The `unit` kwarg does look for an enum, but that is it.  This leads to hard to read errors down the line:

e.g. the above gives:

[code]

or

[code]

gives:

[code]

### Steps to reproduce the

[2020-12-03 19:41] nonhermitian opened #1472 "Drivers should explicitly mention what values they allow for basis kwarg"
### What is the expected enhancement?

There is no way to tell from the documentation what values are supported for the `basis` kwarg in the drivers.  Only `PyQuanteDriver` gives the values, the rest just say `basis (str) – Basis set`.

For reference see: https://qiskit.org/documentation/apidoc/qiskit.chemistry.drivers.html

[2020-12-03 20:01] nonhermitian commented on #1469
I removed the portion about the transformation class as I do not think it was actually valid.

[2020-12-04 01:41] ikkoham commented on #1469
# try to set the number of qubits on the variational form, if possible
https://github.com/Qiskit/qiskit-aqua/blob/master/qiskit/aqua/algorithms/minimum_eigen_solvers/vqe.py#L274

This seems a current specification.
I think this is not user friendly, but we need to discuss changing the behavior.

[2020-12-04 01:49] ikkoham commented on #1470
Now we have PauliSumOp.
repr
[code]

str
[code]

We have to fix this in SparsePauliOp at first.

[2020-12-04 06:24] ikkoham commented on #1470
For SummedOp[PauliOp], the problem is resolved by https://github.com/Qiskit/qiskit-terra/pull/5261.

[2020-12-04 12:22] MariaSapova commented on #1467
@mrossinek thank you! I installed master version of qiskit and now it works fine. However, I would like to point out one thing:
with qasm simulator aux_operator values grow quadratically with the number of shots. I've already mentioned the same thing for QEOM #1460.

I think that it would be nice to normalize them.

![image](https://user-images.githubusercontent.com/71624472/101162918-05ec9980-364

[2020-12-04 16:59] woodsp-ibm commented on #1467
While you seem to have an appropriate ground state the other operators, such as number of particles (1.948676 million!) and dipole moment are way off (to put it mildly!) @mrossinek Any comments here?

[2020-12-04 17:08] mrossinek commented on #1467
Hi @woodsp-ibm. I was actually just working on a fix together with @Cryoris.
See the new PR #1473

[2020-12-04 17:18] woodsp-ibm commented on #1471
There is a finite amount of checking that is done and also things are passed to the driver for interpretation too, like the molecule since different formats are possible XYZ, Z_matrix etc. Things like basis set are dependent on driver. Even if the format is correct it may still be semantically incorrect in which case these types of errors, incorrect basis set name etc are caught by the driver and

[2020-12-04 17:30] woodsp-ibm commented on #1469
The reason this was done was to allow the var form to be passed like a template if you will. In many cases a user will not know the actual number of qubits until the problem is computed and turned into some operator. So the design allows the var form num qubits to be updated when applicable. So for example work when you want to say solve an optimization problem you can pass the optimization capaba

[2020-12-04 17:45] nonhermitian commented on #1469
But again then the routine should raise rather than modify implicitly.  I would also say that the tutorial should then just pass the ansatz as a template rather than specified by `num_qubits` which is just overridden anyway.

[2020-12-04 17:58] nonhermitian commented on #1471
But then the end user has no idea what is actually a valid input for most of the inputs.  In the case of basis, there must be a finite number of options.  In the case of pyscf, a quick glace at their docs gives:

'sto3g'
'sto-3g'
'sto6g'
'sto-6g'
'631g'
'6-31g'
'321g'
'3-21g'
'ccpvdz'
'cc-pvdz'
'gth-szv'
'gthszv'

as as valid inputs.  Again, `QiskitChemistryError: 'Failed electronic structure comp

[2020-12-04 22:44] woodsp-ibm commented on #1471
Maybe something can be said around the basis sets to make it clearer we expect users to look to the driver documentation for whatever these are. The set in PySCF is much much larger than you indicate - more like this here https://sunqm.github.io/pyscf/_modules/pyscf/gto/basis.html

The 'electronic structure computation` should also have the source exception from PySCF that this was re-raised from.

[2020-12-04 22:54] nonhermitian commented on #1471
Ok then it seems you already know where to find the basis options. Can just refer the user there in the docs. As for molecule, you would expect that the driver would error if something that was not a molecule instance was passed.

[2020-12-07 09:44] SashwatAnagolum commented on #1465
Hi @Cryoris !

I'd like to work on this, if that's okay!
Apart from being able to get the loss function via `vqc.loss` (so that calling `vqc.loss(params)` would give us the value of the loss function evaluated at that point in the parameter space) is there anything else you think would be cool to add?

[2020-12-07 12:10] MariaSapova opened #1474 "GroundStateEigensolver does not handle None aux operators"
### Information

- **Qiskit Aqua version**: 0.23.1
- **Python version**: 3.7
- **Operating system**: Ubuntu

### What is the current behavior?
GroundStateEigensolver fails with None operators in aux_operators list. In VQE there is a special check for None operators, while in GroundStateEigensolver (AdaptVQE) they are directly passed to ``_eval_op()``.

### Steps to reproduce the problem
Please run

[2020-12-08 10:42] Cryoris commented on #1465
Great to hear! We're currently moving the algorithms to the Terra repository, see Qiskit/qiskit-terra#5479, so for this modification we have to wait until that is merged and then to the PR there.

I think the loss is good for now 👍

[2020-12-08 12:03] SashwatAnagolum commented on #1465
Okay, sounds like a plan!

I'm assuming that this applies to all work on the algorithms section (we'll need to fork Terra and work on the issues there, once the merge is done)?

[2020-12-08 12:43] Cryoris commented on #1465
Exactly 👍

[2020-12-08 15:32] woodsp-ibm commented on #1471
Other attributes have refs. to more specifics in PySCF that detail the value so it seems reasonable to give one here.

It did error - the error it threw when it attempted to access a field it expected on the instance that was passed. I agree its not so easy to figure from the error perhaps but then this can often be the case with Python as its not a strongly typed language and type checking is rea

[2020-12-08 15:35] woodsp-ibm commented on #1472
#1471 discusses this for PySCF

[2020-12-09 01:56] HNK-coder opened #1475 "'aux_operators' is altered in GroundStateEigensolver.solve"
### Information

- **Qiskit Aqua version**: master
- **Python version**: 3.8.6
- **Operating system**: Ubuntu 18.04

### What is the current behavior?
When Fermionic operators 'aux_operators' is passed to GroundStateEigensolver.solve, on return it doesn't keep the original operators.

### Steps to reproduce the problem
just run this with arbitrary aux_operators to see if it keeps the original Ferm

[2020-12-09 18:34] siggisigg opened #1478 "SVD Error while running the HHL algorithm with qasm"
### Information

- **Qiskit Aqua version**: 0.7.5
- **Python version**: 3.7.9
- **Operating system**: Windows 10

### What is the current behavior?
When running the HHL algorithm on a test case with a qasm simulator this error is cast

I have tried with multiple matrices and all give the same result. I also get this error when trying to run on the online simulator.

### Steps to reproduce the prob

[2020-12-09 18:40] siggisigg commented on #1432
I have had the same issue, and I am on Windows too (Anaconda/Spyder). I can also say that it does connect to the complexity of the matrix as I have run multiple experiments and it always crashes on around the same complexity levels.

[2020-12-09 19:51] siggisigg commented on #1478
I ran this same code on ubuntu , using [WSL] (https://docs.microsoft.com/en-us/windows/wsl/about), with qiskit version 0.13.0 and Aqua 0.8.1 and there this error did not show up.

[2020-12-09 20:13] siggisigg commented on #1478
Upgrading the Qiskit version solved it.

 'qiskit-aer': '0.7.1',
 'qiskit-ignis': '0.5.1',
 'qiskit-ibmq-provider': '0.11.1',
 'qiskit-aqua': '0.8.1',
 'qiskit': '0.23.1'}

[2020-12-09 20:13] #1478 closed

[2020-12-10 07:21] mrossinek commented on #1475
Hi @HNK-coder! Just to clarify: do you want this change because

a) you want to be able to pass aux_operators which do not need to be transformed and therefore should not be changed or

b) you want the `aux_operators` list to be untouched in order to be able to reuse it? (Because the way it is implemented now, the list is changed in place due to Python's "pass-by-assignment" strategy)

Fixing b) i

[2020-12-10 07:38] mrossinek commented on #1474
@MariaSapova Thanks for raising this issue! Since I am not sure whether you receive notifications when I reference this issue with a commit or PR this is a just a short heads-up that a fix is underway in #1477 :+1:

[2020-12-10 07:39] mrossinek commented on #1467
Since the Aqua core is in the process of being merged into Terra, I re-opened the PR which fixes this over there. See Qiskit/qiskit-terra#5496

[2020-12-11 00:14] HNK-coder commented on #1475
(b) is my answer.  Currently, as a tentative workaround, I have to pass a copy instead of the original list. Thank you.
 
----- 元のメッセージ -----送信元: Max Rossmannek <notifications@github.com>宛先: Qiskit/qiskit-aqua <qiskit-aqua@noreply.github.com>Cc: HNK-coder <hajime.nakamura1@ibm.com>, Mention <mention@noreply.github.com>件名: [EXTERNAL] Re: [Qiskit/qiskit-aqua] 'aux_operators' is altered in GroundStat

[2020-12-14 23:53] amitracal commented on #1433
I did one QUBO with 100 variables from a real example through QAOA MPS, it ran ok for 4 days but provided wrong results, attaching it with results through CPLEX and MPS QAOA
[RQAOA100_MPS - Actual data.zip](https://github.com/Qiskit/qiskit-aqua/files/5692257/RQAOA100_MPS.-.Actual.data.zip)

[2020-12-15 05:12] t-imamichi commented on #1470
Is it resolved?

[2020-12-16 13:52] MariaSapova opened #1486 "Add 'frozen_extracted_energy' to BOPESSampler"
### Information

- **Qiskit Aqua version**: master branch
- **Python version**:  3.7
- **Operating system**: Ubuntu

### What is the current behavior?

BOPESSampler returns energy without frozen part.

### Steps to reproduce the problem

I run calculations for LiH with frozen core.

### Suggested solutions

Add  `self._raw_results[key].frozen_extracted_energy` to `energy` [here](https://github.com

[2020-12-20 09:52] yonizim opened #1491 "SPSA initialization in debug mode"
### Information

- **Qiskit Aqua version**: 0.8.0
- **Python version**: 3.8.5
- **Operating system**: MACOS 10.15.7

### What is the current behavior?

When running in debug mode, the SPSA class initialization (qiskit/aqua/components/spsa.py) terminates with "RuntimeError: dictionary changed size during iteration". It happens in the following lines:

[code]

### Steps to reproduce the problem

###

[2020-12-20 17:33] molar-volume commented on #1466
Maybe `params` should not be `Optional` in `convert`, if the error is raised for `None`.

[2020-12-20 22:00] JosDenmark commented on #1462
@adekusar-drl Are you still working on this?

[2020-12-21 04:37] t-imamichi commented on #1462
If @JosDenmark does not do it, @adekusar-drl or I will do it next month.

[2020-12-21 09:39] Cryoris commented on #1466
I agree it probably shouldn't, feel free to work on this! Make sure that you make the changes to Terra though, the operators are in `qiskit.opflow` 🙂

I think we wanted to add a default behavior that all parameters are used but that requires that they are sorted, which we don't have at the moment. So for now let's just make it not optional.

[2020-12-21 10:00] MariaSapova commented on #1460
Hello @paulineollitrault ! Could you please provide any insights on how to deal with this inconsistence in qasm results?

[2020-12-21 10:06] paulineollitrault commented on #1460
Hi @MariaSapova! A fix is pending (see above), waiting to be merged

[2020-12-21 10:40] MariaSapova commented on #1460
@paulineollitrault as far as I can see this commit fixes the normalization of the matrix elements, but what about differences in q_0_0, q_1_1, q_2_2 values? I guess the energies differ because of this matrix elements.

![image](https://user-images.githubusercontent.com/71624472/102768350-1619ae00-4392-11eb-890b-491de1f27ca6.png)

[2020-12-21 12:50] adekusar-drl commented on #1462
I have not started working on this. Planning to look at it in January.

[2020-12-24 11:43] SashwatAnagolum commented on #1465
Hi @Cryoris ,

I noticed that while a bunch of algorithms were moved to Terra, the VQC (plus the QGAN and a couple others) were not - does that mean I can go ahead and make a PR for this issue in Aqua, or will they be moved in a bit as well?

Thanks!

[2020-12-25 11:35] Cryoris commented on #1465
You should make the PR to Terra, I'lol transfer the issue there. But the code is still the same so if you started working on it already you should just be able to copy the code 🙂

[2020-12-26 16:36] SashwatAnagolum commented on #1465
I've made a PR that fixes the loss function handle - but a bunch of imports are broken (which I'm fixing right now). It would be great it you could let me know what you think the best way forward would be:

* The [`split_dataset_to_data_and_labels`](https://github.com/Qiskit/qiskit-aqua/blob/b80eb8e99cc302c52a0d74bf885a26330673c06b/qiskit/aqua/utils/dataset_helper.py#L107) and [`map_label_to_class

[2020-12-31 21:35] jason-jk-kang opened #1494 "How do you print what has been run?"
Hi all quick question: after running an aqua algorithm on a qasmsimulator, is there a quick way to print the whole circuit so that I can view what has been done?

[2021-01-02 10:57] SashwatAnagolum commented on #1494
Hi @jason-jk-kang ,

Great question!

Currently there is no method supported by the `QuantumAlgorithm` class that allows you to do that, so there isn't one method is is guaranteed to work for all the different kinds of algorithms you run.

For `VQAlgorithm` instances you can call `get_optimal_circuit()`, but for other algorithms, like the `QGAN` (for which you can construct the final circuit using

[2021-01-04 08:33] mrossinek commented on #1467
This issue is now also fixed in the migrated Aqua core inside of Terra. Closing.

[2021-01-04 08:33] #1467 closed

[2021-01-04 08:37] Cryoris commented on #1394
This should have been closed by #1407.

[2021-01-04 08:37] #1394 closed

[2021-01-04 14:18] stefan-woerner commented on #1465
@Cryoris @SashwatAnagolum VQC won't be moved to Terra, only the "core algorithms" will go there. VQC will stay in aqua for now.

[2021-01-05 17:12] SashwatAnagolum commented on #1454
Hi @Zoufalc ,

I can think of a couple of options that would allow us to change the optimizer / gradient function when training, please let me know which one you think works best, or if you think something else would work better:
* Create a `set_generator_optimizer` function in `qgan.py` so that we can change optimizers by calling this method.
* Add params to `QGAN.train()` so that we can pass in

[2021-01-06 11:26] Zoufalc commented on #1454
Thanks for your suggestions.

Since there is already the possibility to define a new generator -- including the optimizer -- after instantiation of a `QGAN` algorithm using `set_generator`, I would recommend adding a `set_optimizer` function to `quantum_generator.py`.

[2021-01-11 16:06] mtreinish opened #1498 "QSVM classification tutorial fails with Scipy 1.6.0"
### Information

- **Qiskit Aqua version**: 0.8.1
- **Python version**: 3.8
- **Operating system**: Linux

### What is the current behavior?

When running the qsvm tutorial with the latest scipy (1.6.0) the tutorial fails in the qp_solver module trying to run cvxpy to solve the quadratic programming problem with a mismatched dimension error:

[code]

### Steps to reproduce the problem

Run https:/

[2021-01-12 04:44] #1272 closed

[2021-01-12 18:00] nonhermitian opened #1499 "Need better error when Operator not formed correctly"
### Information

- **Qiskit Aqua version**: latest
- **Python version**:
- **Operating system**:

### What is the current behavior?
If missing an element in the first operator one gets a clean error:

[code]

throws the error:

[code]

however if missing a term later in the sum then one gets a cryptic error msg:

[code]

[code]
### Steps to reproduce the problem

### What is the expected behavior?

[2021-01-14 05:44] t-imamichi opened #1501 "Unit test of amplitude estimation fails"
### Information

- **Qiskit Aqua version**: master (189536b)
- **Qiskit Terra version**: master (https://github.com/Qiskit/qiskit-terra/commit/21f78dc5ee236d51697e65db916ccd04f4dfc3bc)
- **Python version**: 3.8.7
- **Operating system**: macOS 10.15.7

### What is the current behavior?

The unit test of amplitude estimation in Aqua fails.

### Steps to reproduce the problem

[code]

### What is the

[2021-01-14 09:44] Zoufalc opened #1503 "Exploit symmetry in QFI and Hessian construction"
### What is the expected enhancement?

The Quantum Fisher Information (QFI) and the Hessian with respect to the supported types of parameterized quantum circuits are symmetric. However, the current implementation evaluates every entry individually without taking this symmetry into account.

[2021-01-14 15:25] #1501 closed

[2021-01-14 16:11] #1475 closed

[2021-01-14 22:45] #1491 closed

[2021-01-14 23:03] woodsp-ibm commented on #1503
Should this be opened on the Terra repo now that opflow/gradients are maintained there.

[2021-01-14 23:09] woodsp-ibm commented on #1494
In general the algorithms have a construct_circuit() that allows you to build/see the circuit that would be run and potentially run it yourself. When its an interative or variational algorithm then many circuits may be run under different parameters. Construct circuit may then require additional parameters to build it out, and for that you would need to look at the specific algorithm you wanted to

[2021-01-15 08:40] Zoufalc commented on #1503
Sure will do.

[2021-01-15 17:23] #1474 closed

[2021-01-18 06:42] t-imamichi opened #1508 "CPLEX cannot be installed in Python 3.8"
### Information

- **Qiskit Aqua version**: NA
- **Python version**: 3.8.7
- **Operating system**: macOS 10.15.7

### What is the current behavior?

IBM released CPLEX 20.1 community version at PyPI and it contains a file for Python3.8.
But, I tried to install it on macOS and Linux and failed.
On the other hand, I confirmed that cplex can be installed in Python 3.7.

### Steps to reproduce the pro

[2021-01-18 10:29] iuliazidaru opened #1509 "QAOA with ideal noise returns wrong result"
### Information

- **Qiskit Aqua version**: qiskit-aqua': '0.8.1
- **Python version**: 3.8.2
- **Operating system**: System: Darwin

### What is the current behavior?
QAOA applied to the linear equation: minimize obj(x1 + x2+ x3 + ..x20) returns wrong result: 2

### Steps to reproduce the problem

[code]

### What is the expected behavior?

minimum value must be 0, and the solution 000000000000000

[2021-01-18 10:32] iuliazidaru commented on #1509
This is related to : https://github.com/Qiskit/qiskit-aqua/issues/1434

[2021-01-18 12:51] phalgunlolur commented on #862
Hi @nonhermitian

I was wondering if there's an update on this. Would help my calculations quite a bit!

Thanks

[2021-01-18 12:53] nonhermitian commented on #862
We have some ideas in this direction. It is of course an heuristic, but is better than nothing. Not sure of the time frame at the moment.

[2021-01-18 23:07] MariaSapova opened #1510 "GroundStateEigensolver evaluate_operators() works incorrectly with qasm"
### Information

- **Qiskit Aqua version**: qiskit-master
- **Python version**: 0.3.7
- **Operating system**: Ubuntu

### What is the current behavior?

I investigated my issue #1460, where matrix elements of Q matrix in qEOM were completely incorrect. It turns out that using evaluate_operators() from GroundStateEigensolver produces incorrect expectation values when running with qasm simulator.

#

[2021-01-20 17:26] #1462 closed

[2021-01-21 04:45] jason-jk-kang commented on #1446
Hi @Cryoris, to reopen what i'm interested in is the compute_minimum_eigenvalue, which in VQE is implemented as

`def compute_minimum_eigenvalue(
            self,
            operator: Optional[Union[OperatorBase, LegacyBaseOperator]] = None,
            aux_operators: Optional[List[Optional[Union[OperatorBase,
                                                        LegacyBaseOperator]]]] = None

[2021-01-21 07:24] Cryoris commented on #1446
It set's the properties `self.operator` and `self.aux_operators`, as you can see here:
https://github.com/Qiskit/qiskit-aqua/blob/0a062cd31597548136a7564129276df5cb5478b6/qiskit/aqua/algorithms/minimum_eigen_solvers/minimum_eigen_solver.py#L33

Since all minimum eigensolvers do this, this was bundled in the base class.

[2021-01-21 16:58] woodsp-ibm commented on #1029
As opflow has been moved over to Terra repository (deprecated here) and Z2_symmetry has been implemented there I am closing this issue.

[2021-01-21 16:58] #1029 closed

[2021-01-25 03:02] t-imamichi commented on #1508
New files for Python 3.8 are uploaded on Jan 23.
https://pypi.org/project/cplex/20.1.0.0/#files

[2021-01-25 03:02] #1508 closed

[2021-01-26 14:11] woodsp-ibm commented on #1503
Closing as this was migrated to Terra https://github.com/Qiskit/qiskit-terra/issues/5631

[2021-01-26 14:11] #1503 closed

[2021-01-26 14:12] woodsp-ibm commented on #1494
Question has been answered so closing.

[2021-01-26 14:12] #1494 closed

[2021-01-26 14:16] woodsp-ibm commented on #1470
Closing as resolved as stated above. If the resolution needs any further work then an issue should be raised in Terra where the opflow has been migrated and is now being maintained.

[2021-01-26 14:16] #1470 closed

[2021-01-26 14:18] woodsp-ibm commented on #1465
This enhancement was addressed by the now merged #1495 so closing this.

[2021-01-26 14:18] #1465 closed

[2021-01-26 14:30] woodsp-ibm commented on #1416
Do we need this issue anymore - can it be closed?

[2021-01-26 14:31] woodsp-ibm commented on #1413
Closing as answered

[2021-01-26 14:31] #1413 closed

[2021-01-26 15:24] manoelmarques commented on #1509
In the above notebook just changing from SLSQP() to COBYLA(), I got the correct results.

[2021-01-26 15:29] woodsp-ibm commented on #1215
The above references a fix that resolves the problem - so closing this.

[2021-01-26 15:29] #1215 closed

[2021-01-26 15:32] woodsp-ibm commented on #1163
Is this still valid, and if so should it be moved to Terra repo given that opflow has been moved and is being maintained there now? Or  should this be closed?

[2021-01-26 15:51] woodsp-ibm commented on #1136
@jlapeyre Do we need this transferring over to Terra?

[2021-01-26 15:59] yaelbh commented on #1163
It's an Aer thing. As commented above, the variance should be equal to 0, since this is not an estimator. But it is perhaps about to change, @chriseclectic should know more.

[2021-01-26 16:31] woodsp-ibm commented on #1068
This work has been ongoing in Terra - AE has been refactored Qiskit/qiskit-terra#5517 and Grover is being done Qiskit/qiskit-terra/#5680 HHL is being completely rewritten Qiskit/qiskit-terra#5698 Since these algorithm have been moved to Terra and the work is done/ongoing there via the referenced PRs, I am closing this here.

[2021-01-26 16:31] #1068 closed

[2021-01-26 16:44] woodsp-ibm commented on #1463
Closing as suggested.

[2021-01-26 16:44] #1463 closed

[2021-01-26 16:52] woodsp-ibm commented on #1469
@nonhermitian Since this relates to the tutorial can you transfer this across there to have it improved (I have no permission) so it removes an explicit num qubits setting

As mentioned, in regard of updating num-qubits, this is what the Blueprint circuits are about - templates that can later instantiated. Upfront a user will often not know what the problem size is, in terms of qubits, but they ca

[2021-01-26 16:56] woodsp-ibm commented on #1452
@Cryoris were the uncertainty models investigated - I assume this issue is still present in the code?

[2021-01-26 17:18] woodsp-ibm commented on #1446
As this has been answered I am closing this.

Do note that there is an Qiskit Slack workspace where there channels where questions can be asked etc., and searched for anything related or if its been asked for before etc - the link to join, if you are not part of that workspace a link to join can be found at the bottom of the main qiskit.org page as icons in the STAY CONNECTED section of the footer

[2021-01-26 17:18] #1446 closed

[2021-01-26 17:53] woodsp-ibm commented on #1432
HHL is being reworked under this PR Qiskit/qiskit-terra#5698 where core algorithms have been moved to Terra repo and are being maintained there. The code here will be deprecated and as such is frozen - hence I am closing this issue.

[2021-01-26 17:53] #1432 closed

[2021-01-26 17:53] woodsp-ibm commented on #576
HHL is being reworked under this PR Qiskit/qiskit-terra#5698 where core algorithms have been moved to Terra repo and are being maintained there. The code here will be deprecated and as such is frozen - hence I am closing this issue.

[2021-01-26 17:53] #576 closed

[2021-01-26 17:54] woodsp-ibm commented on #899
HHL is being reworked under this PR Qiskit/qiskit-terra#5698 where core algorithms have been moved to Terra repo and are being maintained there. The code here will be deprecated and as such is frozen - hence I am closing this issue.

[2021-01-26 17:54] #899 closed

[2021-01-26 17:54] woodsp-ibm commented on #902
HHL is being reworked under this PR Qiskit/qiskit-terra#5698 where core algorithms have been moved to Terra repo and are being maintained there. The code here will be deprecated and as such is frozen - hence I am closing this issue.

[2021-01-26 17:54] #902 closed

[2021-01-26 18:12] Cryoris commented on #1363
Most points have been taken care of in improvements and fixes, such as Qiskit/qiskit-terra#5501.

[2021-01-26 18:12] #1363 closed

[2021-01-26 19:38] heinzay1999 opened #1514 "One of the ML link is not working"
### Information

- **Qiskit Aqua version**:
- **Python version**:
- **Operating system**:

### What is the current behavior?
The link posted below doesn't seem to be leading to the correct page.

https://github.com/Qiskit/qiskit-tutorials/tree/master/legacy_tutorials/aqua/machine_learning

### Steps to reproduce the problem
This link is located in the Machine Learning's Further example section

##

[2021-01-26 20:07] woodsp-ibm commented on #1017
@Cryoris Does this still apply to the refactored AE or can this be closed? If it needs to stay open I will xfer to Terra.

[2021-01-26 20:22] #1451 closed

[2021-01-26 20:31] Cryoris commented on #1017
It doesn't apply to the refactored AE in Terra, but still does to the one in Aqua if used with `CircuitFactory`s.

[2021-01-26 21:27] woodsp-ibm commented on #1017
Ok I  labelled that it will not be fixed as the AE logic here is deprecated.

I will leave this open here for now such that anyone who might experience this issue might see this. The advise now is to use the AE algorithms that were moved/refactored to the qiskit-terra repo, which is where the code will reside now and be maintained, that do not have this issue.

[2021-01-26 22:22] woodsp-ibm commented on #1405
The VQE setting, `include_custom=True`, as shown above should be more performant. This initially was the default but we had feedback that qasm_simulator was normally chosen, over statevector, as behavior with shot noise was wanted to be investigated and that it was not the default was problematic as the custom expectation using Aer, as enabled by the above, while its fastest has the same ideal out

[2021-01-26 22:22] #1405 closed

[2021-01-26 22:22] #1514 closed

[2021-01-26 22:25] woodsp-ibm commented on #1015
@ikkoham In the changes you did around expectation was this issue already addressed?

[2021-01-26 22:34] woodsp-ibm commented on #1366
Do we need to keep this 'meta' issue. There are the individual issues that are opened, this is really just adding some higher level context linking them. The issues themselves could be cross-linked with the context.

[2021-01-26 22:56] woodsp-ibm commented on #1271
@jlapeyre Is this valid anymore or can be closed?

[2021-01-26 23:07] woodsp-ibm commented on #1092
@jlapeyre Should the documentation somewhere be enhanced to cater to this? If so I'll transfer to Terra since it needs to be done on the opflow now moved there.

[2021-01-26 23:14] woodsp-ibm commented on #947
Since Aqua repo contents are being moved out to Terra and domain related repos I think this can be closed rather than open issues on these new repos. Tests out to be improved etc on an ongoing basis in any case, and given the refactoring/move its an immediate opportunity to consider improving tests

[2021-01-26 23:14] #947 closed

[2021-01-27 00:53] ikkoham commented on #1163
This will be resolved by `SaveExpVal`. https://github.com/Qiskit/qiskit-aer/pull/1101

Closable

[2021-01-27 05:02] t-imamichi commented on #1416
What do you think of this topic? Should we keep `PauliOp.commutes`? May I deprecate it?

[2021-01-27 07:35] Cryoris commented on #1364
Some of these have been taken care of, the only occurrences left over are in the parameter shift gradient, where it seems the deepcopy is required and one in the linear combination gradients, where one could remove it but it would require some more thinking and probably a change to `ListOp.traverse` where one could set indices of the operators to be traversed. Closing this for now, since it doesn'

[2021-01-27 07:35] #1364 closed

[2021-01-27 07:42] yaelbh commented on #1366
Agree, closing

[2021-01-27 07:42] #1366 closed

[2021-01-27 09:21] iuliazidaru commented on #1509
Thank you for the hint @manoelmarques !
I have 3 tests for the same scenario in 3 projects. The test I created in qiskit-aqua worked with COBYLA.
Using
[code]
I get a solution sample containing multiple values and value 0.
<img width="1191" alt="SolutionSample_QsamSimultator" src="https://user-images.githubusercontent.com/2863414/105969256-b7caa400-6090-11eb-8f56-6d1f59689935.png">

Using
`BasicAe

[2021-01-27 12:51] iuliazidaru commented on #1509
@manoelmarques  when I set the initial point, as you said in email, I didn't get the random result anymore and the result is correct so far.
Thank you!

[2021-01-27 16:36] woodsp-ibm commented on #1416
If the method is not required in Terra can it not simply be deleted? Is this not used though by the test abelian grouper to make sure all Paulis in the group commute with one another? If this is not fixable in a way that makes sense, then either a name change or just move the logic over to the test and delete it seem like options? Thoughts. I'll move this issue to Terra anyway since it seems that

[2021-01-27 22:22] woodsp-ibm commented on #588
Closing as there is a issue now opened in Terra to fix this in conjunction with the gradient framework that did not exist at the time.

[2021-01-27 22:22] #588 closed

[2021-01-27 23:25] jlapeyre commented on #1370
I verify that this error still occurs in very recent terra master (179fdf5f3 Jan 12, 2021). This should be migrated to terra, or at least not lost somehow.

[2021-01-27 23:33] jlapeyre commented on #1271
This is still valid. It may be best dealt with as part of a moderate refactoring of the opflow.

[2021-01-28 00:41] jlapeyre commented on #1246
Not 100% sure, but it seems very likely that this issue persists in the code migrated to terra.

[2021-01-28 00:44] jlapeyre commented on #1136
@woodsp-ibm , yes this should be transferred.

[2021-01-28 00:46] jlapeyre commented on #1092
@woodsp-ibm Yes, please do transfer to Terra. It should be dealt with somehow.  Maybe just documenting the behavior. I'll revisit this.

[2021-01-28 14:22] rsln-s commented on #1246
I believe @danlkv has figured this out: the order of the parameters has been changed.

A workaround is simply to swap beta and gamma: https://github.com/danlkv/QTensor/blob/f172751122bd5930e9dfc13790f89210e483e0b8/qtensor/tests/qiskit_qaoa_energy.py#L98

[2021-01-28 14:33] woodsp-ibm commented on #1246
@rsln-s Thanks for responding and noting the 'fix'. The parameter ordering, of the parameterized circuits, that are now used has indeed been problematic and other issues have arisen from this - one noted here Qiskit/qiskit-terra#5721 which itself links to others that are discussing potential change etc in order to have a better defined ordering behavior.

I think we can consider this closed then?

[2021-01-28 14:36] rsln-s commented on #1246
Yes, it's not a bug per se, just an inconsistency between versions. Perfectly fine to close.

[2021-01-28 14:49] #1246 closed

[2021-01-28 17:12] cqc-alec opened #1516 "`AssertionError` in `GroverOptimizer.solve`"
### Information

- **Qiskit Aqua version**: 0.8.1
- **Python version**: 3.8.2
- **Operating system**: Ubuntu 20.04

### What is the current behavior?

Calling `GroverOptimizer.solve` results in an `AssertionError`.

### Steps to reproduce the problem

[code]

Output:

[code]

### What is the expected behavior?

`results` should be populated

### Suggested solutions

?

[2021-01-29 01:03] ikkoham commented on #1015
Sorry. Not adressed. Please move to Terra.

[2021-01-29 20:22] woodsp-ibm commented on #599
As the chemistry operators are being redesigned for the next release of the chemistry capability, see Qiskit/qiskit-nature#4, and Aqua, including the FermionicOperator class will be deprecated, I am closing this issue.

[2021-01-29 20:22] #599 closed

[2021-01-29 20:31] woodsp-ibm commented on #597
Closing for same reason as #599

[2021-01-29 20:31] #597 closed

[2021-01-29 21:40] woodsp-ibm commented on #1265
The Machine Learning functionality in Aqua is being completely rewritten, and the functionality of QSVM with the parallel mapping will be replaced. I do not know if the parallel options as listed above helped in anyway. Either way Aqua, along with this parallel code in QSVM is being deprecated, and hence this is being closed since it will not be relevant to the new code base and there will be no c

[2021-01-29 21:40] #1265 closed

[2021-01-29 21:45] woodsp-ibm commented on #1343
@nelimee Is this something that you are still interested in doing? If its still being looked at I will transfer this issue over to the qiskit-terra repository where @anedumla is working on including the refactored linear solver code.

[2021-01-29 21:53] woodsp-ibm commented on #1460
@paulineollitrault Do you have any response to the last comment above that despite the normalization fix being merged there are still differences? If this is still an issue I will transfer this to the new repo to be fixed there/

[2021-01-30 12:44] MariaSapova commented on #1460
@woodsp-ibm @paulineollitrault Hello! I actually already opened another issue which is more general #1510. I found out that evaluate_operators() in GroundStateEigensolvers produces incorrect expectation values when using qasm. With rewriting expectation value evaluation I could overcome this issue and got correct matricees in QEOM.

[2021-02-01 15:07] nelimee commented on #1343
@woodsp-ibm Yes it is still something I am interested doing! I tried to follow a little bit @anedumla work but got carried away by other things since. You can transfer the issue if you think this is the right thing to do.

[2021-02-03 17:47] manoelmarques commented on #1498
We run that same tutorial on the Aqua CI and it passes on python 3.8. For a recent run:
https://github.com/Qiskit/qiskit-aqua/runs/1824072555?check_suite_focus=true

Also, our CI saves the tutorials as artifacts that can be downloaded. I downloaded the artifact tutorials3.8.zip and looked at the notebook in question and it seemed fine to me. Our tutorial CI is using scipy 1.6.0:
Requirement alread

[2021-02-03 20:04] mtreinish commented on #1498
The difference in the qiskit/qiskit CI is that it runs on released aqua and not master  (since they are run to verify that the versions in the metapackage are compatible and don't regress/are backwards compatible) Looking at the git log I'm wondering if https://github.com/Qiskit/qiskit-aqua/commit/739e3302942a66070566ad28e3708a5f7be93550#diff-373b76176a94d6c7d7584735fbb83cfde7d8b4f678431361d7ae859

[2021-02-03 20:05] mtreinish commented on #1498
I'm also working on trying to fix the CI jobs in qiskit/qiskit, the numpy 1.20.0 release and cvxpy 1.1.8 release broken things have it stuck pretty good. But, once it's working again I can try removing the constraints pin and seeing if the job works

[2021-02-06 06:24] dongsin-kim opened #1526 "No module named 'qiskit.aqua.components.qfts'"
### Information

- **Qiskit Aqua version**: 0.8.1
- **Python version**: 3.8.3
- **Operating system**: Ubuntu 18.04

### What is the current behavior?

Hi, I would like to import `Standard`on `qiskit.aqua.components.qfts`. But I am facing a `'No module named ...'` error.

### Steps to reproduce the problem

![image](https://user-images.githubusercontent.com/44656535/107110884-c08c5880-688e-11eb-9b0

[2021-02-08 06:54] t-imamichi opened #1528 "CI fails to install cryptography 3.4.1"
### Information

- **Qiskit Aqua version**: NA
- **Python version**: NA
- **Operating system**: NA

### What is the current behavior?

CI fails to install cryptography 3.4.1.
If we update pip, it works. But, the current CI config seems to force to use pip 9 as follows.
https://github.com/Qiskit/qiskit-aqua/blob/7c2c2e546e9002e758ff6b25f98a9a594589bd6f/.github/actions/install-libraries/action.yml#L

[2021-02-08 07:20] t-imamichi commented on #1528
I don't think we need to rely on miniconda. Terra does not.

[2021-02-08 07:35] manoelmarques commented on #1528
The reason for miniconda on chemistry unit test is to test psi4 that doesn’t have a proper pip install. It seems cryptography is being installed because of qiskit-ibmq-provider in requirements-dev.txt. IBMQ should not be in requirements-dev.txt as it is not used in any tesl. Probably just removing it will fix the failure

[2021-02-08 15:46] woodsp-ibm commented on #1526
The QFT was moved to the circuit library in Terra https://github.com/Qiskit/qiskit-terra/tree/master/qiskit/circuit/library/basis_change and you can see the published docs for it here https://qiskit.org/documentation/stubs/qiskit.circuit.library.QFT.html#qiskit.circuit.library.QFT

[2021-02-08 18:11] #1528 closed

[2021-02-09 02:56] t-imamichi opened #1530 "Docplex 2.20 does not work without cplex"
### Information

- **Qiskit Aqua version**: latest
- **Python version**: NA
- **Operating system**: NA

### What is the current behavior?

Aqua 0.8.2 includes some workaround for Docplex 2.20, but it has another issue that it does not work without cplex.
See https://github.com/Qiskit/qiskit-optimization/issues/24 for the details.

### Steps to reproduce the problem

### What is the expected behavi

[2021-02-09 05:14] dongsin-kim commented on #1526
Hi @woodsp-ibm, thank you for your reply. Oh, I see. Then, I will look into the document. Thank you. :-)

[2021-02-09 05:14] #1526 closed

[2021-02-09 06:27] t-imamichi commented on #1530
Sorry. I missed that Aqua 0.8.2 pinned docplex==2.15.194. It has no problem.

[2021-02-09 06:27] #1530 closed

[2021-02-16 06:36] t-imamichi opened #1532 "astroid2.5 causes lint errors"
### Information

- **Qiskit Aqua version**: latest
- **Python version**: 3.8.7
- **Operating system**: macOS

### What is the current behavior?

astroid is upgraded to 2.5 recently and it causes lint errors.
astroid 2.4.2 does not cause these errors.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

### Suggested solutions

[2021-02-16 07:50] t-imamichi opened #1534 "Pylint 2.6.1 stops by error"
### Information

- **Qiskit Aqua version**: latest
- **Python version**: 3.8.7
- **Operating system**: macOS

### What is the current behavior?

pylint 2.6.1 stops by error.

### Steps to reproduce the problem

[code]

### What is the expected behavior?

### Suggested solutions

Need to avoid pylint 2.6.1?

[2021-02-16 08:48] t-imamichi commented on #1534
https://github.com/PyCQA/pylint/issues/4096#issuecomment-779668984

[2021-02-16 12:05] t-imamichi commented on #1534
pylint 2.6.2 is released. https://github.com/PyCQA/pylint/releases/tag/pylint-2.6.2

[2021-02-16 12:15] MariaSapova opened #1535 "same_spin_doubles works incorrectly in UCCSD"
### Information

- **Qiskit Aqua version**: qiskit-master
- **Python version**: 3.8
- **Operating system**: Ubuntu

### What is the current behavior?

`same_spin_doubles = True` in UCCSD variational form does not work correctly, when only beta same spin double excitations are required.

### Steps to reproduce the problem

I faced this problem with triplet O2 molecule. For alpha orbitals there is o

[2021-02-16 12:48] manoelmarques commented on #1534
pylint 2.6.2 fixed all the issues by pinning astroid. No need to change out code.

[2021-02-16 12:52] manoelmarques commented on #1532
Pylint 2.6.2 fixes this by pinning astroid. The CI went back to normal because always tests against the pylint from Terra (2.4.4) and the latest pylint.

[2021-02-16 12:53] t-imamichi commented on #1534
Yes, I see pylint 2.6.2 fixes the issues in #1522

[2021-02-16 12:53] #1534 closed

[2021-02-16 14:07] t-imamichi commented on #1532
Yes, I close it as well as #1533

[2021-02-16 14:07] #1532 closed

[2021-02-16 21:47] woodsp-ibm commented on #1535
I am transferring this to qiskit-nature where the chemistry work is now being done for the next release - qiskit-aqua is being deprecated at that time with core algorithms being refactored/moved to terra repo, and application logic to various domain repos.

[2021-02-17 14:02] AzizNgoueya opened #1536 "The function get_vehiclerouting_solution fails with qasm_simulator"
### Information

- **Qiskit Aqua version**: 0.8.1
- **Python version**:  3.9.1
- **Operating system**: Windows

### What is the current behavior?
The method get_vehiclerouting_solution from the optimization module produces a keyerror when trying to solve a vehicle routing on Aer qasm_simulator. This works on Aer statevector_simulator.

### Steps to reproduce the problem
running the vqe algorithm f

[2021-02-19 07:54] t-imamichi opened #1538 "test_weighted_pauli_operator fails"
### Information

- **Qiskit Aqua version**: latest
- **Qiskit Terra version**: latest
- **Python version**: 3.8.7
- **Operating system**: macOS 11.2.1

### What is the current behavior?

test_weighted_pauli_operator.py fails because transpiler does not unroll `snapshot` instruction now.
It may be caused by https://github.com/Qiskit/qiskit-terra/pull/5701

### Steps to reproduce the problem

[code]

[2021-02-19 09:21] t-imamichi commented on #1538
It occurred for Aer too. https://github.com/Qiskit/qiskit-aer/issues/1148

[2021-02-19 21:13] Cryoris commented on #1452
That's actually a bug in `TwoLocal` where using `circular` entanglement on a 2 qubit circuit produces this
[code]
instead of
[code]
Since the `QuantumGenerator` uses `TwoLocal(.., entanglement='circular')` if no generator circuit is given this breaks the QGANs in the two qubit case. Explicitly using the second one with only one CZ produces the right convergence:
<img width="596" alt="image" src="h

[2021-02-20 02:37] t-imamichi commented on #1538
This issue is fixed by https://github.com/Qiskit/qiskit-terra/pull/5882

[2021-02-20 02:37] #1538 closed

[2021-02-22 17:30] woodsp-ibm opened #1540 "QGAN fails with default generator when snapshot_dir is enabled"
This was posted on external Slack workspace

'QuantumCircuit' object has no attribute 'params'

This logic in QGAN attempts to access `params` field and fails when the generator is a TwoLocal circuit (or presumably some other QuantumCircuit chosen by the user). It used to work when the generator supported only the Uni/MultiVariationalDistributions as these have a `params` field. The logic below ne

[2021-02-23 17:42] woodsp-ibm opened #1542 "Revert #1440 i.e. remove PauliSumOp"
A `PauliSumOp` was introduced by #1440 however with the move of opflow to qiskit-terra the work around PauliSumOp functionality was completed there. The function added here has not been released, and the code was moved and is now updated, maintained in terra repo. It is not explicitly used in Aqua outside of opflow other than unit tests with the exception of being added into the QP convertor from_

[2021-02-23 19:54] woodsp-ibm opened #1543 "Pin dependent versions for the final deprecated release."
As Aqua will be completely deprecated upon the next release, consider pinning versions in setup.py, for this final release, to the known working latest version(s) of terra, ignis and also appropriate versions for external dependencies. This will alleviate any necessity to fix anything that might break due to a version change while this package remains out there.

[2021-02-24 20:52] woodsp-ibm commented on #1452
The reported problem has been corrected by the Nlocal fix in Terra, thanks @Cryoris, so I am closing this.

[2021-02-24 20:52] #1452 closed

[2021-02-25 09:14] Cryoris commented on #1540
Since the Uni/MultiVarDists are already deprecated themselves (in fact constructing anything deriving from `CircuitFactory` raises a deprecation error), do we still need to add one inside the algorithms? We could instead also just delete the `CircuitFactory` and derived classes since they've been deprecated for well over 3 months now.

On the other hand, since Aqua will be deprecated soon it might

[2021-02-25 17:05] woodsp-ibm commented on #1540
The main problem here is not the lack of a deprecation warning, that I happened to notice, more that the method to write a row to the output dir fails since there is no params field on the object it is accessing. I believe that logic did work as it was used in the past, but maybe the addition of the QuantumCircuit, to replace the Distributions, changed something which broke it, as it no longer wor

[2021-02-25 17:48] Zoufalc commented on #1540
The PR to fix the snapshot_dir params issue is on the way. Then, we will keep the VariationalDistributions for now.